.filter-time-row {
  padding-top: 0px;
  padding-bottom: 10px;
}

.filter-time-row div {
  padding-top: 0px;
  padding-bottom: 0px;
}

.filter-header {
  text-align: center;
  font-size: 18px;
}

.center-icon {
  position: relative;
  top: 5px;
}

:host ::ng-deep .ui-buttonset {
    width: max-content;
}