<p-panel header="Loop Options" [toggleable]="true">
    <div class="ui-g filter-content">

        <div class="ui-g-5 ui-xl-5 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad" style="top: 10px; bottom: 10px">

            <div class="ui-g-12 ui-g-nopad" style="height: 100%">
                <div class="ui-g-12 filter-header">
                    <span>Options</span>
                </div>

                <p-checkbox class="ui-g-5 ui-g-offset-2" label="Planet Landings" [(ngModel)]="filter_settings.allow_planet" binary="true" (onChange)="filterChanged()"></p-checkbox>
                <p-checkbox class="ui-g-5" label="Hidden Locations" [(ngModel)]="filter_settings.allow_hidden" binary="true" (onChange)="filterChanged()"></p-checkbox>

                <p-checkbox class="ui-g-5 ui-g-offset-2" label="*Only* Selected Items" [(ngModel)]="filter_settings.inclusive_item" binary="true" (onChange)="filterChanged()"></p-checkbox>
                <p-checkbox class="ui-g-5" label="*Only* Selected Locations" [(ngModel)]="filter_settings.inclusive_location" binary="true" (onChange)="filterChanged()"></p-checkbox>



                <div class="ui-g-12 p-grid p-justify-center filter-time-row">
                    <div class="p-col-12 filter-header">
                        <span tisTooltip tooltipContent="Minimum pad size for *all* locations along route.">Minimum pad size</span>
                    </div>
                    <div class="p-col-12 nopad">
                        <div style="margin-left: auto; margin-right: auto; width: max-content">
                            <p-selectButton #padFilterBtn [(ngModel)]="filter_settings.minimum_pad_size" [options]="ClientData.SizeFilterOptions" (onChange)="filterChanged()"></p-selectButton>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 filter-time-row">
                    <div class="p-col-12 filter-header">
                        <span>Per-Location Transit Filter</span>
                    </div>
                    <div class="ui-g-1 time-slider-header">
                        <span tisTooltip tooltipContent="Filter for maximum individual transit time for any location.<br/><br/>Note: Does not include QT travel times!" class="pi pi-fw pi-directions"></span>
                    </div>
                    <div class="ui-g-1 time-slider-value">
                        {{ filter_settings.transit_time_max == 0 ? "Inf" : filter_settings.transit_time_max + "m" }}
                    </div>
                    <div class="ui-g-10">
                        <p-slider [styleClass]="'time-slider'" [(ngModel)]="filter_settings.transit_time_max" [step]="1" [min]="0" [max]="20" (onChange)="filterChanged()"></p-slider>
                    </div>
                </div>

            </div>

        </div>

        <div class="ui-g-7 ui-xl-7 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad" style="top: 10px; bottom: 10px">

            <div class="ui-g-6 ui-g-nopad" style="height: 100%">
                <div class="ui-g-12 filter-header">
                    <span>Items &amp; Categories</span>
                    <br class="hidden-lg" />
                    <a (click)="UiUtils.selectAll(itemTree, this.selected_items)"><i class="pi pi-check-circle center-icon"></i></a>
                    <a (click)="UiUtils.unselectAll(itemTree, this.selected_items)"><i class="pi pi-times-circle center-icon"></i></a>
                </div>
                <div class="ui-g-12" style="height: 90%">
                    <p-tree #itemTree class="filter-tree" [value]="filter_items" selectionMode="checkbox" [(selection)]="selected_items" (onNodeSelect)="updateTreeFilters()" (onNodeUnselect)="updateTreeFilters()">
                    </p-tree>
                </div>
            </div>

            <div class="ui-g-6 ui-g-nopad" style="height: 100%">
                <div class="ui-g-12 filter-header">
                    <span>Locations</span>
                    <br class="hidden-lg" />
                    <a (click)="UiUtils.selectAll(stationTree, this.selected_locations)"><i class="pi pi-check-circle center-icon"></i></a>
                    <a (click)="UiUtils.unselectAll(stationTree, this.selected_locations)"><i class="pi pi-times-circle center-icon"></i></a>
                </div>
                <div class="ui-g-12" style="height: 90%">
                    <p-tree #stationTree class="filter-tree" [value]="filter_locations" selectionMode="checkbox" [(selection)]="selected_locations" (onNodeSelect)="updateTreeFilters()" (onNodeUnselect)="updateTreeFilters()">
                    </p-tree>
                </div>
            </div>

        </div>

        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad" style="top: 10px; bottom: 10px">

            <h5 style="text-align: center">
                Note: This page does not optimize the exact sequence of stops. It only calculates compatible routes between locations with shared resources, <span style="font-weight: bold">the sequence/order is up to you.</span>
            </h5>

        </div>

    </div>
</p-panel>
