﻿<h1 class="header-font" style="text-align: center;">Changelog</h1>


<ng-container *ngFor="let entry of entries">
    <div class="log-entry">
        <p-panel header="{{entry.header}} - {{ moment(entry.date).format('L') }}">
            <ng-container *ngFor="let note of entry.notes">
                <h3 *ngIf="note.header">
                    {{ note.header }}
                </h3>
                <span *ngIf="note.lines">
                    <span *ngFor="let line of note.lines">
                        {{ line }}<br/>
                    </span>
                </span>
                <ul *ngIf="note.points">
                    <li *ngFor="let point of note.points">
                        {{ point }}
                    </li>
                </ul>
                <a *ngIf="note.link" [href]="note.link.url">{{note.link.title}}</a>
            </ng-container>
        </p-panel>
    </div>
</ng-container>