<h1 class="header-font" style="text-align: center;">Shops</h1>

<h4 *ngIf="!stores">Loading...</h4>

<div *ngIf="stores">
    <p-table #dt [value]="stores" [responsive]="true" dataKey="ShopType" (onFilter)="filterUpdated()">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 15%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 10%">Services</th>
                <th style="width: 10%" pSortableColumn="Location.ParentBody.Name">Parent Body<p-sortIcon field="Location.ParentBody.Name"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.ServiceOptions" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Location.ServiceFlags', 'service')"></p-multiSelect>
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentGrades" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Grade', 'in')"></p-multiSelect>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
            <tr class="ui-widget-header" *ngIf="rowGroupMetadata[ShopType[rowData.ShopType]].index === rowIndex">
                <td>
                    <a [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'nf nf-fa-chevron_circle_down' : 'nf nf-fa-chevron_circle_right'" style="padding-right: .1em"></i>
                        <span>{{ShopType[rowData.ShopType]}} - {{rowGroupMetadata[ShopType[rowData.ShopType]].size}}</span>
                    </a>
                </td>
                <td colspan="2">
                    <span>{{rowGroupMetadata[ShopType[rowData.ShopType]].services | serviceflag:true }}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowData.Name }}</td>
                <td>{{ rowData.Location.ServiceFlags | serviceflag:true }}</td>
                <td>{{ rowData.Location.ParentBody.Name }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>