

<div *ngIf="userData" class="ui-g-nopad user-details">
    <div class="ui-g-8">
        <div class="ui-g-5 ui-g-nopad ui-helper-clearfix">
            <span>Active Ship: </span>
            |
            <ship-select (populateShipList)="populateShips($event)" (onChange)="loadoutChanged($event)">
            </ship-select>
            |
            <a [routerLink]="['/loadout']">View/Edit Ship</a>
            <br />
            <span style="font-weight: bold; font-size: 2em;">{{ selectedLoadout ? selectedLoadout.name : '&nbsp;' }}</span>

            <!-- TODO: Show ship SCU status here -->
        </div>

        <div class="ui-g-7 ui-g-nopad">
            <span>Current Location: </span>
            |
            <location-select (onChange)="locationChanged($event)">
            </location-select>
            <!-- <a href="#" (click)="$event.preventDefault();">Set Destination</a> -->
            <!--
            |
            <where-am-i>
            </where-am-i>
            -->
            <br />
            <span style="font-weight: bold; font-size: 2em;">{{ selectedLocation ? selectedLocation.Name : '&nbsp;' }}</span>
        </div>

        <!-- Where Am I button...

    <div class="ui-g-6 ui-g-nopad"
         tisTooltip tooltipContent="How to use: Type /showlocation in chat, which will copy your coordinates, and then click this button.">
        <span style="float: left; margin-top:8px" (click)="locatePlayer($event)">
            Where am I?
        </span>

        <span class="nf nf-fa-crosshairs" style="margin-left: 5px; top: 4px;" (click)="locatePlayer($event)"></span>
    </div>

    -->

    </div>

    <div class="ui-g-2">

        <div class="ui-g-12 ui-g-nopad">
            <span>Current Money: </span>
            |
            <a *ngIf="!editMoney" href="#" (click)="moneyEdit($event);">Change</a>
            <br />
            <span *ngIf="!editMoney" style="font-weight: bold; font-size: 2em;" (click)="moneyEdit($event);">
                {{ userData.balance | fmtUEC:true:true }}
            </span>
            <div [style.visibility]="editMoney ? 'visible' : 'hidden'" [style.height]="editMoney ? 'auto' : '0px'">
                <input #moneyElement class="money-input" (focusout)="moneyChanged($event)" (keydown)="moneyKey($event)" />
            </div>
        </div>
        
        <!--
        <div class="ui-g-6">
            <span class="ui-g-6 ui-g-nopad" style="text-align: center; margin-top: 8px"
                  tisTooltip tooltipContent="When Off: Use ship SCU when calculating routes. When On: Use manual entry for SCU limit.">
                SCU
            </span>
            <p-inputSwitch class="ui-g-6 ui-g-nopad" [ngStyle]="{'margin-top': '6px', 'padding': 0}"
                           [(ngModel)]="userData.use_capacity" (onChange)="genericChanged($event)"></p-inputSwitch>
            <div class="ui-g-12">
                <p-spinner [(ngModel)]="userData.custom_capacity" [min]="0" [step]="1"
                           [disabled]="!userData.use_capacity" [formatInput]="true"
                           thousandSeparator="," (onChange)="genericChanged($event)"></p-spinner>
            </div>
        </div>

        <div class="ui-g-6">
            <span class="ui-g-6 ui-g-nopad" style="text-align: center; margin-top: 8px"
                  tisTooltip tooltipContent="When On: Limit routes to specificed wallet value.">
                Wallet
            </span>
            <p-inputSwitch class="ui-g-6 ui-g-nopad" [ngStyle]="{'margin-top': '6px', 'padding': 0}"
                           [(ngModel)]="userData.use_balance" (onChange)="genericChanged($event)"></p-inputSwitch>
            <div class="ui-g-12">
                <p-spinner type="currency" [inputStyleClass]="'user-balance'" [(ngModel)]="userData.balance"
                           [min]="0" [step]="1000" [formatInput]="true" thousandSeparator=","
                           (onChange)="balanceChanged($event)"></p-spinner>
            </div>
        </div>
        -->
    </div>

    <div class="ui-g-2">
        <div class="ui-g-2 ui-g-nopad" *ngIf="cart.ItemCount > 0">
            <span class="nf nf-fa-shopping_cart"></span>
        </div>
        <div class="ui-g-10 ui-g-nopad" *ngIf="cart.ItemCount > 0">
            <a [routerLink]="['/cart']" style="margin: 0px">
                <span>Items in Cart: {{ cart.ItemCount }}</span>
                <br />
                <span>Total: {{ cart.ListTotal | fmtUEC:false }}</span>
                <br />
                <span>Stopping at {{ cart.StationCount }} stations</span>
            </a>
        </div>
    </div>

</div>
