.ship-option div {
  font-size: 14px;
  margin-top: 4px;
}

.ship-option-selected div {
  font-size: 14px;
  margin-top: 2px;
  font-weight: bold;
}

.ship-option-size,
.ship-option-name,
.ship-option-favorite {
    float: left;
    padding-left: 4px;
}

.ship-option-cargo {
  float: right;
}

.location-select-item {
    margin-left: 2em;
}

.location-select-group-header {
    text-align: left;
}

.money-input {
    font-size: 24px;
    font-weight: bold;
    background: black;
}