<h1 class="header-font" style="text-align: center;">FPS Armor</h1>

<h4 *ngIf="!armorList">Loading...</h4>

<div *ngIf="armorList">
    <p-table #dt [value]="armorList" [responsive]="true" [dataKey]="Key" [paginator]="true" [rows]="50" [showCurrentPageReport]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 25%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="AttachmentType">Type<p-sortIcon field="AttachmentType"></p-sortIcon></th>

                <th class="center-col" style="width: 15%" colspan="2">Temp. Rating</th>

                <th style="width: 15%" pSortableColumn="Properties.FPSArmor.ProtectedBodyParts">Protects<p-sortIcon field="Properties.FPSArmor.ProtectedBodyParts"></p-sortIcon></th>
                <th style="width: 30%" pSortableColumn="Properties.FPSArmor.Resistance">Resistance<p-sortIcon field="Properties.FPSArmor.Resistance"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.ArmorTypes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'AttachmentType', 'in')"></p-multiSelect>
                </th>

                <th pSortableColumn="Properties.Cloth.MinResistance">Min<p-sortIcon field="Properties.Cloth.MinResistance"></p-sortIcon></th>
                <th pSortableColumn="Properties.Cloth.MaxResistance">Max<p-sortIcon field="Properties.Cloth.MaxResistance"></p-sortIcon></th>

                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fpsarmor>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="fpsarmor"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>{{fpsarmor.Name}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Type: </span>{{fpsarmor.AttachmentType | loadoutslottype}}
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Min Temperature: </span>
                    {{fpsarmor.Properties.Cloth.MinResistance}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Max Temperature: </span>
                    {{fpsarmor.Properties.Cloth.MaxResistance}}
                </td>

                <td class="center-col">
                    <span *ngIf="fpsarmor.Properties.FPSArmor.ProtectedBodyParts">
                        <span class="ui-column-title inline-title">Protected Parts: </span>
                        {{fpsarmor.Properties.FPSArmor.ProtectedBodyParts.join(", ")}}
                    </span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Resistance: </span>
                    <span style="display: inline-block" [innerHtml]="fpsarmor.Properties.FPSArmor.Resistance | fmtResistance:true:true"></span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>