<p-dataView #dv [value]="available_loops" [paginator]="true" [rows]="20" paginatorPosition="both" [showCurrentPageReport]="true" layout="list">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-loop pTemplate="listItem">
    <div class="ui-g-12">
      <div class="loop-details">
        <loop-record [model]="loop">

        </loop-record>
      </div>
    </div>
  </ng-template>
</p-dataView>
