.mini-bar {
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 4px;
  background-color: black;
  margin-top: 2px;
}

.mini-bar .mini-bar-value {
  display: block;
  padding: 2px;
  width: 50%;
}

.col-right {
  float: right;
  margin-bottom: 2px;
}

.col-center {
  text-align: center;
}

.inline-title {
  float: left;
}

@media (max-width: 1000px) {
  .col-med-priority {
    display: none;
  }

  .route-table-search {
    display: none;
  }

  .small-hidden {
    display: none;
  }
}

@media (max-width: 1600px) {
  .col-low-priority {
    display: none;
  }

  .med-hidden {
    display: none;
  }
}

