.map_container {
    width: 100%;
}

@media screen and (min-width: 680px) {
    .map_container {
        height: 99vh;
    }
}

@media screen and (max-width: 680px) {
    .map_container {
        height: 80vh;
    }
}