
<ng-container *ngIf="mapError">
    <div class="alert alert-danger" role="alert">
        {{ mapError }}
    </div>
</ng-container>

<ng-container *ngIf="mapKey">
    <iframe #map_container class="map_container" [src]="viewer_frame_source" (load)="pageChanged($event)">
    </iframe>
</ng-container>
