<h1 class="header-font" style="text-align: center;">All Saved Loadouts</h1>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<h4 *ngIf="!availableLoadouts">Loading...</h4>

<div *ngIf="availableLoadouts">
    <p-table #dt [value]="availableLoadouts" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="ShipLoadout.equipment.CheapestPrice">Ship Price<p-sortIcon field="ShipLoadout.equipment.CheapestPrice"></p-sortIcon></th>
                <th style="width: 5%">Edit</th>
                <th style="width: 5%">3D Map</th>
                <th style="width: 10%" pSortableColumn="Manufacturer">Mfg.<p-sortIcon field="Manufacturer"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="Ship.Size">Size<p-sortIcon field="Ship.Size"></p-sortIcon></th>

                <th style="width: 15%" class="center-col" colspan="2">Speed</th>
                <th style="width: 15%" class="center-col" colspan="2">Health</th>
                <th style="width: 15%" class="center-col" colspan="2">Damage</th>
                <th style="width: 10%" class="center-col" colspan="2">QT</th>

                <th style="width: 5%">Del.</th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="dt.filter($event, 'ShipLoadout.equipment', 'isBuyable')"></p-checkbox>
                </th>
                <th></th>
                <th></th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Manufacturer', 'contains')">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.SizeFilterOptions" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Ship.Size', 'in')"></p-multiSelect>
                </th>

                <th class="center-col" pSortableColumn="CruiseSpeed">Cruise<p-sortIcon field="CruiseSpeed"></p-sortIcon></th>
                <th class="center-col" pSortableColumn="MaxSpeed">Max<p-sortIcon field="MaxSpeed"></p-sortIcon></th>

                <th class="center-col" pSortableColumn="HP">Hull<p-sortIcon field="HP"></p-sortIcon></th>
                <th class="center-col" pSortableColumn="Shields">Shields<p-sortIcon field="Shields"></p-sortIcon></th>

                <th pSortableColumn="DPS_Flat">DPS<p-sortIcon field="DPS_Flat"></p-sortIcon></th>
                <th pSortableColumn="Missile_Flat">Missile<p-sortIcon field="Missile_Flat"></p-sortIcon></th>

                <th class="center-col" pSortableColumn="QTSpeed">Speed<p-sortIcon field="QTSpeed"></p-sortIcon></th>
                <th class="center-col" pSortableColumn="QTAccel">Accel<p-sortIcon field="QTAccel"></p-sortIcon></th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ship>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="ship.ShipLoadout.equipment"></equipment-price></td>
                <td>
                    <button pButton type="button" style="width: 100%" icon="nf nf-fa-wrench" [routerLink]="['/loadout', 'my', ship.Name]"></button>
                </td>
                <td style="text-align: center; font-size: 1.5em">
                    <span class="ui-column-title inline-title">3D Ship Map: </span>
                    <!--NOTE: Don't support custom loadouts yet, just use the ship key -->
                    <a class="nf nf-mdi-eye" [routerLink]="['/ship_maps', ship.Ship.Key]"></a>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Manufacturer: </span>
                    {{ship.Manufacturer}}
                </td>
                <td>
                    <div>
                        <span class="ui-column-title inline-title">Loadout Name: </span>
                        {{ship.Name}}
                        <br />
                        <span class="ui-column-title inline-title">Ship: </span>
                        <span class="secondary-text">
                            {{ship.Ship.Name}}
                        </span>
                    </div>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Size: </span>
                    {{ship.Ship.Size | padsize:false}}
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Cruise Speed: </span>
                    {{ship.CruiseSpeed | fmtGeneric:true:true:' m/s'}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Max Speed: </span>
                    {{ship.MaxSpeed | fmtGeneric:true:true:' m/s'}}
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Hull: </span>
                    {{ship.HP | fmtGeneric:true:true:' hp'}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Shields: </span>
                    {{ship.Shields | fmtGeneric:true:true:' sh'}}
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Weapon DPS: </span>
                    <damage-display [damage]="ship.DPS">
                    </damage-display>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Missile Damage: </span>
                    <damage-display [damage]="ship.Missile" [unit]="'Dmg.'">
                    </damage-display>
                </td>

                <td class="center-col">
                    <ng-container *ngIf="ship.QT">
                        <span class="ui-column-title inline-title">QT Speed: </span>
                        {{ship.QTSpeed/1000/1000 | fmtGeneric:true:true:' Gm/s'}}
                    </ng-container>
                </td>
                <td class="center-col">
                    <ng-container *ngIf="ship.QT">
                        <span class="ui-column-title inline-title">QT Accel: </span>
                        {{ship.QTAccel/1000 | fmtGeneric:true:true:' Gm/s'}}
                    </ng-container>
                </td>

                <td>
                    <button pButton type="button" style="width: 100%" class="ui-button-danger" icon="nf nf-fa-remove" (click)="deleteLoadout(ship)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>