<h1 class="header-font" style="text-align: center;">FPS Weapons</h1>
<h5 style="text-align: center">Note: DPS and Heat calculation may not be fully accurate yet.</h5>

<h4 *ngIf="!weaponList">Loading...</h4>

<div *ngIf="weaponList">
    <p-table #dt [value]="weaponList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="Weapon.CheapestPrice">Price<p-sortIcon field="Weapon.CheapestPrice"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="Weapon.Name">Name<p-sortIcon field="Weapon.Name"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="Weapon.Manufacturer">Manufacturer<p-sortIcon field="Weapon.Manufacturer"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="Weapon.AttachmentSubtype">Weapon Size<p-sortIcon field="AttachmentSubtype"></p-sortIcon></th>

                <th style="width: 15%" pSortableColumn="AmmoSpeed">Projectile Speed<p-sortIcon field="AmmoSpeed"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="AmmoCap">Ammo Capacity<p-sortIcon field="AmmoCap"></p-sortIcon></th>

                <th style="width: 10%" pSortableColumn="FlatDPS">DPS<p-sortIcon field="FlatDPS"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="FlatBurst">Burst<p-sortIcon field="FlatBurst"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="FireRate">Fire Rate<p-sortIcon field="FireRate"></p-sortIcon></th>

                <th style="width: 15%" pSortableColumn="AttachSlots">Attachment Slots<p-sortIcon field="AttachSlots"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="dt.filter($event, 'Weapon', 'isBuyable')"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Weapon.Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="manufacturerList" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Weapon.Manufacturer', 'in')"></p-multiSelect>
                </th>
                <th></th>

                <th></th>
                <th></th>

                <th></th>
                <th></th>
                <th></th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-weapon>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="weapon.Weapon"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>
                    <span tisTooltip tooltipContent="{{weapon.Weapon.Key}}">
                        {{weapon.Weapon.Name}}
                    </span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Manufacturer: </span>{{weapon.Weapon.Manufacturer}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Subtype: </span>{{weapon.Weapon.AttachmentSubtype}}
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Ammo Velocity: </span>{{weapon.AmmoSpeed}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Ammo Capacity: </span>{{weapon.AmmoCap}}
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Volley Damage: </span>
                    <damage-display [damage]="weapon.DPS"></damage-display>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Volley Damage: </span>{{weapon.Burst | fmtDamage}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Fire Rate: </span>
                    {{weapon.FireRate | fmtGeneric:true:true:' RPM'}}
                    <span class="secondary-text"> x{{weapon.Projectiles}}</span>
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Attachment Slots: </span>{{weapon.AttachSlots}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>