.tt-container {
    width: calc(100% - 20px);
    height: calc(100vh - 120px);
}

.location-search {
    width: 200px;
    margin-left: 30px;
    text-align: center;
}

th {
    height: 3em;
}

tr > th.col-item {
    width: 120px;
    text-align: center;
    padding: 0;
}

th.col-shop {
    width: 300px;
}

td.col-shop {
    width: 300px;
    height: 40px;
}

td.tt-cell {
    width: 120px;
    height: 55px;
    overflow: hidden;
    text-align: center;
}



div.trade-value span.primary-line {
    color: #AAAAAA;
    font-size: 1.1em;
}
div.trade-value span.secondary-line {
    color: #888888;
    font-size: 0.9em;
}


tr.ui-state-highlight div.trade-value span.primary-line {
    color: #000000;
    font-weight: bold;
}
tr.ui-state-highlight div.trade-value span.secondary-line {
    color: #222222;
    font-weight: bold;
}



div.trade-value span.nf {
    padding-right: 5px;
}

.table-buy {
    color: #c70039;
}

.table-sell {
    color: darkgreen;
}
