<h1 class="header-font" style="text-align: center;">Trade Table</h1>

<h4 *ngIf="!_flatRows">Loading...</h4>

<h4 class="mobile-only">Note: This page currently does not work well on mobile. I apologise for the inconvenience and hope to have a proper solution <span style="font-style: italic">soon</span>&trade;.</h4>

<div *ngIf="_flatRows" #ttContainer class="tt-container">
    <p-table #tradeTable [value]="_flatRows"
             selectionMode="single" [(selection)]="_currentLocation" dataKey="title"
             [columns]="_flatCols"
             [frozenColumns]="_frozenCol"
             sortField="Name" sortMode="single"
             [scrollable]="true" frozenWidth="400px" scrollHeight="100%">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <ng-container *ngFor="let col of columns trackBy: title">
                    <th class="col-item">
                        <span>{{col.title}}</span>
                        <input *ngIf="!col.data" class="location-search" type="text" pInputText size="50" placeholder="Location Search" (input)="tradeTable.filter($event.target.value, 'title', 'contains')">
                    </th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="row" [pSelectableRowIndex]="rowIndex" [pSelectableRowDisabled]="true">
                <ng-container *ngFor="let col of columns; index as i; trackBy: title">
                    <td class="tt-cell">
                        <ng-container *ngIf="!col.data else mainColumns">
                            <span class="location-col">{{row.data | tradeshop}}</span>
                        </ng-container>
                        <ng-template #mainColumns>
                            <div class="trade-container" *ngIf="row.cells[col.data.ID] as cellData">
                                <div class="trade-value" tisTooltip (onShowTooltip)="getTradeTableTooltip($event, cellData)">
                                    <span *ngIf="cellData.Type == TradeType.Buy" class="nf nf-mdi-download table-buy"></span>
                                    <span *ngIf="cellData.Type == TradeType.Sell" class="nf nf-mdi-upload table-sell"></span>

                                    <span class="primary-line">{{(cellData.UnitCapacityRate/100) | scaleunit: false:' scu/M':'':1}}</span>
                                    <br />
                                    <span class="secondary-line">{{(cellData.MinUnitPrice*100) | fmtMoney}} - {{(cellData.MaxUnitPrice*100) | fmtMoney: false}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ng-template>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
</div>