<h1 class="header-font" style="text-align: center;">Utilities</h1>

<h4 *ngIf="!utilityList">Loading...</h4>

<div *ngIf="utilityList">
    <p-table #dt [value]="utilityList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 100%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-utility>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="utility"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>
                    {{utility.Name}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<h1 class="header-font" style="text-align: center;">Hacking Tools</h1>

<h4 *ngIf="!hackingList">Loading...</h4>

<div *ngIf="hackingList">
    <p-table #dt [value]="hackingList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 40%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>

                <th style="width: 30%" pSortableColumn="Properties.Chip.Duration">Duration Modifier<p-sortIcon field="Properties.Chip.Duration"></p-sortIcon></th>
                <th style="width: 30%" pSortableColumn="Properties.Chip.ErrorChance">Error Chance<p-sortIcon field="Properties.Chip.ErrorChance"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-chip>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="chip"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>
                    {{chip.Name}}
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Duration Modifier: </span>
                    {{chip.Properties.Chip.Duration | fmtPercent:true}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Manual Override Chance: </span>
                    {{chip.Properties.Chip.ErrorChance | fmtPercent:true}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<h1 class="header-font" style="text-align: center;">Gadgets</h1>

<h4 *ngIf="!gadgetList">Loading...</h4>

<div *ngIf="gadgetList">
    <p-table #dt [value]="gadgetList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 50%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 50%" pSortableColumn="Manufacturer">Manufacturer<p-sortIcon field="Manufacturer"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-gadget>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="gadget"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>
                    {{gadget.Name}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Manufacturer: </span>
                    {{gadget.Manufacturer}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>