<h1 class="header-font" style="text-align: center;">Ship Rentals</h1>

<h4 *ngIf="!rentals">Loading...</h4>

<div *ngIf="rentals">
    <p-table #dt [value]="rentals" [responsive]="true" sortMode="multiple" [multiSortMeta]="multiSortMeta">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 20%" pSortableColumn="ship.Name">Ship<p-sortIcon field="ship.Name"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="location.Name">Location<p-sortIcon field="location.Name"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="price1Day">1-Day Rental<p-sortIcon field="price1Day"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="price3Day">3-Day Rental<p-sortIcon field="price3Day"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="price7Day">7-Day Rental<p-sortIcon field="price7Day"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="price30Day">30-Day Rental<p-sortIcon field="price30Day"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'ship.Name', 'contains')">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'location.Name', 'contains')">
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rental>
            <tr class="ui-selectable-row">
                <td class="center-col">
                    <span class="ui-column-title inline-title">Ship: </span>
                    {{rental.ship.Name}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Location: </span>
                    {{rental.location.Name}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">1-Day Rental Cost: </span>
                    {{rental.price1Day | fmtUEC}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">3-Day Rental Cost: </span>
                    {{rental.price3Day * 3 | fmtUEC}} ({{rental.price3Day | fmtGeneric:false:false:'/day' }})
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">7-Day Rental Cost: </span>
                    {{rental.price7Day * 7 | fmtUEC}} ({{rental.price7Day | fmtGeneric:false:false:'/day' }})
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">30-Day Rental Cost: </span>
                    {{rental.price30Day * 30 | fmtUEC}} ({{rental.price30Day | fmtGeneric:false:false:'/day' }})
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>