<h1 class="header-font" style="text-align: center;">Coolers</h1>

<h4 *ngIf="!coolerList">Loading...</h4>

<div *ngIf="coolerList">
    <p-table #dt [value]="coolerList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Size">Size<p-sortIcon field="Size"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Grade">Grade<p-sortIcon field="Grade"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Class">Class<p-sortIcon field="Class"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="Properties.Energy.PowerBase">Idle Power<p-sortIcon field="Properties.Energy.PowerBase"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="Properties.Energy.PowerActive">Active Power<p-sortIcon field="Properties.Energy.PowerActive"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="Properties.Cooler.CoolingRate">Cooling Rate<p-sortIcon field="Properties.Cooler.CoolingRate"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentSizes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Size', 'in')"></p-multiSelect>
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentGrades" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Grade', 'in')"></p-multiSelect>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cooler>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="cooler"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>{{cooler.Name}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Size: </span>{{cooler.Size}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Grade: </span>{{cooler.Grade}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Class: </span>{{cooler.Class}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Idle Power: </span>
                    {{cooler.Properties.Energy.PowerBase | fmtGeneric:false:true}} <span class="nf nf-weather-lightning power-color"></span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Active Power: </span>
                    {{cooler.Properties.Energy.PowerActive | fmtGeneric:false:true}} <span class="nf nf-weather-lightning power-color"></span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Cooling Rate: </span>
                    {{cooler.Properties.Cooler.CoolingRate | fmtGeneric:false:true}} <span class="nf nf-mdi-snowflake cool-color"></span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>