
    <div class="ui-g">
        <div class="ui-g-6 ui-xl-8 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad entry-container">
            <loadout-summary [selected_loadout]="selected_loadout">
            </loadout-summary>
        </div>

        <div class="ui-g-3 ui-xl-4 ui-lg-6 ui-md-12 ui-sm-12 ui-g-nopad entry-container" *ngFor="let slotModel of display_slots">
            <loadout-entry [entry]="slotModel" (equipmentChanged)="equipmentChanged.emit($event)">
            </loadout-entry>
        </div>
    </div>
