<h1 class="header-font" style="text-align: center;">Mining Lasers</h1>

<h4 *ngIf="!laserList">Loading...</h4>

<div *ngIf="laserList">
    <p-table #dt [value]="laserList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="Size">Size<p-sortIcon field="Size"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="Grade">Grade<p-sortIcon field="Grade"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Properties.Energy.PowerBase">Idle Power<p-sortIcon field="Properties.Energy.PowerBase"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Properties.Energy.PowerActive">Active Power<p-sortIcon field="Properties.Energy.PowerActive"></p-sortIcon></th>

                <th style="width: 8%" pSortableColumn="Properties.MiningLaser.ResistanceModifier">Resist Mod.<p-sortIcon field="Properties.MiningLaser.ResistanceModifier"></p-sortIcon></th>
                <th style="width: 8%" pSortableColumn="Properties.MiningLaser.MUL_InstabilityModifier">Instability Mod.<p-sortIcon field="Properties.MiningLaser.MUL_InstabilityModifier"></p-sortIcon></th>
                <th style="width: 8%" pSortableColumn="Properties.MiningLaser.MUL_ShatterDamageModifier">Shatter Dmg Mod.<p-sortIcon field="Properties.MiningLaser.MUL_ShatterDamageModifier"></p-sortIcon></th>
                <th style="width: 8%" pSortableColumn="Properties.MiningLaser.MUL_WindowSizeModifier">Window Size Mod.<p-sortIcon field="Properties.MiningLaser.MUL_WindowSizeModifier"></p-sortIcon></th>
                <th style="width: 8%" pSortableColumn="Properties.MiningLaser.MUL_OptimalChargeRate">Optimal Rate Mod.<p-sortIcon field="Properties.MiningLaser.MUL_OptimalChargeRate"></p-sortIcon></th>
                <th style="width: 8%" pSortableColumn="Properties.MiningLaser.MUL_OverchargeRate">Overcharge Rate Mod.<p-sortIcon field="Properties.MiningLaser.MUL_OverchargeRate"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentSizes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Size', 'in')"></p-multiSelect>
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentGrades" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Grade', 'in')"></p-multiSelect>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mlaser>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="mlaser"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>{{mlaser.Name}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Size: </span>{{mlaser.Size}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Grade: </span>{{mlaser.Grade}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Idle Power: </span>
                    {{mlaser.Properties.Energy.PowerBase | fmtGeneric:false:true}} <span class="nf nf-weather-lightning power-color"></span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Active Power: </span>
                    {{mlaser.Properties.Energy.PowerActive | fmtGeneric:false:true}} <span class="nf nf-weather-lightning power-color"></span>
                </td>
                <td class="center-col">
                    <span *ngIf="mlaser.Properties.MiningLaser.ResistanceModifier != 0">
                        <span class="ui-column-title inline-title">Resistance Modifier: </span>
                        {{mlaser.Properties.MiningLaser.ResistanceModifier | fmtGeneric:false:true}}
                    </span>
                </td>
                <td class="center-col">
                    <span *ngIf="mlaser.Properties.MiningLaser.MUL_InstabilityModifier != 0">
                        <span class="ui-column-title inline-title">Instability Modifier: </span>
                        {{mlaser.Properties.MiningLaser.MUL_InstabilityModifier | fmtMod}}
                    </span>
                </td>
                <td class="center-col">
                    <span *ngIf="mlaser.Properties.MiningLaser.MUL_ShatterDamageModifier != 0">
                        <span class="ui-column-title inline-title">Shatter Damage Modifier: </span>
                        {{mlaser.Properties.MiningLaser.MUL_ShatterDamageModifier | fmtMod}}
                    </span>
                </td>
                <td class="center-col">
                    <span *ngIf="mlaser.Properties.MiningLaser.MUL_WindowSizeModifier != 0">
                        <span class="ui-column-title inline-title">Window Size Modifier: </span>
                        {{mlaser.Properties.MiningLaser.MUL_WindowSizeModifier | fmtMod}}
                    </span>
                </td>
                <td class="center-col">
                    <span *ngIf="mlaser.Properties.MiningLaser.MUL_OptimalChargeRate != 0">
                        <span class="ui-column-title inline-title">Optimal Charge Rate Modifier: </span>
                        {{mlaser.Properties.MiningLaser.MUL_OptimalChargeRate | fmtMod}}
                    </span>
                </td>
                <td class="center-col">
                    <span *ngIf="mlaser.Properties.MiningLaser.MUL_OverchargeRate != 0">
                        <span class="ui-column-title inline-title">Overcharge Rate Modifier: </span>
                        {{mlaser.Properties.MiningLaser.MUL_OverchargeRate | fmtMod}}
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>