<h1 class="header-font" style="text-align: center;">Mission Givers</h1>
<h4 *ngIf="!givers">Loading...</h4>

<div *ngIf="givers">
    <p-table #dt [value]="givers" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th pSortableColumn="Missions.length">Mission Count<p-sortIcon field="Missions.length"></p-sortIcon></th>
                <th pSortableColumn="LongCooldown">Mission Cooldown Duration<p-sortIcon field="LongCooldown"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>
                    <a [routerLink]="['/giver', rowData.Key]">
                        {{ rowData.Name }}
                    </a>
                </td>
                <td>{{ rowData.Missions.length }}</td>
                <td>{{ rowData.ShortCooldown }} - {{ rowData.LongCooldown }} seconds</td>
            </tr>
        </ng-template>
    </p-table>
</div>