<h1 class="header-font" style="text-align: center;">Trade Loops</h1>

<loop-filter #lFilter (filtersChanged)="filterChanged($event)">
</loop-filter>

<loop-table #lTable [available_loops]="calculated_loops">

</loop-table>
