<h1 class="header-font" style="text-align: center;">Activities Near Me</h1>

<div class="ui-g-6 ui-g-nopad" style="max-height: 600px">
    <span class="ui-g-12" style="text-align:center">Trade Routes</span>
    <div class="ui-g-12">
        <route-table #tblRoutesNearby [available_routes]="nearbyRoutes" sort_column="rank" sort_direction="1">
        </route-table>
    </div>
</div>