<h1 class="header-font" style="text-align: center;">Salvage Modules</h1>

<h4 *ngIf="!moduleList">Loading...</h4>

<div *ngIf="moduleList">
    <p-table #dt [value]="moduleList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 10%" class="price-col" pSortableColumn="Equipment.CheapestPrice">Price<p-sortIcon field="Equipment.CheapestPrice"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="Equipment.Name">Name<p-sortIcon field="Equipment.Name"></p-sortIcon></th>

                <th style="width: 6%" pSortableColumn="Speed">Speed<p-sortIcon field="Speed"></p-sortIcon></th>
                <th style="width: 6%" pSortableColumn="Radius">Radius<p-sortIcon field="Radius"></p-sortIcon></th>
                <th style="width: 6%" pSortableColumn="Efficiency">Efficiency<p-sortIcon field="Efficiency"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>

                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-module>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="module.Equipment"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>{{module.Equipment.Name}}
                    <i class="nf nf-fa-info_circle" tisTooltip tooltipContent="{{module.Equipment.Description | newlines}}"></i>
                    <br />
                    <span class="module-mode">
                        S{{module.Equipment.Size}}G{{module.Equipment.Grade}} - {{ module.Activation == ModifierActivation.Passive ? "(Passive)" : "(Active)"}}
                    </span>
                </td>

                <td class="center-col"> <span> {{ (module.Speed || 1) | fmtGeneric:false:true }} </span> </td>
                <td class="center-col"> <span> {{ (module.Radius || 1) | fmtGeneric:false:true }}m </span> </td>
                <td class="center-col"> <span> {{ (module.Efficiency || 1) | fmtPercent:true }} </span> </td>
            </tr>
        </ng-template>
    </p-table>
</div>