<p-overlayPanel #op (onShow)="panelExpanded($event)">
    <!--
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <div *ngFor="let mfgGroup of groupedShips; let i = index" class="ui-g-2">
                <button pButton class="{{ (i % 5 == 0 ) ? 'ui-md-offset-2' : '' }}" tooltip="Test">
                    <span class="{{ mfgGroup.icon }} mfg_icon"></span>
                </button>
            </div>

        </div>
    </p-toolbar>
    -->
    <div class="ship-select-overlay">
        <p-dataView #dv [value]="filteredShips" [paginator]="true" [rows]="9" paginatorPosition="top" filterBy="label" layout="grid">
            <p-header>
                <div class="ui-helper-clearfix">
                    <div class="ui-g">
                        <div class="ui-g-2 ui-md-2 filter-container ui-g-nopad">
                            <div class="ui-g-12">
                                <input type="search" pInputText placeholder="Search" [(ngModel)]="filterText" (keyup)="filterUpdated($event)">
                            </div>
                        </div>
                        <div class="ui-g-3 ui-md-3 ui-g-nopad">
                            <p-multiSelect [options]="manufacturerOptions" [(ngModel)]="selectedManufacturers" filter="false" class="ui-g-12" (onChange)="filterUpdated($event)"
                                           defaultLabel="Select Manufacturer(s)" maxSelectedLabels="0" [panelStyle]="{minWidth:'30em'}">
                                <ng-template let-mfg pTemplate="item">
                                    <img src="/icons/manufacturer/{{mfg.icon}}.png" style="width:32px;display:inline-block;vertical-align:middle" />
                                    <div style="font-size:14px;float:right;margin-top:4px">{{mfg.label}}</div>
                                </ng-template>
                            </p-multiSelect>
                        </div>
                        <div class="ui-g-7 ui-md-7 ui-g-nopad">
                            <p-multiSelect [options]="careerOptions" [(ngModel)]="selectedCareers" filter="false" class="ui-g-4" (onChange)="filterUpdated($event)"
                                            defaultLabel="Select Career(s)" maxSelectedLabels="0" [panelStyle]="{minWidth:'16em'}">
                            </p-multiSelect>
                            <p-multiSelect [options]="roleOptions" [(ngModel)]="selectedRoles" filter="false" class="ui-g-4" (onChange)="filterUpdated($event)"
                                            defaultLabel="Select Role(s)" maxSelectedLabels="0" [panelStyle]="{minWidth:'16em'}">
                            </p-multiSelect>
                            <p-multiSelect [options]="ClientData.SizeSelectOptions" [(ngModel)]="selectedSizes" filter="false" class="ui-g-4" (onChange)="filterUpdated($event)"
                                            defaultLabel="Select Size(s)" maxSelectedLabels="0" [panelStyle]="{minWidth:'16em'}">
                            </p-multiSelect>
                        </div>
                    </div>
                </div>
            </p-header>
            <ng-template let-loadout pTemplate="gridItem">
                <div style="padding:.5em" class="ui-g-4 ui-md-4">
                    <p-panel [header]="loadout.name" [style]="{'text-align':'center'}">
                        <div class="ui-g">
                            <div class="ui-g-3">
                                <img src="/icons/manufacturer/{{ loadout.manufacturer.LogoName }}.png" width="60">
                                <br />
                                <ng-container *ngIf="loadout.price">
                                    <span tisTooltip (onShowTooltip)="showShipLocationsTooltip(loadout, $event)" >{{ loadout.price | fmtUEC:true:true }}</span>
                                </ng-container>
                                <br/>
                                <span>{{ loadout.rental ? ' [Rentable]' : '' }}</span>
                            </div>
                            <div class="ui-g-7">
                                <span class="ui-g-4" style="padding: 0">SCU:</span>
                                <span class="ui-g-8" style="padding: 0">{{ loadout.scu || 'N/A' }}</span>
                                <span class="ui-g-4" style="padding: 0">Size:</span>
                                <span class="ui-g-8" style="padding: 0">{{ loadout.size }}</span>
                                <span class="ui-g-4" style="padding: 0">Career:</span>
                                <span class="ui-g-8" style="padding: 0">{{ loadout.career }}</span>
                                <span class="ui-g-4" style="padding: 0">Role:</span>
                                <span class="ui-g-8" style="padding: 0">{{ loadout.role }}</span>
                            </div>
                            <div class="ui-g-2">
                                <hr class="ui-widget-content" style="border-top:0">
                                <button pButton type="button" icon="nf nf-fa-arrow_right" (click)="selectLoadout($event, loadout.loadout)" style="margin-top:0"></button>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </ng-template>
        </p-dataView>
    </div>
    
</p-overlayPanel>

<a href="#" (click)="op.toggle($event);$event.preventDefault();">Change Ship</a>