<h1 class="header-font" style="text-align: center;">Missiles</h1>

<h4 *ngIf="!missileList">Loading...</h4>

<div *ngIf="missileList">
    <p-table #dt [value]="missileList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Size">Size<p-sortIcon field="Size"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Grade">Grade<p-sortIcon field="Grade"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="Properties.Missile.TrackingData.SignalType">Type<p-sortIcon field="Properties.Missile.TrackingData.SignalType"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Properties.Missile.ExplosionDamage">Explosion Damage<p-sortIcon field="Properties.Missile.ExplosionDamage"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Properties.Missile.ExplosionRadiusMin">Explosion Radius<p-sortIcon field="Properties.Missile.ExplosionRadiusMin"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Properties.Missile.TrackingData.LockTime">Lock Time<p-sortIcon field="Properties.Missile.TrackingData.LockTime"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Properties.Missile.IgniteTime">Ignite Time<p-sortIcon field="Properties.Missile.IgniteTime"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Properties.Missile.MissileSpeed">Speed<p-sortIcon field="Properties.Missile.MissileSpeed"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentSizes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Size', 'in')"></p-multiSelect>
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentGrades" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Grade', 'in')"></p-multiSelect>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-missile>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="missile"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>{{ missile.Name }}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Size: </span>{{ missile.Size }}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Grade: </span>{{ missile.Grade }}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Tracking Type: </span>
                    {{ missile.Properties.Missile.TrackingData.SignalType }}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Explosion Damage: </span>
                    <damage-display [damage]="missile.Properties.Missile.ExplosionDamage" unit="Dmg."></damage-display>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Explosion Radius: </span>
                    {{ missile.Properties.Missile.ExplosionRadiusMin | fmtGeneric:false }}-{{ missile.Properties.Missile.ExplosionRadiusMax | fmtGeneric:false }}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Lock Time: </span>
                    {{ missile.Properties.Missile.TrackingData.LockTime | fmtGeneric:false }} s
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Ignite Time: </span>
                    {{ missile.Properties.Missile.IgniteTime | fmtGeneric:false }} s
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Speed: </span>
                    {{ missile.Properties.Missile.MissileSpeed | fmtGeneric:false }} m/s
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>