
.location-select-overlay {
    width: 800px;
}

.location_details_header {
    font-size: 1.5em;
    font-weight: bold;
}

.location_details_description {
    font-size: 1em;
}

.location_details_services {
    margin-top: 20px;
}

.location_details_services_header {
    font-size: 1.25em;
}

.location_service_icon {
    font-size: 2em !important;
    margin: 0px 5px;
}