<p-overlayPanel #location_panel (onShow)="panelExpanded($event)">

    <div class="location-select-overlay">
        <div class="ui-g">
            <!--
    <div class="ui-g-12">
        <p-organizationChart [value]="allOptions" selectionMode="single" (onNodeSelect)="onNodeSelect($event)">

        </p-organizationChart>
    </div>
        -->

            <div class="ui-g-6">
                <p-treeTable #tt [value]="locationOptions" dataKey="Key" filter="filter" [scrollable]="true" scrollHeight="600px"
                             [(selection)]="selectedLocation" selectionMode="single" (onNodeSelect)="bodyChanged($event.node, $event.node.data)">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>
                                <input pInputText type="text" (input)="tt.filter($event.target.value, 'Name', 'contains')">
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                            <td>
                                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                <ng-container *ngIf="rowNode.node.children && rowNode.node.children.length > 1">
                                    [{{ rowNode.node.children.length }}]
                                </ng-container>
                                {{ rowData.Name }}
                            </td>
                        </tr>
                    </ng-template>
                </p-treeTable>
            </div>

            <div class="ui-g-6">
                <ng-container *ngIf="selectedLocation">
                    <span class="location_details_header">
                        {{ selectedLocation.data.Name }}
                    </span>
                    <br/>
                    <span class="location_details_description">
                        {{ selectedLocation.data.Description }}
                    </span>
                    <br/>
                    <span class="location_details_services" *ngIf="selectedLocation.data.ServiceFlags != 0">
                        <br />
                        <br />
                        <span class="location_details_services_header">Available Services:</span>
                        <br />
                        <ng-container *ngFor="let service of displayServices; index as i">
                            <span *ngIf="ModelUtils.hasServices(selectedLocation.data.ServiceFlags, service.service)"
                                  tisTooltip (onShowTooltip)="UiUtils.showServiceTooltip(selectedLocation.data, service, $event)"
                                  class="location_service_icon {{service.icon}}"></span>
                        </ng-container>
                    </span>
                </ng-container>
            </div>
        </div>
    </div>
    
</p-overlayPanel>

<a href="#" (click)="location_panel.toggle($event);$event.preventDefault();">Change Location</a>