<h1 class="header-font" style="text-align: center;">Mining Modules</h1>

<h4 *ngIf="!moduleList">Loading...</h4>

<div *ngIf="moduleList">
    <p-table #dt [value]="moduleList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 10%" class="price-col" pSortableColumn="Equipment.CheapestPrice">Price<p-sortIcon field="Equipment.CheapestPrice"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="Equipment.Name">Name<p-sortIcon field="Equipment.Name"></p-sortIcon></th>

                <th style="width: 6%" pSortableColumn="Charges">Charges<p-sortIcon field="Charges"></p-sortIcon></th>
                <th style="width: 6%" pSortableColumn="Heat">Heat<p-sortIcon field="Heat"></p-sortIcon></th>
                <th style="width: 6%" pSortableColumn="Signature">Signature<p-sortIcon field="Signature"></p-sortIcon></th>
                <th style="width: 6%" pSortableColumn="Filter">Filter<p-sortIcon field="Filter"></p-sortIcon></th>
                <th style="width: 6%" pSortableColumn="Power">Power<p-sortIcon field="Power"></p-sortIcon></th>
                <th style="width: 6%" pSortableColumn="WindowLevel">Window Level<p-sortIcon field="WindowLevel"></p-sortIcon></th>
                <th style="width: 6%" pSortableColumn="Resistance">Resistance<p-sortIcon field="Resistance"></p-sortIcon></th>
                <th style="width: 6%" pSortableColumn="Instability">Instability<p-sortIcon field="Instability"></p-sortIcon></th>
                <th style="width: 6%" pSortableColumn="OptimalWindowSize">Optimal Window Size<p-sortIcon field="OptimalWindowSize"></p-sortIcon></th>
                <th style="width: 6%" pSortableColumn="ShatterDamage">Shatter Damage<p-sortIcon field="ShatterDamage"></p-sortIcon></th>
                <th style="width: 12%" class="center-col" colspan="2">Charge Rate</th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th pSortableColumn="OptimalWindowRate">Optimal<p-sortIcon field="OptimalWindowRate"></p-sortIcon></th>
                <th pSortableColumn="CatastrophicWindowRate">Overcharge<p-sortIcon field="CatastrophicWindowRate"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-module>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="module.Equipment"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>{{module.Equipment.Name}}
                    <i class="nf nf-fa-info_circle" tisTooltip tooltipContent="{{module.Equipment.Description | newlines}}"></i>
                    <br />
                    <span class="module-mode">
                        S{{module.Equipment.Size}}G{{module.Equipment.Grade}} - {{ module.Activation == ModifierActivation.Passive ? "(Passive)" : "(Active)"}}
                    </span>
                </td>
                <td class="center-col">
                    <ng-container *ngIf="module.Activation == ModifierActivation.Active">
                        <span class="ui-column-title inline-title">Charges: </span>{{module.Charges}}
                    </ng-container>
                </td>

                <td class="center-col"> <span *ngIf="module.Heat != 1"> {{ module.Heat | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="module.Signature != 1"> {{ module.Signature | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="module.Filter != 1"> {{ module.Filter - 1 | fmtPercent:true }} </span> </td>
                <td class="center-col"> <span *ngIf="module.Power != 1"> {{ module.Power | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="module.WindowLevel != 1"> {{ module.WindowLevel | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="module.Resistance != 0"> {{ module.Resistance | fmtPercent:true:false }} </span> </td>
                <td class="center-col"> <span *ngIf="module.Instability != 1"> {{ module.Instability | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="module.OptimalWindowSize != 1"> {{ module.OptimalWindowSize | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="module.ShatterDamage != 1"> {{ module.ShatterDamage | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="module.OptimalWindowRate != 1"> {{ module.OptimalWindowRate | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="module.CatastrophicWindowRate != 1"> {{ module.CatastrophicWindowRate | fmtPercent:true:true }} </span> </td>
            </tr>
        </ng-template>
    </p-table>
</div>