<h1 class="header-font" style="text-align: center;">Clothing</h1>

<h4 *ngIf="!clothingList">Loading...</h4>

<div *ngIf="clothingList">
    <p-table #dt [value]="clothingList" [responsive]="true" [paginator]="true" [rows]="50" [showCurrentPageReport]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 40%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 30%" pSortableColumn="AttachmentType">Type<p-sortIcon field="AttachmentType"></p-sortIcon></th>

                <th class="center-col" style="width: 30%" colspan="2">Temperature Rating</th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.ClothingTypes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'AttachmentType', 'in')"></p-multiSelect>
                </th>

                <th pSortableColumn="Properties.Cloth.MinResistance">Min<p-sortIcon field="Properties.Cloth.MinResistance"></p-sortIcon></th>
                <th pSortableColumn="Properties.Cloth.MaxResistance">Max<p-sortIcon field="Properties.Cloth.MaxResistance"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cloth>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="cloth"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>
                    <span tisTooltip tooltipContent="{{cloth.Key}}">{{cloth.Name}}</span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Type: </span>
                    {{cloth.AttachmentType | loadoutslottype}}
                </td>
                

                <td class="center-col">
                    <span *ngIf="cloth.Properties.Cloth">
                        <span class="ui-column-title inline-title">Min Temperature: </span>
                        {{cloth.Properties.Cloth.MinResistance}}
                    </span>
                </td>
                <td class="center-col">
                    <span *ngIf="cloth.Properties.Cloth">
                        <span class="ui-column-title inline-title">Max Temperature: </span>
                        {{cloth.Properties.Cloth.MaxResistance}}
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>