<input class="search-text" type="text" pInputText [(ngModel)]="searchText" (input)="searchChanged($event)" placeholder="... Seach All ..." />
<br />

<div class="ui-g">
    <p-selectButton [options]="categories" [(ngModel)]="selectedCategory"></p-selectButton>
    <br />

    <div class="ui-g-12 ui-g-nopad">
        <p-card *ngFor="let searchResult of searchResults"
                subheader="{{searchResult.record.Key}}" styleClass="ui-g-2 ui-card-shadow">
            <p-header>
                <ng-container [ngSwitch]="searchResult.type">
                    <ng-container *ngSwitchCase="'system_body'">
                        <span>System Body</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'equipment'">
                        <span>Equipment</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'ship'">
                        <span>Ship</span>
                    </ng-container>
                </ng-container>
                <a href="#" [routerLink]="searchResult.link">
                    <div class="ui-card-title">{{searchResult.record.Name}}</div>
                </a>
            </p-header>
            <div>
                {{ searchResult.record.Description }}
                <br />
                <ng-container [ngSwitch]="searchResult.type">
                    <ng-container *ngSwitchCase="'system_body'">
                        <span>System Body</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'equipment'">
                        <span>Equipment</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'ship'">
                        <span>Ship</span>
                    </ng-container>
                </ng-container>
            </div>
            <p-footer>

            </p-footer>
        </p-card>
    </div>
</div>