<h1 class="header-font" style="text-align: center;">Elements</h1>

<h4 *ngIf="!elements">Loading...</h4>

<div *ngIf="elements" style="overflow-x: hidden">
    <p-table #dt [value]="elements" [responsive]="true" sortField="maxValue" sortMode="single" [sortOrder]="-1">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="center-col" style="width: 10%" pSortableColumn="element.TradeItem.Name">Name<p-sortIcon field="element.TradeItem.Name"></p-sortIcon></th>
                <th class="center-col" style="width: 10%" pSortableColumn="maxValue">SCU Price (Raw/Refined)<p-sortIcon field="maxValue"></p-sortIcon></th>
                <th class="center-col" style="width: 5%" tisTooltip tooltipContent="Resistance/Hardness of the mineral. The affects how much energy makes it to the rock.">Resistance</th>
                <th class="center-col" style="width: 5%" tisTooltip tooltipContent="Instability of the mineral. The affects how much random variance in energy fluctuations affect a mineral.">Instability</th>
                <th class="center-col" style="width: 5%">Cluster Factor</th>
                <th class="center-col" style="width: 5%">Mining Window (Mid/Rand/Thin)</th>
                <th class="center-col" attr.colspan="{{ asteroidCompositions.length }}">Asteroids</th>
                <th class="center-col" attr.colspan="{{ depositCompositions.length }}">Planet Deposits</th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'element.TradeItem.Name', 'contains')">
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <ng-container *ngFor="let composition of asteroidCompositions">
                    <th class="center-col">
                        <a (click)="showLocationsWindow(composition)">
                            <span class="small-rotate">{{ composition.title }}</span><br />
                            <span tisTooltip tooltipContent="Minimum number of elements guaranteed to be in this deposit type." class="secondary-line">
                                {{composition.composition.MinimumDistinct}}+
                            </span>
                        </a>
                    </th>
                </ng-container>
                <ng-container *ngFor="let composition of depositCompositions">
                    <th class="center-col">
                        <a (click)="showLocationsWindow(composition)">
                            <span class="small-rotate">{{ composition.title }}</span><br />
                            <span tisTooltip tooltipContent="Minimum number of elements guaranteed to be in this deposit type." class="secondary-line">
                                {{composition.composition.MinimumDistinct}}+
                            </span>
                        </a>
                    </th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-element>
            <tr class="ui-selectable-row">
                <td class="center-col" tisTooltip (onShowTooltip)="onMineralTooltip(element, $event)">
                    <span class="ui-column-title inline-title">Name: </span>
                    <span style="font-weight: bold">{{ element.element.TradeItem.Name }}</span>
                    <br />
                    <span class="ui-column-title inline-title secondary-text">Category: </span>
                    <span class="secondary-text">{{ element.element.TradeItem.Category }}</span>
                    <br />
                    <ng-container *ngIf="element.refinedElement">
                        <span class="ui-column-title inline-title">Name: </span>
                        <span style="font-weight: bold">{{ element.refinedElement.TradeItem.Name }}</span>
                    </ng-container>
                </td>
                <td class="center-col">
                    <a (click)="showTradesWindow(element)">
                        <span class="ui-column-title inline-title">Price: </span>
                        <span>{{ element.minValue * 100 | fmtMoney }} - {{ element.maxValue * 100 | fmtUEC }}</span>
                        <br />
                        <span>{{ element.minRefinedValue * 100 | fmtMoney }} - {{ element.maxRefinedValue * 100 | fmtUEC }}</span>
                    </a>

                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Resistance: </span>{{ element.element.Resistance | fmtPercent:true }}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Instability: </span>{{ element.element.Instability | fmtPercent:true }}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Cluster Factor: </span>{{ element.element.ClusterFactor | fmtPercent:true }}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Midpoint: </span>{{ element.element.WindowMidpoint | fmtPercent:true }}
                    <br />
                    <span class="ui-column-title inline-title">Randomness: </span>{{ element.element.WindowMidpointRandomness | fmtPercent:true }}
                    <br />
                    <span class="ui-column-title inline-title">Thinness: </span>{{ element.element.WindowMidpointThinness | fmtPercent:true }}
                </td>
                <ng-container *ngFor="let composition of asteroidCompositions">
                    <td class="center-col">
                        <ng-container *ngIf="element.availableLookup[composition.composition.ID] as compElem">
                            <span>
                                <span class="secondary-line hover-show">Chance:</span><br />
                                <div class="mini-bar">
                                    <span class="mini-bar-value" [style.background]="'green'" [style.width.%]="element.availableLookup[composition.composition.ID].Probability * 100"></span>
                                </div>
                            </span>
                            <span>
                                <span class="secondary-line hover-show">Density:</span><br />
                                {{ compElem.MinPercentage }} - {{ compElem.MaxPercentage }}%
                            </span>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container *ngFor="let composition of depositCompositions">
                    <td class="center-col">
                        <ng-container *ngIf="element.availableLookup[composition.composition.ID] as compElem">
                            <span>
                                <span class="secondary-line hover-show">Chance:</span><br />
                                <div class="mini-bar">
                                    <span class="mini-bar-value" [style.background]="'green'" [style.width.%]="element.availableLookup[composition.composition.ID].Probability * 100"></span>
                                </div>
                            </span>
                            <span>
                                <span class="secondary-line hover-show">Density:</span><br />
                                {{ compElem.MinPercentage }} - {{ compElem.MaxPercentage }}%
                            </span>
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Prices - {{displayPrices ? displayElement.TradeItem.Category + '/' + displayElement.TradeItem.Name : ''}}"
          [(visible)]="displayPrices" [style]="{width: '40vw'}" [responsive]="true">
    <h2>Raw Trades:</h2>
    <p-table #dt [value]="trades" [responsive]="true" sortField="MaxUnitPrice" sortMode="single" sortOrder="-1" [style]="{'max-height': '600px'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="center-col" style="width: 70%" pSortableColumn="Station.Name">Name<p-sortIcon field="Station.Name"></p-sortIcon></th>
                <th class="center-col" style="width: 15%" pSortableColumn="MinUnitPrice">Min $/SCU<p-sortIcon field="MinUnitPrice"></p-sortIcon></th>
                <th class="center-col" style="width: 15%" pSortableColumn="MaxUnitPrice">Max $/SCU<p-sortIcon field="MaxUnitPrice"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Station.Name', 'contains')">
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-element>
            <tr class="ui-selectable-row">
                <td class="center-col">
                    <span class="ui-column-title inline-title">Location: </span>
                    <span style="font-weight: bold">{{ element.Station.Name }}</span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Min Price: </span>
                    <span>{{ element.MinUnitPrice * 100 | fmtMoney }}</span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Max Price: </span>
                    <span>{{ element.MaxUnitPrice * 100 | fmtMoney }}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <h2>Refined Trades:</h2>
    <p-table #ref_dt [value]="refined_trades" [responsive]="true" sortField="MaxUnitPrice" sortMode="single" sortOrder="-1" [style]="{'max-height': '600px'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="center-col" style="width: 70%" pSortableColumn="Station.Name">Name<p-sortIcon field="Station.Name"></p-sortIcon></th>
                <th class="center-col" style="width: 15%" pSortableColumn="MinUnitPrice">Min $/SCU<p-sortIcon field="MinUnitPrice"></p-sortIcon></th>
                <th class="center-col" style="width: 15%" pSortableColumn="MaxUnitPrice">Max $/SCU<p-sortIcon field="MaxUnitPrice"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Station.Name', 'contains')">
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-element>
            <tr class="ui-selectable-row">
                <td class="center-col">
                    <span class="ui-column-title inline-title">Location: </span>
                    <span style="font-weight: bold">{{ element.Station.Name }}</span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Min Price: </span>
                    <span>{{ element.MinUnitPrice * 100 | fmtMoney }}</span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Max Price: </span>
                    <span>{{ element.MaxUnitPrice * 100 | fmtMoney }}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-footer>
        <button type="button" pButton icon="nf nf-mdi-close" (click)="displayPrices=false" label="Close" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Locations - {{displayLocations ? displayComposition.Name : ''}}"
          [(visible)]="displayLocations" [style]="{width: '40vw'}" [responsive]="true">
    <p-table #dt [value]="locations" [responsive]="true" [style]="{'max-height': '600px'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="center-col" style="width: 50%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th class="center-col" style="width: 50%" pSortableColumn="LocationType">Location Type<p-sortIcon field="LocationType"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Station.Name', 'contains')">
                </th>
                <th>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-location>
            <tr class="ui-selectable-row">
                <td class="center-col">
                    <span class="ui-column-title inline-title">Location: </span>
                    <span>{{ location.Name }}</span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Location: </span>
                    <span>{{ LocationType[location.LocationType] }}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-footer>
        <button type="button" pButton icon="nf nf-mdi-close" (click)="displayLocations=false" label="Close" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>