<div class='main-nav'>
  <div class='navbar navbar-inverse'>
      <div class='navbar-header'>
          <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand header-font' [routerLink]='["/"]'>TradeIn.Space</a>
          <br />
          <app-nav-info>
          </app-nav-info>
      </div>
    <div class='clearfix'></div>

    <div class="menu-outer" *ngIf="menu_items">
        <p-panelMenu #tisMenu [model]="menu_items" [multiple]="false">
        </p-panelMenu>
    </div>

  </div>
</div>
