/* Custom styles */
.list-child {
  padding-left: 30px;
}

.user-details-container {
  padding: 5px;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Add space for the 'floating' bottom */
.navbar {
    padding-bottom: 80px;
}

.navbar > app-nav-info {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 640px) {
  .main-nav {
    display: contents;
  }
}

@media (min-width: 641px) {
  /* On small screens, convert the nav menu to a vertical sidebar */
  .main-nav {
    height: 100%;
    width: 300px;
  }
  .navbar {
    border-radius: 0px;
    border-width: 0px;
    height: 100%;
  }
  .navbar-header {
    float: none;
  }
  .navbar-collapse {
    border-top: 1px solid #444;
    padding: 0px;
  }
  .navbar ul {
    float: none;
  }
  .navbar li {
    float: none;
    font-size: 15px;
    margin: 4px;
  }
  .navbar li a {
    padding: 4px 16px;
    border-radius: 4px;
  }
  .navbar li a span.nf {
    top: 4px;
    line-height: .5em;
    margin-right: 10px;
  }
  .navbar a {
    /* If a menu item's text is too long, truncate it */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
