
<div class="nav-info-main">

    <div class='nav-info about-link'>
        <a [routerLink]='["/changelog"]'>v{{ ChangelogPage.CurrentVersion }}</a>
        |
        <a [routerLink]='["/about"]'>
            <span class='nf nf-fa-info_circle'></span> About
        </a>
        |
        <a href="https://bitbucket.org/Cpt_BA/tradeinspace/src/master/" target="_blank">
            <span class="nf nf-fa-bitbucket"></span> Source
        </a>
    </div>

    <div class='nav-info'>
        <span>SC Version:</span>

        <span *ngIf="(gameData)" tisTooltip tooltipContent="{{gameData.Description}}">{{gameData.DB_Version}}</span>

        <ng-container *ngIf="!(gameData)">
            <span *ngIf="!err_handler.fatal_error">Loading...</span>
            <span *ngIf="err_handler.fatal_error"></span>
        </ng-container>

    </div>

    <div class='nav-info'>
        <span *ngIf="err_handler.fatal_error" style="font-weight: bold">Error updating from server!</span>
    </div>

</div>