.nav-info-main {
    margin: 10px;
    text-align: center;
}


.nav-info {
    color: #7d7d7d;
}

.about-link span.nf {
    font-size: 24px;
    position: relative;
    top: 2px;
}

.about-link a {
    color: #9d9d9d;
}