<div *ngIf="equipmentTrades && equipmentTrades.length > 0" class="ui-g">
    <p-splitButton *ngIf="!selectionMode"
                        class="ui-g-12" label="{{ label || (equipment.CheapestPrice | fmtUEC)}}" (onClick)="defaultClicked()" icon="{{ icon || 'nf nf-fa-shopping_cart'}}"
                        [model]="equipmentTrades" iconPos="right" [styleClass]="styleClass" 
                        [style]="{'text-align': 'left'}" [menuStyle]="{'width':'400px', 'text-align': 'left'}">
    </p-splitButton>

    <p-dropdown *ngIf="selectionMode" class="ui-g-12" [options]="equipmentTrades" [ngModel]="equipmentTrade" (onChange)="tradeChanged($event)">
    </p-dropdown>
</div>