

<div *ngIf="userData" class="ui-g-nopad user-details">
    <span class="ui-g-12 ui-helper-clearfix">Active Ship</span>
    <p-dropdown class="ui-g-12 ship-select" [options]="allShipOptions" [panelStyle]="{'width':'400px'}"
                [(ngModel)]="selectedShip" [readonly]="userData.use_capacity" dataKey="key" filter="true"
                placeholder="Select a Ship" [group]="true" scrollHeight="400px" (onChange)="shipChanged($event)">
        <ng-template let-option pTemplate="selectedItem">
            <div class="ui-helper-clearfix ship-option-selected" style="position: relative;">
                <div class="ship-option-name">{{option.label}}</div>
                <div class="ship-option-cargo">SCU: {{option.value.ship.CargoCapacity}}</div>
            </div>
        </ng-template>
        <ng-template let-option pTemplate="item">
            <div class="ui-helper-clearfix ship-option" style="position: relative;">
                <div class="ship-option-favorite"><a href="#" (click)="toggleFavorite(option.value, $event)"><i class="pi {{option.value.favorite ? 'pi-star' : 'pi-star-o'}}"></i></a></div>
                <div class="ship-option-size">[{{option.value.ship.Size | padsize}}]</div>
                <div class="ship-option-name">{{option.label}}</div>
                <div class="ship-option-cargo">SCU: {{option.value.ship.CargoCapacity}}</div>
            </div>
        </ng-template>
    </p-dropdown>


    <span class="ui-g-3" style="float: left; margin-top: 8px"
          tisTooltip tooltipContent="When Off: Use ship SCU when calculating routes. When On: Use manual entry for SCU limit.">
        SCU
    </span>
    <p-inputSwitch class="ui-g-2" [ngStyle]="{'margin-top': '10px', 'padding': 0}"
                   [(ngModel)]="userData.use_capacity" (onChange)="genericChanged($event)"></p-inputSwitch>
    <div class="ui-g-7">
        <p-spinner [(ngModel)]="userData.custom_capacity" [min]="0" [step]="1"
                   [disabled]="!userData.use_capacity" [formatInput]="true"
                   thousandSeparator="," (onChange)="genericChanged($event)"></p-spinner>
    </div>


    <span class="ui-g-3" style="float: left; margin-top: 8px"
          tisTooltip tooltipContent="When On: Limit routes to specificed wallet value.">
        Wallet
    </span>
    <p-inputSwitch class="ui-g-2" [ngStyle]="{'margin-top': '10px', 'padding': 0}"
                   [(ngModel)]="userData.use_balance" (onChange)="genericChanged($event)"></p-inputSwitch>
    <div class="ui-g-7">
        <p-spinner type="currency" [inputStyleClass]="'user-balance'" [(ngModel)]="userData.balance"
                   [min]="0" [step]="1000" [formatInput]="true" thousandSeparator=","
                   (onChange)="balanceChanged($event)"></p-spinner>
    </div>


    <span class="ui-g-3" style="float: left; margin-top:8px"
          tisTooltip tooltipContent="When On: Factor current location into route calculation.">
        Location
    </span>
    <p-inputSwitch class="ui-g-2" [ngStyle]="{'margin-top': '10px', 'padding': 0}"
                   [(ngModel)]="userData.use_location" (onChange)="genericChanged($event)"></p-inputSwitch>
    <div class="ui-g-7">
        <p-dropdown class="location-select" [autoWidth]="false" [options]="allLocations" [panelStyle]="{'width':'350px'}"
                    [(ngModel)]="selectedLocation" dataKey="Key" placeholder="Current Location" [group]="true" filter="true" filterBy="label,title,body_name"
                    scrollHeight="400px" (onChange)="locationChanged($event)">
            <ng-template let-group pTemplate="group">
                <div class="location-select-group-header">
                    <span>{{group.label}}</span>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="location-select-item">
                    <span>{{item.value | tradeshop }}</span>
                </div>
            </ng-template>
        </p-dropdown>
    </div>


    <span class="ui-g-12" style="float: left; margin-top:8px"
          tisTooltip tooltipContent="How to use: Type /showlocation in chat, which will copy your coordinates, and then click this button."
          (click)="locatePlayer($event)">
        Where am I?
    </span>

    <div class="ui-g-12" *ngIf="cart.ItemCount > 0">
        <div class="ui-g-2">
            <span class="nf nf-fa-shopping_cart"></span>
        </div>
        <div class="ui-g-10">
            <a [routerLink]="['/cart']" style="margin: 0px">
                <span>Items in Cart: {{ cart.ItemCount }}</span>
                <br />
                <span>Total: {{ cart.ListTotal | fmtUEC:false }}</span>
                <br />
                <span>Stopping at {{ cart.StationCount }} stations</span>
            </a>
        </div>
    </div>
</div>
