<h1 class="header-font" style="text-align: center;">Mission Details</h1>
<h4 *ngIf="!mission">Loading...</h4>

<div *ngIf="mission">

    <div class="ui-g">
        <div class="ui-g-8">
            <div class="ui-g-12">
                <p-panel>
                    <p-header>

                        <div class="p-grid">
                            <div class="p-col">
                                <h1>{{ mission.Title }}</h1>
                            </div>

                            <div class="p-col-fixed" style="padding-right: 10px;">
                                <a *ngIf="mission.Giver" [routerLink]="['/giver', mission.Giver.Key]">
                                    <h3>{{ mission.GiverName }}</h3>
                                </a>
                                <h3 *ngIf="!mission.Giver">{{ mission.GiverName }}</h3>
                                <p class="secondary-text">Mission Giver</p>
                            </div>
                        </div>
                    </p-header>

                    <div class="ui-g">
                        <div class="ui-g-8">
                            <span class="secondary-text">*Title and description may not match exactly. Different mission contractors can each have unique titles and descriptions.</span>
                            <h3>Description</h3>
                            <p [innerHTML]="mission.Description | newlines"></p>
                        </div>

                        <div class="ui-g-4">
                            <h3>Minimum Payout</h3>
                            <h2>{{ mission.MinUEC | fmtUEC }}</h2>
                            <br />
                            <h3 *ngIf="mission.MaxUEC != mission.MinUEC">Maximum Payout</h3>
                            <h2 *ngIf="mission.MaxUEC != mission.MinUEC">{{ mission.MaxUEC | fmtUEC }}</h2>
                            <br *ngIf="mission.MaxUEC != mission.MinUEC" />
                            <h4 *ngIf="mission.BonusesAvailable">+Bonuses Available</h4>
                        </div>
                    </div>
                </p-panel>
            </div>

            <div class="ui-g-12" *ngIf="mission.RewardSets.length != 0">
                <p-panel>
                    <p-header>
                        <h3>Reputation Rewards. (One of the following sets)</h3>
                    </p-header>

                    <div class="ui-g">
                        <div class="ui-g-4" *ngFor="let rewardSet of mission.RewardSets">
                            <p-panel>
                                <p-header>
                                    <h5>{{ rewardSet.Title }}</h5>
                                </p-header>

                                <div class="ui-g">
                                    <ul>
                                        <li *ngFor="let reward of rewardSet.Rewards">
                                            <ng-container [ngSwitch]="reward.Type">
                                                <ng-container *ngSwitchCase="'Wanted'" class="ui-g-12 ui-g-nopad">
                                                    <span>Wanted</span>
                                                    <ul>
                                                        <li [innerHTML]="reward.Amount | value"></li>
                                                    </ul>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'Virtue'" class="ui-g-12 ui-g-nopad">
                                                    <span>Virtue</span>
                                                    <ul>
                                                        <li [innerHTML]="reward.Amount | value"></li>
                                                    </ul>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'Reliability'" class="ui-g-12 ui-g-nopad">
                                                    <span>Reliability</span>
                                                    <ul>
                                                        <li [innerHTML]="reward.Amount | value"></li>
                                                    </ul>
                                                </ng-container>

                                                <ng-container *ngSwitchCase="'Standing'" class="ui-g-12 ui-g-nopad">
                                                    <span>{{ reward.TargetGiver.Name }} / {{ reward.Scope.Name }}</span>
                                                    <ul>
                                                        <li [innerHTML]="reward.Amount | value"></li>
                                                    </ul>
                                                </ng-container>
                                                <div *ngSwitchDefault class="ui-g-12 ui-g-nopad">
                                                    <span style="margin-left: 4px">Unknown: {{ reward.Type }}</span>
                                                </div>
                                            </ng-container>
                                        </li>
                                    </ul>
                                </div>
                            </p-panel>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>

        <div class="ui-g-4">
            <div class="ui-g-12" *ngIf="StandingRequired || RepRequired">
                <p-panel>
                    <p-header>
                        <h3>Requirements</h3>
                    </p-header>

                    <div class="ui-g">
                        <p-panel header="Reputation" [style.width]="'100%'" *ngIf="StandingRequired">
                            <ul>
                                <ng-container *ngFor="let requirement of mission.Requirements">
                                    <ng-template #missionList>
                                        <ul>
                                            <li *ngFor="let missionRequirement of requirement.Missions">
                                                <a [routerLink]="['/mission', missionRequirement.Key]">
                                                    <span>{{ missionRequirement | missiontitle}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </ng-template>

                                    <ng-container [ngSwitch]="requirement.Type">
                                        <ng-container *ngSwitchCase="'Wanted'" class="ui-g-12 ui-g-nopad">
                                            <li>
                                                <span>Wanted</span>
                                                <ul>
                                                    <li>Between {{requirement.Min}} and {{requirement.Max}} stars.</li>
                                                </ul>
                                            </li>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Virtue'" class="ui-g-12 ui-g-nopad">
                                            <li>
                                                <span>Virtue</span>
                                                <ul>
                                                    <li *ngIf="requirement.Min && !requirement.Max">Greater than <span [innerHTML]="requirement.Min | value"></span>.</li>
                                                    <li *ngIf="!requirement.Min && requirement.Max">Less than <span [innerHTML]="requirement.Max | value"></span>.</li>
                                                    <li *ngIf="requirement.Min && requirement.Max">Between <span [innerHTML]="requirement.Min | value"></span> and <span [innerHTML]="requirement.Max | value"></span>.</li>
                                                </ul>
                                            </li>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Reliability'" class="ui-g-12 ui-g-nopad">
                                            <li>
                                                <span>Reliability</span>
                                                <ul>
                                                    <li *ngIf="requirement.Min && !requirement.Max">Greater than <span [innerHTML]="requirement.Min | value"></span>.</li>
                                                    <li *ngIf="!requirement.Min && requirement.Max">Less than <span [innerHTML]="requirement.Max | value"></span>.</li>
                                                    <li *ngIf="requirement.Min && requirement.Max">Between <span [innerHTML]="requirement.Min | value"></span> and <span [innerHTML]="requirement.Max | value"></span>.</li>
                                                </ul>
                                            </li>
                                        </ng-container>

                                        <ng-container *ngSwitchCase="'MissionAny'" class="ui-g-12 ui-g-nopad">
                                            <li>
                                                <span>Any of the following missions</span>
                                                <ng-container *ngTemplateOutlet="missionList"></ng-container>
                                            </li>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'MissionAll'" class="ui-g-12 ui-g-nopad">
                                            <li>
                                                <span>All of the following missions</span>
                                                <ng-container *ngTemplateOutlet="missionList"></ng-container>
                                            </li>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'MissionNone'" class="ui-g-12 ui-g-nopad">
                                            <li>
                                                <span>None of the following missions</span>
                                                <ng-container *ngTemplateOutlet="missionList"></ng-container>
                                            </li>
                                        </ng-container>

                                    </ng-container>
                                </ng-container>
                            </ul>
                        </p-panel>
                        <p-panel header="Standing" [style.width]="'100%'" *ngIf="RepRequired">
                            <ul>
                                <ng-container *ngFor="let requirement of mission.Requirements">
                                    <ng-container [ngSwitch]="requirement.Type">
                                        <ng-container *ngSwitchCase="'Standing'" class="ui-g-12 ui-g-nopad">
                                            <li>
                                                <span *ngIf="requirement.TargetGiver">{{ requirement.TargetGiver.Name }} / {{ requirement.RepScope }}</span>
                                                <span *ngIf="!requirement.TargetGiver">{{ requirement.RepScope }}</span>
                                                <ul>
                                                    <li *ngIf="requirement.Min !== undefined && requirement.Max === undefined">
                                                        Greater than <span [innerHTML]="requirement.Min | value"></span> (T{{requirement.MinScope.Tier}} / {{requirement.MinScope.Title}}).
                                                    </li>
                                                    <li *ngIf="requirement.Min === undefined && requirement.Max !== undefined">
                                                        Less than <span [innerHTML]="requirement.Max | value"></span> (T{{requirement.MaxScope.Tier}} / {{requirement.MaxScope.Title}}).
                                                    </li>
                                                    <li *ngIf="requirement.Min !== undefined && requirement.Max !== undefined">
                                                        Between <span [innerHTML]="requirement.Min | value"></span> (T{{requirement.MinScope.Tier}} / {{requirement.MinScope.Title}}) and
                                                        <span [innerHTML]="requirement.Max | value"></span>  (T{{requirement.MaxScope.Tier}} / {{requirement.MaxScope.Title}}).
                                                    </li>
                                                </ul>
                                            </li>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'And'" class="ui-g-12 ui-g-nopad">
                                            <li><span>---AND---</span></li>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'Or'" class="ui-g-12 ui-g-nopad">
                                            <li><span>---OR---</span></li>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ul>
                        </p-panel>
                    </div>
                </p-panel>
            </div>
            <div class="ui-g-12">
                <p-panel>
                    <p-header>
                        <h3>Mission Notes</h3>
                    </p-header>

                    <div class="ui-g">
                        <ng-container *ngFor="let note of mission.Notes">
                            <div class="ui-g-12 ui-g-nopad">
                                <i tisTooltip tooltipContent="{{note.Type}}" class="nf {{ NoteIconMap[note.Type].icon }}" [style.color]="NoteIconMap[note.Type].color"></i>
                                <span style="margin-left: 4px">{{ note.Title }}</span>
                            </div>
                        </ng-container>
                    </div>
                </p-panel>
            </div>
            <div class="ui-g-12" *ngIf="RelatedMissions.length > 0">
                <p-panel>
                    <p-header>
                        <h3>Related Missions</h3>
                        <span class="secondary-text">The following missions can be offered (or rescinded) upon completion of this (and/or) other missions.</span>
                    </p-header>

                    <div class="ui-g">
                        <ul>
                            <li *ngFor="let related of RelatedMissions">
                                <a [routerLink]="['/mission', related.Key]">
                                    <span>{{ related | missiontitle}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </p-panel>
            </div>
        </div>
        
    </div>
</div>