<p-dropdown [options]="equipmentOptions" [(ngModel)]="selectedEquipment" optionLabel="Name"
            [panelStyle]="{'width':'350px'}" panelStyleClass="panel-fix" scrollHeight="500px" [disabled]="disabled" dataKey="Key"
            (onShow)="listExpanded($event)" (onChange)="changeEquipment($event)">
    <ng-template let-equipment pTemplate="selectedItem">
        <div class="ui-helper-clearfix equipment-selected p-grid" style="position: relative;">
            <ng-container *ngIf="equipment.value; else emptyPreview">
                <div class="equipment-name p-col">
                    <span class="box">{{ equipment.value | displayname }}</span>
                </div>
                <div class="equipment-stats p-col-fixed" style="width: 60px">
                    <span class="box">S{{equipment.value.Size}}:G{{equipment.value.Grade}}</span>
                </div>
            </ng-container>
            <ng-template #emptyPreview>
                <div class="empty-slot p-col">
                    <span>Empty</span>
                </div>
            </ng-template>
        </div>
    </ng-template>

    <ng-template let-equipment pTemplate="item">
        <div class="ui-helper-clearfix p-grid">
            <ng-container *ngIf="equipment.value; else noItem">
                <div class="equipment-name p-col-10">{{equipment.value | displayname}}</div>
                <div class="equipment-stats p-col-2">
                    <span>S{{equipment.value.Size}}:G{{equipment.value.Grade}}</span>
                    <span></span>
                </div>
                <equipment-details [equipment]="equipment.value" class="p-col-12">
                </equipment-details>
            </ng-container>
            <ng-template #noItem>
                <div class="empty-slot p-col">
                    <span>Empty</span>
                </div>
            </ng-template>
        </div>
    </ng-template>
</p-dropdown>