<h1 class="header-font" style="text-align: center;">{{ title }}</h1>
<h4 *ngIf="!missions">Loading...</h4>

<div *ngIf="missions">

    <p-table #dt [value]="missions" [responsive]="true" dataKey="Key" sortField="MaxUEC" [sortOrder]="-1"
         [paginator]="true" [rows]="50" [rowsPerPageOptions]="[10,20,50,100]" paginatorPosition="both" showCurrentPageReport="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 5%" pSortableColumn="Lawful">Illegal<p-sortIcon field="Lawful"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Type">Type<p-sortIcon field="Type"></p-sortIcon></th>
                <th style="width: 30%" pSortableColumn="Title">Title<p-sortIcon field="Title"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="ReputationRequirement.Min">Rep. Required<p-sortIcon field="ReputationRequirement.Min"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="MaxUEC">UEC Reward<p-sortIcon field="MaxUEC"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="GiverName">Mission Giver<p-sortIcon field="GiverName"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="AvailableLocationID">Available Location<p-sortIcon field="AvailableLocationID"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="RewardSets[0].Rewards[0].Amount">Rep Rewards<p-sortIcon field="RewardSets[0].Rewards[0].Amount"></p-sortIcon></th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <p-multiSelect [options]="ClientData.MissionTypes" defaultLabel="All Types" (onChange)="dt.filter($event.value, 'MissionType', 'in')">
                        <ng-template let-type pTemplate="item">
                            <i class="nf {{type.icon}}" style="top: 5px"></i>
                            <div style="font-size:14px;display: inline;margin-left: 8px">{{type.label}}</div>
                        </ng-template>
                    </p-multiSelect>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Title', 'contains')">
                </th>
                <th></th>
                <th style="text-align: center">
                    UEC Reward >= {{rewardFilter}}K
                    <i class="pi pi-times" (click)="rewardFilter=null;dt.filter(null, 'MaxUEC', null)" style="cursor:pointer" *ngIf="rewardFilter"></i>
                    <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="rewardFilter" [min]="0" [max]="80" (onChange)="onRewardChange($event, dt)"></p-slider>
                </th>
                <th></th>
                <th></th>
                <th>
                    <p-checkbox label="Amounts" binary="true" [(ngModel)]="rewardDetails" ></p-checkbox>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td style="text-align: center">
                    <i *ngIf="!rowData.Lawful" class="nf nf-mdi-skull" tisTooltip tooltipContent="Illegal Mission"></i>
                </td>
                <td>
                    <i class="nf {{ MissionTypeIconMap[rowData.MissionType] }}"></i>
                    {{ rowData.MissionType }}
                </td>
                <td>
                    <a [routerLink]="['/mission', rowData.Key]">
                        {{ rowData.Title }}
                    </a>
                </td>
                <td>
                    <ng-container *ngIf="rowData.ReputationRequirement && rowData.ReputationRequirement.MinScope">
                        T{{ rowData.ReputationRequirement.MinScope.Tier }} / {{ rowData.ReputationRequirement.MinScope.Title }}
                    </ng-container>
                </td>
                <td>
                    {{ rowData | missionreward }}
                </td>
                <td>{{ rowData.GiverName }}</td>
                <td>
                    <span *ngIf="rowData.AvailableLocation; else AnyLocation">
                        {{ rowData.AvailableLocation | location }}
                    </span>
                    <ng-template #AnyLocation>
                        Any Location
                    </ng-template>
                </td>
                <td>
                    <ng-container *ngIf="rewardDetails">
                        <span *ngIf="rowData.RewardTypes">
                            {{ rowData.RewardTypesFull }}
                        </span>
                    </ng-container>
                    <ng-container *ngIf="!rewardDetails">
                        <span *ngIf="rowData.RewardTypes">
                            {{ rowData.RewardTypes }}
                        </span>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>