<h1 class="header-font" style="text-align: center;">Power Plants</h1>

<h4 *ngIf="!powerplantList">Loading...</h4>

<div *ngIf="powerplantList">
    <p-table #dt [value]="powerplantList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Size">Size<p-sortIcon field="Size"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Grade">Grade<p-sortIcon field="Grade"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Class">Class<p-sortIcon field="Class"></p-sortIcon></th>
                <th style="width: 25%" pSortableColumn="Properties.Heat.HeatActive">Active Heat<p-sortIcon field="Properties.Heat.HeatActive"></p-sortIcon></th>
                <th style="width: 25%" pSortableColumn="Properties.PowerPlant.PowerActive">Power Generation<p-sortIcon field="Properties.PowerPlant.PowerActive"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentSizes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Size', 'in')"></p-multiSelect>
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentGrades" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Grade', 'in')"></p-multiSelect>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-powerplant>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="powerplant"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>{{powerplant.Name}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Size: </span>{{powerplant.Size}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Grade: </span>{{powerplant.Grade}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Class: </span>{{powerplant.Class}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Heat: </span>
                    {{powerplant.Properties.Heat.HeatActive | fmtGeneric:false:true}} <span class="nf nf-fa-thermometer_empty heat-color"></span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Active Power: </span>
                    {{powerplant.Properties.PowerPlant.PowerActive | fmtGeneric:false:true}} <span class="nf nf-weather-lightning power-color"></span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>