<h1 class="header-font" style="text-align: center;">FPS Undersuits</h1>

<h4 *ngIf="!undersuitList">Loading...</h4>

<div *ngIf="undersuitList">
    <p-table #dt [value]="undersuitList" [responsive]="true" [paginator]="true" [rows]="50" [showCurrentPageReport]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>

                <th class="center-col" style="width: 20%" colspan="2">Temperature Rating</th>

                <th style="width: 30%" pSortableColumn="Properties.FPSArmor.ProtectedBodyParts">Protected Body Parts<p-sortIcon field="Properties.FPSArmor.ProtectedBodyParts"></p-sortIcon></th>
                <th style="width: 30%" pSortableColumn="Properties.FPSArmor.Resistance">Resistance<p-sortIcon field="Properties.FPSArmor.Resistance"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>

                <th pSortableColumn="Properties.Cloth.MinResistance">Min<p-sortIcon field="Properties.Cloth.MinResistance"></p-sortIcon></th>
                <th pSortableColumn="Properties.Cloth.MaxResistance">Max<p-sortIcon field="Properties.Cloth.MaxResistance"></p-sortIcon></th>

                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fpsundersuit>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="fpsundersuit"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>
                    <span tisTooltip tooltipContent="{{fpsundersuit.Key}}">{{fpsundersuit.Name}}</span>
                </td>

                <td class="center-col">
                    <span *ngIf="fpsundersuit.Properties.Cloth">
                        <span class="ui-column-title inline-title">Min Temperature: </span>
                        {{fpsundersuit.Properties.Cloth.MinResistance}}
                    </span>
                </td>
                <td class="center-col">
                    <span *ngIf="fpsundersuit.Properties.Cloth">
                        <span class="ui-column-title inline-title">Max Temperature: </span>
                        {{fpsundersuit.Properties.Cloth.MaxResistance}}
                    </span>
                </td>

                <td class="center-col">
                    <span *ngIf="fpsundersuit.Properties.FPSArmor.ProtectedBodyParts">
                        <span class="ui-column-title inline-title">Protected Parts: </span>
                        {{fpsundersuit.Properties.FPSArmor.ProtectedBodyParts.join(", ")}}
                    </span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Resistance: </span>
                    <span style="display: inline-block" [innerHtml]="fpsundersuit.Properties.FPSArmor.Resistance | fmtResistance:true:true"></span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>