﻿<h1 class="header-font" style="text-align: center;">About the Site</h1>


<em>Disclaimer:</em>
<span tisTooltip tooltipContent="Is this good enough....?">TradeInSpace is not affiliated, associated, authorized, endorsed by, or in any way officially connected with <em>R.S.I. (Roberts Space Industries), C.I.G.(Cloud Imperium Games)</em>, or any other related parties.</span>

<br />
<br />
<br />

<h3 tisTooltip tooltipContent="<em>o7</em>">Greeting fellow citizens!</h3>
<br />

<span>I hope you find this tool useful in your exploration and enjoyment of the <em>Star Citizen</em> universe. I aim to provide accurate information, with (hopefully) quick updates along-side the game. Hopefully the following FAQ adresses any questions you may have about the site.</span>


<br/>
<br/>
<br/>

<div>

    <div class="faq">
        <h3 class="faq-question">Is this an official website?</h3>

        <span class="nf nf-oct-primitive_dot">
        </span><span class="faq-response">No, this is a fan-made website. I mean....It's officially mine, if that's what you are asking.</span><br />
    </div>

    <div class="faq">
        <h3 class="faq-question" tisTooltip tooltipContent="Yes please!">Cookies?</h3>

        <span class="nf nf-oct-primitive_dot">
        </span><span class="faq-response">No, this site only uses <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API">IndexedDB</a> to persist data at the moment. No tracking data is generated or transmitted anywhere.</span><br />
    </div>


    <div class="faq">
        <h3 class="faq-question">Where does the data come from?</h3>

        <span class="nf nf-oct-primitive_dot"></span>
        <span class="faq-response">Everything (with the exception of at-location transit times) is pulled from the game data. This provides maximum accuracy to the information, and removes the need to spend many hours every update to get the site updated (hopefully.)</span><br />

        <span class="nf nf-oct-primitive_dot"></span>
        <span class="faq-response">Data is cached locally, and is only updated from the server when it ages past a week for game data, or an hour for trade data. </span><br />

        <span class="nf nf-oct-primitive_dot"></span>
        <span class="faq-response">
            If you are having trouble with the site, you can try to clear your local cache by clicking
            <a [routerLink]="" (click)="reset()">here</a>
            , or local cache AND user settings by clicking
            <a [routerLink]="" (click)="resetAll()">here</a>.
        </span><br />
    </div>


    <div class="faq">
        <h3 class="faq-question" tisTooltip tooltipContent="">Attribution</h3>
        <h5>This website leverages many open-source tehcnologies to be available, and wouldn't be possible without them. Notably:</h5>

        <span class="nf nf-oct-primitive_dot">
        </span>
        <span class="faq-response">
            <a target="_blank" href="https://github.com/dolkensp/unp4k">UnP4k</a> - Used as a starting point for data extraction, many custom tools built on top.
        </span><br />

        <span class="nf nf-oct-primitive_dot">
        </span>
        <span class="faq-response">
            <a target="_blank" href="https://www.nerdfonts.com/">NerdFonts</a> - Source of all the beautiful icons for the website.
        </span><br />

        <span class="nf nf-oct-primitive_dot">
        </span>
        <span class="faq-response">
            <a target="_blank" href="https://angular.io/">Angular2</a> - Framework for building the website.
        </span><br />

        <span class="nf nf-oct-primitive_dot">
        </span>
        <span class="faq-response">
            <a target="_blank" href="https://www.primefaces.org/primeng/">PrimeNG</a> - Toolkit of elements for building the website.
        </span><br />
    </div>


    <div class="faq">
        <h3 class="faq-question" tisTooltip tooltipContent="">What's with the <= PLACEHOLDER => text all over the place?</h3>

        <span class="nf nf-oct-primitive_dot">
        </span>
        <span class="faq-response">
            This is a temporary/development name assigned to many items/components/entiteis all over when they don't have a custom name defined in the translation file (or it hasn't been mapped into that specific field).
            In some cases this is due to the component's name never being directly visible, but sometimes just due to laziness :)
        </span><br />
    </div>


    <div class="faq">
        <h3 class="faq-question">Referral Code</h3>

        <span class="nf nf-oct-primitive_dot"></span>
        <span class="faq-response">If you would like to show your support for the website, you can use my referral code while signing up or sharing with a friend.</span><br />

        <span class="faq-response">STAR-FJTM-3HFN</span><br />
    </div>


    <div class="faq">
        <h3 class="faq-question">Upcomming features?</h3>

        <span class="faq-response" tisTooltip tooltipContent="...something something early access...?">I work on this site as my spare time allows. I have a lot of ideas for the site that I'd like to implement some day, but these are a few random features I've had in mind (In no particular order).</span><br />

        <span class="nf nf-oct-primitive_dot"></span>
        <span class="faq-response">Mining Simulator.</span><br />
        <span class="nf nf-oct-primitive_dot"></span>
        <span class="faq-response">Ship loadout sharing.</span><br />
        <span class="nf nf-oct-primitive_dot"></span>
        <span class="faq-response">System Map.</span><br />
        <span class="nf nf-oct-primitive_dot"></span>
        <span class="faq-response">Login/saving.</span><br />
        <span class="nf nf-oct-primitive_dot"></span>
        <span class="faq-response">Route planner.</span><br />
    </div>

</div>
