<h1 class="header-font" style="text-align: center;">Food & Drink</h1>

<h4 *ngIf="!foodList">Loading...</h4>

<div *ngIf="foodList">
    <p-table #dt [value]="foodList" [responsive]="true" [paginator]="true" [rows]="50" [showCurrentPageReport]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="Weapon.CheapestPrice">Price<p-sortIcon field="Food.CheapestPrice"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="AttachmentType">Type<p-sortIcon field="AttachmentType"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="AttachmentSubtype">Subtype<p-sortIcon field="AttachmentSubtype"></p-sortIcon></th>

                <th style="width: 15%" pSortableColumn="Properties.Food.Hunger">Nutrition<p-sortIcon field="Properties.Food.Hunger"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="Properties.Food.Thirst">Hydration<p-sortIcon field="Properties.Food.Thirst"></p-sortIcon></th>

                <th style="width: 15%">Effects</th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="dt.filter($event, 'Weapon', 'isBuyable')"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.FoodTypes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'AttachmentType', 'in')"></p-multiSelect>
                </th>
                <th></th>

                <th></th>
                <th></th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-food>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="food.Food"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>
                    <span tisTooltip tooltipContent="{{food.Food.Key}}">{{food.Food.Name}}</span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Type: </span>
                    {{food.Food.AttachmentType}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Subtype: </span>
                    {{food.Food.AttachmentSubtype}}
                </td>

                <td class="center-col">
                    <ng-container *ngIf="food.Food.Properties.Food.Hunger !== 0">
                        <span class="ui-column-title inline-title">Hunger Restore: </span>
                        {{food.Food.Properties.Food.Hunger}}
                    </ng-container>
                </td>
                <td class="center-col">
                    <ng-container *ngIf="food.Food.Properties.Food.Thirts !== 0">
                        <span class="ui-column-title inline-title">Thirst Restore: </span>
                        {{food.Food.Properties.Food.Thirst}}
                    </ng-container>
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Effects: </span>
                    {{food.Effects}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>