<h1 class="header-font" style="text-align: center;">Ship Paint</h1>

<h4 *ngIf="!paintList">Loading...</h4>

<div *ngIf="paintList">
    <p-table #dt [value]="paintList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 100%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-paint>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="paint"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>{{paint.Name}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>