<h1 class="header-font" style="text-align: center;">Quantum Drive Calculator</h1>

<p-panel header="Options">

    <div class="ui-g">
        
        <div class="ui-g-6">
            
            <span class="ui-g-2">
                From:
            </span>

            <div class="ui-g-10">
                <p-dropdown></p-dropdown>
            </div>

            <span class="ui-g-2">
                To:
            </span>

            <div class="ui-g-10">
                <p-dropdown></p-dropdown>
            </div>

        </div>

        <div class="ui-g-6">

            <span class="ui-g-2">
                Ship:
            </span>

            <div class="ui-g-10">
                <p-dropdown></p-dropdown>
            </div>

            <span class="ui-g-2">
                Drive:
            </span>

            <div class="ui-g-10">
                <p-dropdown></p-dropdown>
            </div>

        </div>
    </div>

</p-panel>

<p-panel header="Simulation">
    <p-chart type="line" [data]="qd_data" [options]="qd_options" (onDataSelect)="selectData($event)"></p-chart>
</p-panel>
