<h1 class="header-font" style="text-align: center;">Quantum Drives</h1>
<h5 style="text-align: center">
    Time calculation based on equations derived by 
    <a href="https://robertsspaceindustries.com/spectrum/community/SC/forum/4/thread/3-8-0k-ptu-quantum-speeds-in-3-8-data-side-by-side/2675860">CyberianK</a>
</h5>

<h4 *ngIf="!calculatedTimes">Loading...</h4>

<div *ngIf="calculatedTimes">
    <p-table #dt [value]="calculatedTimes" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="drive.CheapestPrice">Price<p-sortIcon field="drive.CheapestPrice"></p-sortIcon></th>
                <th style="width: 8%" pSortableColumn="drive.Name">Name<p-sortIcon field="drive.Name"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="drive.Size">Size<p-sortIcon field="drive.Size"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="drive.Grade">Grade<p-sortIcon field="drive.Grade"></p-sortIcon></th>
                <th style="width: 7%" pSortableColumn="drive.Class">Class<p-sortIcon field="drive.Class"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="drive.Properties.QDrive.DriveSpeed">Max Speed<p-sortIcon field="drive.Properties.QDrive.DriveSpeed"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="drive.Properties.QDrive.S1AccelRate">S1 Accel.<p-sortIcon field="drive.Properties.QDrive.S1AccelRate"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="drive.Properties.QDrive.S2AccelRate">S2 Accel.<p-sortIcon field="drive.Properties.QDrive.S2AccelRate"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="drive.Properties.QDrive.CooldownTime">CD<p-sortIcon field="drive.Properties.QDrive.CooldownTime"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="drive.Properties.QDrive.SpoolTime">Spool<p-sortIcon field="drive.Properties.QDrive.SpoolTime"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="drive.Properties.QDrive.FuelConsumptionRate">Fule Econ<p-sortIcon field="drive.Properties.QDrive.FuelConsumptionRate"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="jump.total_time">Jump Time<p-sortIcon field="jump.total_time"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="qdrive.jump.fuel_consumption">QF Usage<p-sortIcon field="qdrive.jump.fuel_consumption"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="dt.filter($event, 'drive', 'isBuyable')"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'drive.Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentSizes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'drive.Size', 'in')"></p-multiSelect>
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentGrades" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'drive.Grade', 'in')"></p-multiSelect>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="mobile-show-qdcalc" colspan="2">
                    <div class="ui-g">
                        <div class="ui-g-5">
                            <p-dropdown [options]="sourceOptions" [(ngModel)]="previewSource" optionLabel="Name" (onChange)="recalc($event)" dataKey="Key"></p-dropdown>
                        </div>
                        <div class="ui-g-2" style="text-align: center">
                            <span class="nf nf-fa-angle_double_right travel-arrow" style="line-height: 0"></span>
                            <br />
                            <span>{{calculatedDist/1000/1000 | fmtGeneric:true:false:' Gm'}}</span>
                        </div>
                        <div class="ui-g-5">
                            <p-dropdown [options]="destOptions" [(ngModel)]="previewDestination" optionLabel="Name" (onChange)="recalc($event)" dataKey="Key"></p-dropdown>
                        </div>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-qdrive>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="qdrive.drive"></equipment-price></td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>{{qdrive.drive.Name}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Size: </span>{{qdrive.drive.Size}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Grade: </span>{{qdrive.drive.Grade}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Class: </span>{{qdrive.drive.Class}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Max Speed: </span>
                    {{qdrive.drive.Properties.QDrive.DriveSpeed | fmtGeneric:false:false:' m/s'}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">S1 Accel: </span>
                    {{qdrive.drive.Properties.QDrive.S1AccelRate | fmtGeneric:false:false:' m/s^2'}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">S2 Accel: </span>
                    {{qdrive.drive.Properties.QDrive.S2AccelRate | fmtGeneric:false:false:' m/s^2'}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Cooldown: </span>
                    {{qdrive.drive.Properties.QDrive.CooldownTime | fmtGeneric:true:false:' s'}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Spool Time: </span>
                    {{qdrive.drive.Properties.QDrive.SpoolTime | fmtGeneric:true:false:' s'}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Fuel Economy: </span>
                    {{qdrive.drive.Properties.QDrive.FuelConsumptionRate * 1000 | fmtGeneric:false:false:' QF/Mm'}}
                </td>
                <td>
                    <div class="ui-g" *ngIf="longestTime != 0 && qdrive.jump.total_time != 0">
                        <span class="ui-column-title inline-title">Est. Jump Time: </span>
                        <div class="ui-g-12" style="position: relative">
                            <p-progressBar [style]="{'height': '20px'}" [value]="(qdrive.jump.total_time / longestTime) * 100" [showValue]="false"></p-progressBar>
                            <span class="progress-label">
                                {{qdrive.jump.total_time | timerange }}
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ui-g" *ngIf="mostFuel != 0 && qdrive.jump.fuel_consumption != 0">
                        <span class="ui-column-title inline-title">Fuel Consumption: </span>
                        <div class="ui-g-12" style="position: relative">
                            <p-progressBar [style]="{'height': '20px'}" [value]="(qdrive.jump.fuel_consumption / mostFuel) * 100" [showValue]="false"></p-progressBar>
                            <span class="progress-label">
                                {{qdrive.jump.fuel_consumption | fmtGeneric:false:false:' QF' }}
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>