﻿<h1 class="header-font" style="text-align: center;">{{ title }}</h1>

<p-table [value]="records"
         [paginator]="true" [rows]="50" [rowsPerPageOptions]="[10,20,50,100]" paginatorPosition="both"
         [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div style="text-align: right">
            <button pButton icon="nf nf-fa-save pad-right icon-fix" type="button" label="Save .CSV" (click)="doDownload()" style="width:auto">
            </button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <ng-container *ngFor="let headerKey of Object.keys(headers)">
                <th [pSortableColumn]="headerKey">
                    {{ headers[headerKey] }}
                    <p-sortIcon [field]="headerKey" ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
        <tr>
            <ng-container *ngFor="let headerKey of Object.keys(headers)">
                <td style="text-align: center">
                    <ng-container *ngIf="record[headerKey] != null"
                                  [ngSwitch]="(record[headerKey] | typeof)">
                        <ng-container *ngSwitchCase="'object'">
                            <a href="#" (click)="showDetails($event, record[headerKey], detailsPanel);$event.preventDefault();">
                                <i class="nf nf-fa-search"></i>
                            </a>
                        </ng-container>
                        <span *ngSwitchDefault>
                            {{ record[headerKey] }}
                        </span>
                    </ng-container>
                </td>
            </ng-container>
        </tr>
    </ng-template>
</p-table>

<p-overlayPanel #detailsPanel>
    <p-scrollPanel [style]="{width: '600px', 'max-height': '400px', 'font-family': 'monospace'}">
        <pre>
{{ selectedObjectJSON }}
        </pre>
    </p-scrollPanel>
</p-overlayPanel>