<h1 class="header-font" style="text-align: center;">Mining Locations</h1>

<p-treeTable #locationTree [value]="locations" dataKey="Key">
    <ng-template pTemplate="header" let-columns>
        <tr style="border-bottom: 3px solid black;">
            <th class="expand-col"></th>

            <th [ttSortableColumn]="'Name'">
                Name
                <p-treeTableSortIcon field="Name"></p-treeTableSortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode" [ngClass]="rowData.class">
            <td>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            </td>
            <td>
                <a (click)="console.log(rowNode)">{{ rowNode.node.label }}</a>
            </td>
        </tr>
    </ng-template>
</p-treeTable>
