<h1 class="header-font" style="text-align: center;">Shopping Cart</h1>

<p-table [value]="CartSections" [responsive]="true">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 15%">Category</th>
            <th style="width: 20%">Name - Manufacturer</th>
            <th style="width: 35%">Station</th>
            <th style="width: 10%">Unit Price</th>
            <th style="width: 10%">Quantity</th>
            <th style="width: 10%">Total Price</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-group>
        <tr class="ui-selectable-row" *ngFor="let trade of group.items; index as i">
            <td class="center-col" *ngIf="i === 0" [attr.rowspan]="group.items.length">
                {{ group.name | loadoutslottype }}
            </td>
            <td class="center-col">
                <span class="ui-column-title inline-title">Name</span>
                {{ trade.Trade.Equipment.Name }}
                <br />
                {{ trade.Trade.Equipment.Manufacturer }}
                <br />
                S{{ trade.Trade.Equipment.Size }} | G{{ trade.Trade.Equipment.Grade }}
            </td>
            <td class="center-col">
                <span class="ui-column-title inline-title">Station</span>
                <equipment-price [equipment]="trade.Trade.Equipment" [equipmentTrade]="trade.Trade" [label]="trade.Trade.Station.Name" icon="-" [selectionMode]="true" [clickPurchases]="false" styleClass="ui-button-">
                </equipment-price>
            </td>
            <td class="center-col">
                <span class="ui-column-title inline-title">Unit Price</span>
                {{ trade.Trade.BuyPrice | fmtUEC:true:true }}
            </td>
            <td class="center-col">
                <span class="ui-column-title inline-title">Quantity</span>
                <p-spinner [(ngModel)]="trade.Quantity" [min]="0"></p-spinner>
            </td>
            <td class="center-col">
                <span class="ui-column-title inline-title">Total Price</span>
                {{ trade.TotalPrice | fmtUEC:true:true }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td>
                <button *ngIf="cart.ItemCount > 0 && !confirmClear" pButton type="button" (click)="clearCart()"
                        label="Empty Cart" class="ui-button-raised" icon="nf nf-mdi-delete">
                </button>
                <button *ngIf="cart.ItemCount > 0 && confirmClear" pButton type="button" (click)="clearCart()" (mouseout)="leaveClear()"
                        label="Confirm?" class="ui-button-raised ui-button-warning" icon="nf nf-mdi-delete_empty">
                </button>
            </td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>{{ cart.ItemCount | fmtGeneric }}</td>
            <td>{{ cart.ListTotal | fmtUEC:true:true }}</td>
        </tr>
    </ng-template>
</p-table>

<div class="mobile-only">
    <button *ngIf="cart.ItemCount > 0 && !confirmClear" pButton type="button" (click)="clearCart()"
            label="Empty Cart" class="ui-button-raised" icon="nf nf-mdi-delete">
    </button>
    <button *ngIf="cart.ItemCount > 0 && confirmClear" pButton type="button" (click)="clearCart()" (mouseout)="leaveClear()"
            label="Confirm?" class="ui-button-raised ui-button-warning" icon="nf nf-mdi-delete_empty">
    </button>
    <h3>{{cart.ItemCount | fmtGeneric}} Item(s)</h3>
    <h3>Total: {{cart.ListTotal | fmtUEC:true:true}}</h3>
</div>