<p-table #dt
         [columns]="selected_columns" [value]="available_routes" [responsive]="true"
         [paginator]="true" [rows]="20" [rowsPerPageOptions]="[10,20,50,100]" paginatorPosition="both" showCurrentPageReport="true"
         [sortField]="sort_column" [sortOrder]="sort_direction" (sortFunction)="customSort($event)" [customSort]="true"
         [rowTrackBy]="rowTrack">
    <ng-template pTemplate="caption">
        <div style="text-align:left" class="med-hidden">
            <p-multiSelect [options]="grid_columns" [(ngModel)]="selected_columns" optionLabel="header"
                           selectedItemsLabel="{0} columns" [style]="{width: '200px' }" defaultLabel="Columns"></p-multiSelect>
        </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width" [class]="col.class" />
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.property" [class]="col.class">
                <dfn [class]="col.definition ? 'tooltip-column' : ''" (mouseenter)="showTooltipDef($event, col.definition)" (mouseleave)="hideTooltip($event)">
                    <span>{{col.header}}</span>
                    <p-sortIcon [field]="col.property"></p-sortIcon>
                </dfn>
            </th>
        </tr>
        <tr class="route-table-search hidden visible-lg">
            <th *ngFor="let col of columns" [class]="col.class">
                <div *ngIf="col.searchable" class="ui-inputgroup">
                    <input pInputText class="route-header-search" type="text" (input)="dt.filter($event.target.value, col.property, 'contains')">
                    <span class="ui-inputgroup-addon"><i class="pi pi-search"></i></span>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-route let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.property" [class]="col.class">
                <span class="ui-column-title inline-title">{{col.header}}: </span>

                <div [class]="col.createTooltipContent ? 'tooltip-column' : ''" (mouseenter)="showTooltip($event, col, route)" (mouseleave)="hideTooltip($event)">
                    <div (click)="cellClicked($event, col, route)">
                        {{ col.getRowContent(route) }}
                        <a *ngIf="col.property === 'avg_hold_profit'" (mouseenter)="showTooltipDef($event, 'Complete route.')" (mouseleave)="hideTooltip($event)" class="pi pi-play route-complete"></a>
                    </div>
                    <div *ngIf="col.barSettings" class="mini-bar">
                        <span class="mini-bar-value" [style.background]="col.barSettings(route).color" [style.width.%]="col.barSettings(route).percent * 100"></span>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-overlayPanel #tooltip_overlay [dismissable]="false">
  <div [innerHtml]="tooltip_content | safe: 'html'"></div>
</p-overlayPanel>
