.mini-bar {
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 4px;
  background-color: black;
  margin-top: 2px;
}

.mini-bar .mini-bar-value {
  display: block;
  padding: 2px;
  width: 50%;
}

.col-right {
  float: right;
  margin-bottom: 2px;
}

.col-center {
  text-align: center;
}

.inline-title {
  float: left;
}


