<p-panel *ngIf="filter_settings" header="Filters and Preferences" [toggleable]="true">
  <div class="ui-g filter-content">

    <div class="ui-g-7 ui-xl-7 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad" >
      <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12 ui-g-nopad">
        <div class="ui-g-3 filter-header"></div>
        <div class="ui-g-9 filter-header">Preferences</div>

        <div class="ui-g-3 nopad">
          <span class="preference-details">
            <span>
              <span tisTooltip tooltipContent="Preference of buying/selling at cities." class="pi pi-fw pi-home"></span>
              <span>Cities</span>
            </span>
          </span>
        </div>
        <div class="ui-g-9 nopad">
          <p-steps [model]="city_pref_options" [(activeIndex)]="filter_settings.city_preference" [readonly]="false" (activeIndexChange)="preferenceChanged()" styleClass="steps-custom hide-labels steps-4"></p-steps>
        </div>

        <div class="ui-g-3 nopad">
          <span class="preference-details">
            <span>
              <span tisTooltip tooltipContent="Preference of hidden sell locations." class="pi pi-fw pi-eye-slash"></span>
              <span>Hidden</span>
            </span>
          </span>
        </div>
        <div class="ui-g-9 nopad">
          <p-steps [model]="hidden_pref_options" [(activeIndex)]="filter_settings.hidden_preference" [readonly]="false" (activeIndexChange)="preferenceChanged()" styleClass="steps-custom hide-labels steps-4"></p-steps>
        </div>

        <div class="ui-g-3 nopad">
          <span class="preference-details">
            <span>
              <span tisTooltip tooltipContent="Preference of longer QT jumps. Avoiding limits to same planet." class="pi pi-fw pi-angle-double-right"></span>
              <span>QT</span>
            </span>
          </span>
        </div>
        <div class="ui-g-9 nopad">
          <p-steps [model]="qt_pref_options" [(activeIndex)]="filter_settings.quantum_preference" [readonly]="false" (activeIndexChange)="preferenceChanged()" styleClass="steps-custom steps-4"></p-steps>
        </div>

        <div class="ui-g-3 nopad">
          <span class="preference-details">
            <span>
              <span tisTooltip tooltipContent="Value of cargo to pick up." class="pi pi-fw pi-shopping-cart"></span>
              <span>Cargo</span>
            </span>
          </span>
        </div>
        <div class="ui-g-9">
          <p-steps [model]="cargo_pref_options" [(activeIndex)]="filter_settings.hv_cargo_preference" [readonly]="false" (activeIndexChange)="preferenceChanged()" styleClass="steps-custom steps-3"></p-steps>
        </div>

        <div class="ui-g-3 nopad">
          <span class="preference-details">
            <span>
              <span tisTooltip tooltipContent="Preference of shorter runs over longer runs." class="pi pi-fw pi-clock"></span>
              <span>Time</span>
            </span>
          </span>
        </div>
        <div class="ui-g-9 nopad">
          <p-steps [model]="short_pref_options" [(activeIndex)]="filter_settings.short_route_preference" [readonly]="false" (activeIndexChange)="preferenceChanged()" styleClass="steps-custom steps-2"></p-steps>
        </div>

      </div>

      <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-12 ui-sm-12 ui-g-nopad">
          <div class="ui-g-12 filter-header">
              Time Limits
          </div>
          <div class="ui-g-12 filter-time-row">
              <div class="ui-g-1 time-slider-header" tisTooltip tooltipContent="Total time">
                  <span class="pi pi-fw pi-clock"></span>
              </div>
              <div class="ui-g-1 time-slider-value">
                  {{ filter_settings.total_time_max == 0 ? "Inf" : filter_settings.total_time_max + "m" }}
              </div>
              <div class="ui-g-10">
                  <p-slider [styleClass]="'time-slider'" [(ngModel)]="filter_settings.total_time_max" [step]="15" [min]="0" [max]="240" (onChange)="filterChanged()"></p-slider>
              </div>
          </div>

          <div class="ui-g-12 filter-time-row">
              <div class="ui-g-1 time-slider-header" tisTooltip tooltipContent="Transit time (Trams/Running/etc.)">
                  <span class="pi pi-fw pi-directions"></span>
              </div>
              <div class="ui-g-1 time-slider-value">
                  {{ filter_settings.transit_time_max == 0 ? "Inf" : filter_settings.transit_time_max + "m" }}
              </div>
              <div class="ui-g-10">
                  <p-slider [styleClass]="'time-slider'" [(ngModel)]="filter_settings.transit_time_max" [step]="5" [min]="0" [max]="60" (onChange)="filterChanged()"></p-slider>
              </div>
          </div>

          <div class="ui-g-12 filter-time-row">
              <div class="ui-g-1 time-slider-header" tisTooltip tooltipContent="Ship travel time. Includes QT, Flight, Spooiling.">
                  <span class="pi pi-fw pi-angle-double-right"></span>
              </div>
              <div class="ui-g-1 time-slider-value">
                  {{ filter_settings.ship_time_max == 0 ? "Inf" : filter_settings.ship_time_max + "m" }}
              </div>
              <div class="ui-g-10">
                  <p-slider [styleClass]="'time-slider'" [(ngModel)]="filter_settings.ship_time_max" [step]="5" [min]="0" [max]="60" (onChange)="filterChanged()"></p-slider>
              </div>
          </div>

          <div class="ui-g-12 filter-time-row">
              <div class="ui-g-1 time-slider-header" tisTooltip tooltipContent="Purchase time">
                  <span class="pi pi-fw pi-sign-in"></span>
              </div>
              <div class="ui-g-1 time-slider-value">
                  {{ filter_settings.buy_time_max == 0 ? "Inf" : filter_settings.buy_time_max + "m" }}
              </div>
              <div class="ui-g-10">
                  <p-slider [styleClass]="'time-slider'" [(ngModel)]="filter_settings.buy_time_max" [step]="5" [min]="0" [max]="60" (onChange)="filterChanged()"></p-slider>
              </div>
          </div>

          <div class="ui-g-12 filter-time-row">
              <div class="ui-g-1 time-slider-header" tisTooltip tooltipContent="Sell time">
                  <span class="pi pi-fw pi-sign-out"></span>
              </div>
              <div class="ui-g-1 time-slider-value">
                  {{ filter_settings.sell_time_max == 0 ? "Inf" : filter_settings.sell_time_max + "m" }}
              </div>
              <div class="ui-g-10">
                  <p-slider [styleClass]="'time-slider'" [(ngModel)]="filter_settings.sell_time_max" [step]="5" [min]="0" [max]="60" (onChange)="filterChanged()"></p-slider>
              </div>
          </div>


          <div class="ui-g-4 ui-g-offset-1 p-grid p-justify-center filter-time-row">
              <div class="p-col-12 nopad" style="text-align: center">
                  <span class="filter-header">Mode:</span>
              </div>

              <div class="p-col-12 nopad">
                  <div style="margin-left: auto; margin-right: auto; width: max-content" class="fix-button">
                      <p-toggleButton [(ngModel)]="filter_settings.looping" (onChange)="filterChanged()" onLabel="Looping" offLabel="One-Way" 
                                      onIcon="nf nf-fa-refresh" offIcon="nf nf-mdi-format_horizontal_align_right" iconPos="left"></p-toggleButton>
                  </div>
              </div>
          </div>

          <div class="ui-g-7 p-grid p-justify-center filter-time-row">
              <div class="p-col-12 nopad" style="text-align: center">
                  <span class="filter-header">Minimum pad size:</span>
              </div>

              <div class="p-col-12 nopad">
                  <div style="margin-left: auto; margin-right: auto; width: max-content">
                      <p-selectButton #padFilterBtn [(ngModel)]="filter_settings.minimum_pad_size" [options]="ClientData.SizeFilterOptionsSmall" (onChange)="filterChanged()"></p-selectButton>
                  </div>
              </div>
          </div>

          <div style="clear: both">
          </div>
      </div>

    </div>
    
    <div class="ui-g-5 ui-xl-5 ui-lg-12 ui-md-12 ui-sm-12 ui-g-nopad" style="top: 10px; bottom: 10px">

      <div class="ui-g-6 ui-g-nopad" style="height: 100%">
        <div class="ui-g-12 filter-header">
          <span>Items &amp; Categories</span>
          <br class="hidden-lg" />
          <a (click)="UiUtils.selectAll(itemTree, this.selected_items)"><i class="pi pi-check-circle center-icon"></i></a>
          <a (click)="UiUtils.unselectAll(itemTree, this.selected_items)"><i class="pi pi-times-circle center-icon"></i></a>
        </div>
        <div class="ui-g-12" style="height: 90%">
          <p-tree #itemTree class="filter-tree" [value]="filter_items" selectionMode="checkbox" [(selection)]="selected_items" (onNodeSelect)="writeTreeSelections()" (onNodeUnselect)="writeTreeSelections()" >
          </p-tree>
        </div>
      </div>

      <div class="ui-g-6 ui-g-nopad" style="height: 100%">
        <div class="ui-g-12 filter-header">
          <span>Stations</span>
          <br class="hidden-lg" />
          <a (click)="UiUtils.selectAll(stationTree, this.selected_stations)"><i class="pi pi-check-circle center-icon"></i></a>
          <a (click)="UiUtils.unselectAll(stationTree, this.selected_stations)"><i class="pi pi-times-circle center-icon"></i></a>
        </div>
        <div class="ui-g-12" style="height: 90%">
          <p-tree #stationTree class="filter-tree" [value]="filter_stations" selectionMode="checkbox" [(selection)]="selected_stations" (onNodeSelect)="writeTreeSelections()" (onNodeUnselect)="writeTreeSelections()" >
          </p-tree>
        </div>
      </div>
    </div>

  </div>
</p-panel>
