


.filter-time-row {
  padding-top: 0px;
  padding-bottom: 10px;
}

.filter-time-row div {
  padding-top: 0px;
  padding-bottom: 0px;
}

.filter-header {
  text-align: center;
  font-size: 18px;
}

.route-header-search {
  width: 100%;
}

.center-icon {
  position: relative;
  top: 5px;
}

:host ::ng-deep .ui-buttonset {
    width: max-content;
}

:host ::ng-deep body .fix-button .ui-button.ui-button-text-icon-left .ui-button-text {
    margin-left: 2.5em;
    margin-right: 0.5em;
}

/*
.filter-content {
  display: block;
}

span.fa.splitbutton-fix {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -.5em;
  margin-left: -.5em;
  width: 1em;
  height: 1em;
}

span.split-spacer.splitbutton-fix {
  padding: .25em 1em .25em 2.1em;
}

*/
