.details-outer > div {
    float: left;
}

.details-dynamic {
    padding-left: 10px;
}

    .details-dynamic span.nf {
        top: 1px;
        font-size: 1.4em;
        padding: 2px;
        display: inline-block;
    }

.details-dynamic {
    text-align: left;
}

.cargo-details {

}

.quantum-details,
.shield-details{
}

.stat {
    font-weight: bold;
    text-decoration: underline;
}

.stats-table {
    display: table;
}

    .stats-table > div {
        display: table-row;
    }

        .stats-table > div > span {
            display: table-cell;
            padding-right: 5px;
        }