
<div class="details-outer">
    <div class="details-dynamic">
        <div class="cargo-details" *ngIf="equipment.Properties.Cargo as cargo_props">
            <span><span class="stat">{{cargo_props.SCU * quantity | fmtSCU}}</span> of storage capacity.</span>
            <br />
            <span *ngIf="cargo_props.MiningOnly">*Mining Only*</span>
        </div>
        <div class="quantum-details" *ngIf="equipment.Properties.QDrive as qdrive_props">
            <span>Travel Speed: <span class="stat">{{qdrive_props.DriveSpeed | fmtGeneric}} m/s</span></span>
            <br />
            <span>Range: <span class="stat">{{qdrive_props.JumpRange | fmtGeneric }} m</span></span>
            <br />
            <span>Spools in <span class="stat">{{qdrive_props.SpoolTime }} seconds</span>.</span>
        </div>
        <div class="shield-details" *ngIf="equipment.Properties.Shield as shield_props">
            <span>Shield: <span class="stat">{{shield_props.MaxShield * quantity | fmtGeneric}}</span> + <span class="stat">{{shield_props.MaxRegenRate * quantity | fmtGeneric}}/s</span></span>
            <br />
            <span>Delay: <span class="stat">{{shield_props.DamagedRegenDelay | fmtGeneric }}s</span> (<span class="stat">{{shield_props.DownedRegenDelay | fmtGeneric }}s</span> Downed)</span>
            <br />
            <span>Hardens <span class="stat">{{1 + shield_props.HardenFactor }}x</span> for <span class="stat">{{shield_props.HardenDuration }}s</span> / <span class="stat">{{shield_props.HardenCooldown }}s</span> cooldown</span>
        </div>
        <div class="powerplant-details" *ngIf="equipment.Properties.PowerPlant as plant_props">
            <span>Provides <span class="stat">{{ plant_props.PowerActive * quantity | fmtGeneric }} </span><span class="nf nf-weather-lightning power-color"></span> Power</span>
        </div>
        <div class="cooler-details" *ngIf="equipment.Properties.Cooler as cooler_props">
            <span>Provides <span class="stat">{{ cooler_props.CoolingRate * quantity | fmtGeneric }} </span><span class="nf nf-mdi-snowflake cool-color"></span> Cooling</span>
        </div>
        <div class="fuel-details" *ngIf="equipment.Properties.FuelTank as fuel_props">
            <span>Provides <span class="stat">{{fuel_props.Capacity * quantity | fmtGeneric}}</span> Hydrogen</span>
        </div>
        <div class="quantumfuel-details" *ngIf="equipment.Properties.QuantumFuelTank as qfuel_props">
            <span>Provides <span class="stat">{{qfuel_props.Capacity * quantity | fmtGeneric}}</span> QF</span>
        </div>
        <div class="armor-details stats-table" *ngIf="equipment.Properties.Armor as armor_props">
            <div>
                <span>Phys:</span>
                <span class="stat">{{armor_props.DamagePhysical | fmtPercent:true}}</span>
                <span>Ener:</span>
                <span class="stat">{{armor_props.DamageEnergy | fmtPercent:true}}</span>
            </div>
            <div>
                <span>Dist:</span>
                <span class="stat">{{armor_props.DamageDistortion | fmtPercent:true}}</span>
                <span>Therm:</span>
                <span class="stat">{{armor_props.DamageThermal | fmtPercent:true}}</span>
            </div>
            <div>
                <span>Bio:</span>
                <span class="stat">{{armor_props.DamageBiochemical | fmtPercent:true}}</span>
                <span>Stun:</span>
                <span class="stat">{{armor_props.DamageStun | fmtPercent:true}}</span>
            </div>
        </div>
        <div class="weapon-details stats-table" *ngIf="damage">
            <ng-container [ngSwitch]="damage.mode">
                <ng-container *ngSwitchCase="DamageMode.Single">
                    <div>
                        <span>Fire Mode: </span>
                        <span class="stat">Single</span>
                    </div>
                    <div>
                        <span>Fire Rate:</span>
                        <span class="stat">{{ damage.effective_rate | fmtGeneric }} RPM</span>
                    </div>
                    <div>
                        <span>Damage (Volley/DPS):</span>
                        <span>
                            <span class="stat">{{ damage.volley | fmtDamage }}</span>
                            <span> / </span>
                            <span class="stat">{{ damage.sustain | fmtDamage }}</span>
                        </span>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="DamageMode.Automatic">
                    <div>
                        <span>Fire Mode: </span>
                        <span class="stat">Automatic</span>
                    </div>
                    <div>
                        <span>Fire Rate:</span>
                        <span class="stat">{{ damage.effective_rate | fmtGeneric }} RPM</span>
                    </div>
                    <div>
                        <span>Damage (Volley/DPS):</span>
                        <span>
                            <span class="stat">{{ damage.volley | fmtDamage }}</span>
                            <span> / </span>
                            <span class="stat">{{ damage.sustain | fmtDamage }}</span>
                        </span>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="DamageMode.Scattergun">
                    <div>
                        <span>Fire Mode: </span>
                        <span class="stat">Scattergun</span>
                    </div>
                    <div>
                        <span>Fire Rate:</span>
                        <span>
                            <span class="stat">{{ damage.effective_rate | fmtGeneric }} RPM</span>
                            <span> x </span>
                            <span class="stat">{{ damage.projectiles | fmtGeneric }}</span>
                        </span>
                    </div>
                    <div>
                        <span>Damage (Volley/DPS):</span>
                        <span>
                            <span class="stat">{{ damage.volley | fmtDamage }}</span>
                            <span> / </span>
                            <span class="stat">{{ damage.sustain | fmtDamage }}</span>
                        </span>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="DamageMode.Charge">
                    <div>
                        <span>Fire Mode: </span>
                        <span class="stat">Charge</span>
                    </div>
                    <div>
                        <span>Full Charge Time: </span>
                        <span class="stat">{{ equipment.Weapon.Actions[0].ChargeTime | fmtGeneric }} s</span>
                    </div>
                    <div>
                        <span>Damage: </span>
                        <span>
                            <span class="stat">{{ damage.burst | fmtDamage }}</span>
                            <span> </span>
                            <span class="stat">[x{{ equipment.Weapon.Actions[0].ChargedMultiplier | fmtGeneric:false }}</span>
                        </span>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="DamageMode.Missile">
                    <div>
                        <span>Fire Mode: </span>
                        <span class="stat">Missile</span>
                    </div>
                    <div>
                        <span>Tracking:</span>
                        <span>
                            <span class="stat">{{ equipment.Properties.Missile.TrackingData.MinimumValue }} {{ equipment.Properties.Missile.TrackingData.SignalType }}</span>
                        </span>
                    </div>
                    <div>
                        <span>Max Dist:</span>
                        <span class="stat">{{ equipment.Properties.Missile.TrackingData.MaxDistance / 1000 | fmtGeneric }} km</span>
                        <span>Speed:</span>
                        <span class="stat">{{ equipment.Properties.Missile.MissileSpeed | fmtGeneric:false }} m/s</span>
                    </div>
                    <div>
                        <span>Lock Time:</span>
                        <span class="stat">{{ equipment.Properties.Missile.TrackingData.LockTime | fmtGeneric:false }} s</span>
                        <span>Tracking FoV:</span>
                        <span class="stat">{{ equipment.Properties.Missile.TrackingData.Angle | fmtGeneric:false }} deg</span>
                    </div>
                    <div>
                        <span>Damage:</span>
                        <span class="stat">{{ equipment.Properties.Missile.ExplosionDamage | fmtDamage }}</span>
                        <span>Radius Min-Max:</span>
                        <span class="stat">{{ equipment.Properties.Missile.ExplosionRadiusMin | fmtGeneric:false }}-{{ equipment.Properties.Missile.ExplosionRadiusMax | fmtGeneric:false }}</span>
                    </div>
                </ng-container>
                <ng-container *ngDefaultCase>
                    <div>
                        <span>Fire Mode: </span>
                        <span class="stat">Other</span>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="clearfix"></div>
</div>