<h1 class="header-font" style="text-align: center;">Trade Routes</h1>

<div>
  <route-filter #rFilter [filter_settings]="filter_settings" (preferencesChanged)="preferenceChanged($event)" (filtersChanged)="filterChanged($event)">
  </route-filter>

  <route-table #rTable *ngIf="filter_settings" [available_routes]="available_routes" [sort_column]="filter_settings.sort_column" [sort_direction]="filter_settings.sort_direction" (routeCompleted)="routeCompleted($event)">
  </route-table>
</div>
