<h1 class="header-font" style="text-align: center;">Ship Weapons</h1>
<h5 style="text-align: center">Note: DPS and Heat calculation may not be fully accurate yet.</h5>

<h4 *ngIf="!weaponList">Loading...</h4>

<div *ngIf="weaponList">
    <p-table #dt [value]="weaponList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="equipment.CheapestPrice">Price<p-sortIcon field="equipment.CheapestPrice"></p-sortIcon></th>
                <th style="width: 20%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="Size">Size<p-sortIcon field="Size"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="Grade">Grade<p-sortIcon field="Grade"></p-sortIcon></th>

                <th style="width: 10%" pSortableColumn="equipment.Properties.Heat.HeatActive">Active Heat<p-sortIcon field="equipment.Properties.Heat.HeatActive"></p-sortIcon></th>
                <th style="width: 15%" class="center-col" colspan="2">Power</th>



                <th style="width: 10%" pSortableColumn="damage.mode">Firing Mode<p-sortIcon field="damage.mode"></p-sortIcon></th>

                <th style="width: 20%" class="center-col" colspan="2">Damage</th>
                <th style="width: 10%" pSortableColumn="damage.effective_rate">Fire Rate<p-sortIcon field="damage.effective_rate"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="dt.filter($event, 'equipment', 'isBuyable')"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'equipment.Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentSizes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'equipment.Size', 'in')"></p-multiSelect>
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentGrades" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'equipment.Grade', 'in')"></p-multiSelect>
                </th>

                <th></th>
                <th pSortableColumn="equipment.Properties.Energy.PowerBase">Idle<p-sortIcon field="equipment.Properties.Energy.PowerBase"></p-sortIcon></th>
                <th pSortableColumn="equipment.Properties.Energy.PowerActive">Active<p-sortIcon field="equipment.Properties.Energy.PowerActive"></p-sortIcon></th>

                <th>
                    <p-multiSelect [options]="ClientData.GunDamageModes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'damage.mode', 'in')"></p-multiSelect>
                </th>
                <th pSortableColumn="damage.volley_flat">Volley<p-sortIcon field="damage.volley_flat"></p-sortIcon></th>
                <th pSortableColumn="damage.sustain_flat">DPS<p-sortIcon field="damage.sustain_flat"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-weapon>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="weapon.equipment"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>
                    <span>{{weapon.equipment.Name}}</span>
                    <br />
                    <span class="ui-column-title inline-title">Manufacturer: </span>
                    <span class="name-col">{{weapon.equipment.Manufacturer}}</span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Size: </span>{{weapon.equipment.Size}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Grade: </span>{{weapon.equipment.Grade}}
                </td>

                <td class="center-col">
                    <ng-container *ngIf="weapon.damage.heat_generation > 0">
                        <span class="ui-column-title inline-title">Heat Gen: </span>
                        {{ weapon.damage.heat_generation/60 | fmtGeneric:false:false:'/s' }}
                        <span class="nf nf-fa-thermometer_empty heat-color"></span>
                    </ng-container>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Idle Power: </span>
                    {{weapon.equipment.Properties.Energy.PowerBase | fmtGeneric:false:true}} <span class="nf nf-weather-lightning power-color"></span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Active Power: </span>
                    {{weapon.equipment.Properties.Energy.PowerActive | fmtGeneric:false:true}} <span class="nf nf-weather-lightning power-color"></span>
                </td>


                <ng-container *ngIf="weapon.damage else noDamage">
                    <td class="center-col" [ngSwitch]="weapon.damage.mode">
                        <span class="ui-column-title inline-title">Firing Mode: </span>
                        <span *ngSwitchCase="DamageMode.Single">Single Fire</span>
                        <span *ngSwitchCase="DamageMode.Charge">Charge</span>
                        <span *ngSwitchCase="DamageMode.Automatic">Automatic</span>
                        <span *ngSwitchCase="DamageMode.Scattergun">Scattergun</span>
                    </td>
                    <td class="center-col">
                        <span class="ui-column-title inline-title">Volley Damage: </span>
                        <damage-display [damage]="weapon.damage.volley" unit="Dmg."></damage-display>
                    </td>
                    <td class="center-col">
                        <span class="ui-column-title inline-title">Sustain Damage: </span>
                        <damage-display [damage]="weapon.damage.sustain"></damage-display>
                    </td>
                    <td class="center-col">
                        <span class="ui-column-title inline-title">Fire Rate: </span>
                        {{weapon.damage.effective_rate | fmtGeneric:true:true:' RPM'}}
                        <span class="secondary-text"> x{{weapon.damage.projectiles}}</span>
                        <ng-container *ngIf="weapon.damage.cooldown_time !== 0">
                            <br/>
                            {{weapon.damage.cooldown_time}} s. Cooldown
                        </ng-container>
                    </td>
                </ng-container>
                <ng-template #noDamage>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </ng-template>
            </tr>
        </ng-template>
    </p-table>
</div>