<h1 class="header-font" style="text-align: center;">Mining Gadgets</h1>

<h4 *ngIf="!gadgetList">Loading...</h4>

<div *ngIf="gadgetList">
    <p-table #dt [value]="gadgetList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 10%" class="price-col" pSortableColumn="Equipment.CheapestPrice">Price<p-sortIcon field="Equipment.CheapestPrice"></p-sortIcon></th>
                <th style="width: 15%" pSortableColumn="Equipment.Name">Name<p-sortIcon field="Equipment.Name"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="Equipment.Size">Size<p-sortIcon field="Equipment.Size"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="Equipment.Grade">Grade<p-sortIcon field="Equipment.Grade"></p-sortIcon></th>

                <th style="width: 7%" pSortableColumn="Resistance">Resistance<p-sortIcon field="Resistance"></p-sortIcon></th>
                <th style="width: 7%" pSortableColumn="Instability">Instability<p-sortIcon field="Instability"></p-sortIcon></th>
                <th style="width: 7%" pSortableColumn="OptimalWindowSize">Optimal Window Size<p-sortIcon field="OptimalWindowSize"></p-sortIcon></th>
                <th style="width: 7%" pSortableColumn="ShatterDamage">Shatter Damage<p-sortIcon field="ShatterDamage"></p-sortIcon></th>
                <th style="width: 14%" class="center-col" colspan="2">Charge Rate</th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentSizes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Equipment.Size', 'in')"></p-multiSelect>
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentGrades" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Equipment.Grade', 'in')"></p-multiSelect>
                </th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th pSortableColumn="OptimalWindowRate">Optimal<p-sortIcon field="OptimalWindowRate"></p-sortIcon></th>
                <th pSortableColumn="CatastrophicWindowRate">Overcharge<p-sortIcon field="CatastrophicWindowRate"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-gadget>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="gadget.Equipment"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>{{gadget.Equipment.Name}}
                    <i class="nf nf-fa-info_circle" tisTooltip tooltipContent="{{gadget.Equipment.Description | newlines}}"></i>
                    <br />
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Size: </span>{{gadget.Equipment.Size}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Grade: </span>{{gadget.Equipment.Grade}}
                </td>

                <td class="center-col"> <span *ngIf="gadget.Resistance != 0"> {{ gadget.Resistance | fmtPercent:true:false }} </span> </td>
                <td class="center-col"> <span *ngIf="gadget.Instability != 1"> {{ gadget.Instability | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="gadget.OptimalWindowSize != 1"> {{ gadget.OptimalWindowSize | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="gadget.ShatterDamage != 1"> {{ gadget.ShatterDamage | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="gadget.OptimalWindowRate != 1"> {{ gadget.OptimalWindowRate | fmtPercent:true:true }} </span> </td>
                <td class="center-col"> <span *ngIf="gadget.CatastrophicWindowRate != 1"> {{ gadget.CatastrophicWindowRate | fmtPercent:true:true }} </span> </td>
            </tr>
        </ng-template>
    </p-table>
</div>