/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|Open+Sans|Racing+Sans+One&display=swap');
@import '../node_modules/primeicons/primeicons.css';
@import 'theme_custom.css';
@import '../node_modules/primeng/resources/primeng.min.css';

:root {
  --page-bg-color: #585858;
  --secondary-bg-col: #252525;
  --main-fg-color: #3C3C3C;
  --light-fg-color: #707070;
  --main-txt-color: #dedede;
  --sec-txt-color: #aaaaaa;
  --grid-border: black;

  --heat-color: #CC0000;
  --energy-color: #CCCC00;
  --cool-color: #00CCCC;
  --em-color: #1AC8ED;
  --ir-color: var(--heat-color);
}

.nf {
    font-size: 2em;
    position: relative;
    top: 3px;
}

.ui-treenode-icon.nf {
    top: 0px;
}

.power-color {
    color: var(--energy-color);
}

.heat-color {
    color: var(--heat-color);
}

.cool-color {
    color: var(--cool-color);
}

.em-color {
    color: var(--em-color);
}

.ir-color {
    color: var(--ir-color);
}

.secondary-text {
    color: var(--sec-txt-color);
}

.navbar-brand {
    font-size: 2.5em !important;
    text-align: center;
}

.search-float {
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
    background-color: #00000080;
    border-bottom-left-radius: 50px;
    width: 40px;
    height: 40px;
}

.search-float span {
    float: right;
    padding-right: 10px;
    cursor: pointer;
}

.search-text {
    width: 60%;
    font-size: 32px !important;
    text-align: center;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: auto;
}

/* Applied to 'disabled' menu items that should look enabled */
.hoverfix a {
    opacity: 1 !important;
    cursor: pointer !important;
}


.time-slider-value,
.preference-details > dfn,
.filter-header,
.header-font {
  font-family: 'Racing Sans One';
}

.ui-widget,
.primary-font {
  /*font-family: 'Orbitron' !important;*/
  font-family: 'Open Sans', sans-serif !important;
}

body,
dfn::after,
.ui-widget-title,
.ui-panel-title,
.secondary-font {
  font-family: 'Share Tech Mono' !important;
}

.alert-small {
    padding: 0 !important;
    margin-bottom: 0 !important;
    width: fit-content !important;
    display: inherit !important;
}

.mono-font {
    font-family: 'Lucida Console' !important;
}

.center-col {
    text-align: center;
}

input[pinputtext] {
    color: black;
}

.ui-treenode-label {
    padding: 0px !important;
}

.ui-treenode-content {
  line-height: 16px;
}

.ui-tree .ui-chkbox-box {
  width: 16px !important;
  height: 16px !important;
}

th.ui-sortable-column {
  font-size: 14px;
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body .ui-tree {
  padding: 0.2em 0.5em !important;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-chkbox .ui-chkbox-icon {
  margin: 0 !important;
  font-size: 16px;
}

.navbar-brand {
  color: #fff !important;
}

body .ui-table .ui-table-tbody > tr > td {
  padding: .1em .3em !important;
}

.price-col {
    max-width: 170px;
    min-width: 160px;
    width: 160px;
}

.user-balance {
  font-weight: bold;
  text-align: right;
}

.ui-state-highlight .ship-option-favorite a {
  color: white;
}


.loadout-header {
    min-height: 44px;
}

.ui-menuitem-icon.nf {
    top: 0px;
}



@media not screen, (min-width: 40em) {
    .mobile-only {
        display: none;
    }
}


@media screen and (max-width: 40em) {
    .no-mobile {
        display: none;
    }
}


.lil-gui div.widget > select > option {
    color: black;
}


.panel-fix {
    left: -100px !important;
}




.tooltip-column,
.tooltip-column span,
.tooltip-info,
.tooltip-info span {
    cursor: help;
    text-decoration: underline dashed rgba(200, 200, 200, 0.3);
}

.tooltip-underline {
  text-decoration: underline dashed rgba(200, 200, 200, 0.7);
}

.indent-space {
  float: left;
  height: 1px;
}

.indent-arrow {
  transform: scaleY(-1);
  float: left;
}

.route-complete {
  cursor: pointer;
  top: 3px;
  position: relative;
  float: right
}

.nopad {
  padding: 0.1em; /* Okay a little pad */
}

.time-slider {
  margin: 8px 0 0 10px;
}

  .time-slider .ui-slider-range {
    background-color: #4189C7;
  }

.time-slider-header {
  font-size: 16px;
}

.time-slider-value {
  text-align: left;
}

.filter-tree {
  height: 100%;
}

  .filter-tree div.ui-tree {
    width: 100%;
  }


  .filter-tree div.ui-tree {
    height: 210px;
  }

.ui-steps.steps-4 .ui-steps-item {
  width: 25%;
}

.ui-steps.steps-3 .ui-steps-item {
  width: 33%;
}

.ui-steps.steps-2 .ui-steps-item {
  width: 50%;
}

.ui-steps.steps-custom.hide-labels {
  margin-bottom: 0.3em;
}

.ui-steps.steps-custom {
  margin-bottom: 1.2em;
}

  .ui-steps.steps-custom .ui-steps-item {
    height: 20px;
  }

    .ui-steps.steps-custom .ui-steps-item a {
      padding: 0 !important;
    }

    .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
      top: 0px !important;
      color: #FFFFFF !important;
      display: inline-block !important;
      height: 20px !important;
      width: 20px !important;
      line-height: 20px !important;
      border-radius: 50%;
      margin-top: -14px !important;
      margin-bottom: 10px !important;
      font-size: 1em !important;
    }

    .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
      padding: 0 1em;
      width: 100%;
    }

    .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
      margin-top: -6px !important;
    }

  .ui-steps.steps-custom.hide-labels .ui-steps-item .ui-steps-title {
    display: none;
  }


@media (min-width: 1001px) {
    .sc-small-less {
        display: none;
    }
}

@media (min-width: 1601px) {
    .sc-med-less {
        display: none;
    }
}



@media (max-width: 640px) {
    .sc-small-plus {
        display: none;
    }
}

@media (max-width: 1000px) {
    .sc-med-plus {
        display: none;
    }
}

@media (max-width: 1600px) {
    .sc-lg-plus {
        display: none;
    }
}




@media (max-width: 1000px) {
    .col-med-priority,
    .col-med-priority {
        display: none !important;
    }

    .route-table-search {
        display: none;
    }

    .small-hidden {
        display: none;
    }
}

@media (max-width: 1600px) {
    .col-low-priority,
    .col-low-priority {
        display: none !important;
    }
}

/*
dfn::after{
  font-size: 20px;
}


.navbar-inverse {
  background-color: #3A3F44 !important;
}

.ui-widget-content {
  border-color: #AAAAAA !important;
}

h1, h2, h3, h4, h5, h6, p {
}

.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
  padding: .15em !important;
}

.ui-state-focus {
  background: #4189C7 !important;
}

label.ui-dropdown-label.ui-inputtext,
input.ui-spinner-input.ui-inputtext,
.ui-state-highlight {
  background: #4189C7 !important;
  color: #fff !important;
}

.ui-dropdown .ui-dropdown-trigger .fa {
  margin-top: .7em;
}

.user-balance span {
  width: 100%;
}

.user-details .ui-dropdown-panel {
  width: 300px;
}

*/
@media (min-width: 641px) {
  .body-content {
    padding-left: 310px;
  }
}

@media screen and (max-width: 40em) {
  body .ui-table .ui-table-tbody > tr {
    margin-bottom: 20px;
    display: inline-grid;
    width: 100%;
  }
}

/* Fix for slider z-fighting */
.ui-slider .ui-slider-handle {
    z-index: inherit !important;
}

/* Styles for manufacturer icons...should generate... */
.mfg_icon {
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
}

.987_256 {
    background-image: url("/icons/manufacturer/987_256.png");
}

.AceAstrogation_256 {
    background-image: url("/icons/manufacturer/AceAstrogation_256.png");
}

.Aciedo_256 {
    background-image: url("/icons/manufacturer/Aciedo_256.png");
}

.Aciedo_256_diff {
    background-image: url("/icons/manufacturer/Aciedo_256_diff.png");
}

.Acom_256 {
    background-image: url("/icons/manufacturer/Acom_256.png");
}

.Aegis_256 {
    background-image: url("/icons/manufacturer/Aegis_256.png");
}

.AlejoBros_256 {
    background-image: url("/icons/manufacturer/AlejoBros_256.png");
}

.Anvil_256 {
    background-image: url("/icons/manufacturer/Anvil_256.png");
}

.Aopoa_256 {
    background-image: url("/icons/manufacturer/Aopoa_256.png");
}

.ApocalypseArms_256 {
    background-image: url("/icons/manufacturer/ApocalypseArms_256.png");
}

.ArcCorp_256 {
    background-image: url("/icons/manufacturer/ArcCorp_256.png");
}

.Argo_256 {
    background-image: url("/icons/manufacturer/Argo_256.png");
}

.ArmaMod_256 {
    background-image: url("/icons/manufacturer/ArmaMod_256.png");
}

.AR_256 {
    background-image: url("/icons/manufacturer/AR_256.png");
}

.Ascension_256 {
    background-image: url("/icons/manufacturer/Ascension_256.png");
}

.AssociatedScienceAndDevelopment_256 {
    background-image: url("/icons/manufacturer/AssociatedScienceAndDevelopment_256.png");
}

.Banu_256 {
    background-image: url("/icons/manufacturer/Banu_256.png");
}

.Basilisk_256 {
    background-image: url("/icons/manufacturer/Basilisk_256.png");
}

.Behring_256 {
    background-image: url("/icons/manufacturer/Behring_256.png");
}

.Caldera_256 {
    background-image: url("/icons/manufacturer/Caldera_256.png");
}

.CBD_256 {
    background-image: url("/icons/manufacturer/CBD_256.png");
}

.CCConversions_256 {
    background-image: url("/icons/manufacturer/CCConversions_256.png");
}

.CDS_256 {
    background-image: url("/icons/manufacturer/CDS_256.png");
}

.CityLights_256 {
    background-image: url("/icons/manufacturer/CityLights_256.png");
}

.CivilianDefenseForce_256 {
    background-image: url("/icons/manufacturer/CivilianDefenseForce_256.png");
}

.Consolidated_256 {
    background-image: url("/icons/manufacturer/Consolidated_256.png");
}

.Crusader_256_diff {
    background-image: url("/icons/manufacturer/Crusader_256_diff.png");
}

.Curelife_256 {
    background-image: url("/icons/manufacturer/Curelife_256.png");
}

.Derion_256 {
    background-image: url("/icons/manufacturer/Derion_256.png");
}

.DMC_256 {
    background-image: url("/icons/manufacturer/DMC_256.png");
}

.Doomsday_256 {
    background-image: url("/icons/manufacturer/Doomsday_256.png");
}

.Drake_256 {
    background-image: url("/icons/manufacturer/Drake_256.png");
}

.EscarLTD_256 {
    background-image: url("/icons/manufacturer/EscarLTD_256.png");
}

.Esperia_256 {
    background-image: url("/icons/manufacturer/Esperia_256.png");
}

.EVL_256 {
    background-image: url("/icons/manufacturer/EVL_256.png");
}

.Fiore_256 {
    background-image: url("/icons/manufacturer/Fiore_256.png");
}

.FirestormKinetics_256 {
    background-image: url("/icons/manufacturer/FirestormKinetics_256.png");
}

.FlashfireSystems_256 {
    background-image: url("/icons/manufacturer/FlashfireSystems_256.png");
}

.GallensonTacticalSystems_256 {
    background-image: url("/icons/manufacturer/GallensonTacticalSystems_256.png");
}

.Gemini_256 {
    background-image: url("/icons/manufacturer/Gemini_256.png");
}

.GenericDrink_256 {
    background-image: url("/icons/manufacturer/GenericDrink_256.png");
}

.GenericFood_256 {
    background-image: url("/icons/manufacturer/GenericFood_256.png");
}

.GorgonDefender_256 {
    background-image: url("/icons/manufacturer/GorgonDefender_256.png");
}

.Greycat {
    background-image: url("/icons/manufacturer/Greycat.png");
}

.GrindstoneBoots_256 {
    background-image: url("/icons/manufacturer/GrindstoneBoots_256.png");
}

.Gyson_256 {
    background-image: url("/icons/manufacturer/Gyson_256.png");
}

.Habidash_256 {
    background-image: url("/icons/manufacturer/Habidash_256.png");
}

.Hawksworths_256 {
    background-image: url("/icons/manufacturer/Hawksworths_256.png");
}

.HedebyGunworks_256 {
    background-image: url("/icons/manufacturer/HedebyGunworks_256.png");
}

.HurstonDynamics_256 {
    background-image: url("/icons/manufacturer/HurstonDynamics_256.png");
}

.Jokerengineering_256 {
    background-image: url("/icons/manufacturer/Jokerengineering_256.png");
}

.JSpan_256 {
    background-image: url("/icons/manufacturer/JSpan_256.png");
}

.Juno_256 {
    background-image: url("/icons/manufacturer/Juno_256.png");
}

.Kastak_256 {
    background-image: url("/icons/manufacturer/Kastak_256.png");
}

.KlausWerner_256 {
    background-image: url("/icons/manufacturer/KlausWerner_256.png");
}

.Knightbridge_256 {
    background-image: url("/icons/manufacturer/Knightbridge_256.png");
}

.Kroneg_256 {
    background-image: url("/icons/manufacturer/Kroneg_256.png");
}

.Kruger_256 {
    background-image: url("/icons/manufacturer/Kruger_256.png");
}

.LightningBoltCompany_256 {
    background-image: url("/icons/manufacturer/LightningBoltCompany_256.png");
}

.LightningPower_256 {
    background-image: url("/icons/manufacturer/LightningPower_256.png");
}

.LortellComputing_256 {
    background-image: url("/icons/manufacturer/LortellComputing_256.png");
}

.Maxox_256 {
    background-image: url("/icons/manufacturer/Maxox_256.png");
}

.Microtech_256 {
    background-image: url("/icons/manufacturer/Microtech_256.png");
}

.MISC_256 {
    background-image: url("/icons/manufacturer/MISC_256.png");
}

.Missing_256 {
    background-image: url("/icons/manufacturer/Missing_256.png");
}

.MuyMuy_256 {
    background-image: url("/icons/manufacturer/MuyMuy_256.png");
}

.NavySurplus_256 {
    background-image: url("/icons/manufacturer/NavySurplus_256.png");
}

.NorthStar_256 {
    background-image: url("/icons/manufacturer/NorthStar_256.png");
}

.Nova_256 {
    background-image: url("/icons/manufacturer/Nova_256.png");
}

.NV-Tac_256 {
    background-image: url("/icons/manufacturer/NV-Tac_256.png");
}

.OpalSky_256 {
    background-image: url("/icons/manufacturer/OpalSky_256.png");
}

.Origin_256 {
    background-image: url("/icons/manufacturer/Origin_256.png");
}

.R6Pro_256 {
    background-image: url("/icons/manufacturer/R6Pro_256.png");
}

.Rambler_256 {
    background-image: url("/icons/manufacturer/Rambler_256.png");
}

.Ramp_Corporation_256 {
    background-image: url("/icons/manufacturer/Ramp_Corporation_256.png");
}

.RSI_256 {
    background-image: url("/icons/manufacturer/RSI_256.png");
}

.SakuraSun_256 {
    background-image: url("/icons/manufacturer/SakuraSun_256.png");
}

.SealCorp_256 {
    background-image: url("/icons/manufacturer/SealCorp_256.png");
}

.ShubinInterstellar_256 {
    background-image: url("/icons/manufacturer/ShubinInterstellar_256.png");
}

.SPV_256 {
    background-image: url("/icons/manufacturer/SPV_256.png");
}

.Stegmans_256 {
    background-image: url("/icons/manufacturer/Stegmans_256.png");
}

.Talon_256 {
    background-image: url("/icons/manufacturer/Talon_256.png");
}

.Tarsus_256 {
    background-image: url("/icons/manufacturer/Tarsus_256.png");
}

.Tehachapi_256 {
    background-image: url("/icons/manufacturer/Tehachapi_256.png");
}

.Thermyte_256 {
    background-image: url("/icons/manufacturer/Thermyte_256.png");
}

.Tumbril_256 {
    background-image: url("/icons/manufacturer/Tumbril_256.png");
}

.TylerDesign_256 {
    background-image: url("/icons/manufacturer/TylerDesign_256.png");
}

.Ultiflex_256 {
    background-image: url("/icons/manufacturer/Ultiflex_256.png");
}

.UnknownManufacturer_256 {
    background-image: url("/icons/manufacturer/UnknownManufacturer_256.png");
}

.Upsiders_256 {
    background-image: url("/icons/manufacturer/Upsiders_256.png");
}

.Virgil_256 {
    background-image: url("/icons/manufacturer/Virgil_256.png");
}

.Wei-Tek_256 {
    background-image: url("/icons/manufacturer/Wei-Tek_256.png");
}

.WenCassel_256 {
    background-image: url("/icons/manufacturer/WenCassel_256.png");
}

.Yorm_256 {
    background-image: url("/icons/manufacturer/Yorm_256.png");
}