
<div class="gauge-container" [ngStyle]="containerStyle()">
    <div class="gauge-background" [ngStyle]="gaugeBackground()">
    </div>
    <div class="gauge-center" [ngStyle]="gaugeCenter()">
    </div>
    <div class="gauge-meter" [ngStyle]="gaugeMeter()"
            [style.transform]="'rotate(' + value/2 + 'turn)'">
    </div>
    <div class="gauge-content" [ngStyle]="gaugeContent()">
        <ng-content></ng-content>
    </div>
</div>