.gauge-container {
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.gauge-background {
    z-index: 1;
    position: absolute;
    background-color: rgba(255,255,255,.2);
    top: 0%;
}

.gauge-center {
    z-index: 3;
    position: absolute;
    background-color: #222;
    margin-right: auto;
}

.gauge-meter {
    z-index: 2;
    position: absolute;
    background-color: #5664F9;
    margin-left: auto;
    margin-right: auto;
    transform-origin: center top;
    transition: all 1.3s ease-in-out;
}


.container .gauge-content {
    color: rgba(255,255,255,1);
}

.gauge-content {
    z-index: 4;
    color: rgba(255,255,255,.2);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease-out;
}
