:host ::ng-deep .summary-outer.weapon .ui-panel-titlebar {
    background-color: #662222;
}

:host ::ng-deep .summary-outer.system .ui-panel-titlebar {
    background-color: #226666;
}

:host ::ng-deep .summary-outer.auxilary .ui-panel-titlebar {
    background-color: #222266;
}

:host ::ng-deep .summary-outer.propulsion .ui-panel-titlebar {
}


.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:host ::ng-deep .progress-norm .ui-progressbar .ui-progressbar-value {
}

:host ::ng-deep .progress-over .ui-progressbar .ui-progressbar-value {
    background: red;
}


:host ::ng-deep .summary-outer > .ui-panel {
    padding: 0;
}

:host ::ng-deep .summary-outer .ui-panel .ui-panel-titlebar div {
    padding: 0.2em 0.1em 0.1em 0.1em;
}

.loadout-name {
    padding: 0 0 5px 5px;
    font-size: 1.5em;
}

.title-controls {
    text-align: right;
}

.slot-entry {
    min-height: 140px;
    padding: 0.5em 0 0 0;
}

.power-outer,
.heat-outer {
    height: 100%;
}

.power-bar,
.heat-bar {
    height: 100%;
    width: 100%;
    position: relative;

    border: 1px solid black;
    border-radius: 5px;
}

.power-main,
.power-indicator,
.heat-main,
.heat-excess {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.power-main {
    background-color: red;
    border-radius: 3px;
}

.power-indicator {
    border-radius: 0;
    border-top: 2px dashed rgba(255,0,0,0.5);
    border-bottom: 2px dashed rgba(255,255,0,0.5);
    
    bottom: 40%; /* 40% at half-scale means 80% of available capacity */
    top: 50%; /* 50% from the top, which represents 100% available capacity */
}

.heat-main {
    background-color: blue;
    border-radius: 0 0 3px 3px;
}

.heat-excess {
    background-color: black;
    border-radius: 3px 3px 0 0;

    height: 10%;
}

.bar-icon {
    width: 100%;
    text-align: center;
}

.stat-primary {
    font-size: 1.5em;
    font-weight: bold;
}

.stat-secondary {
    font-weight: bold;
}

div.title-controls a {
    cursor: pointer;
    user-select: none;
}