<p-panel class="summary-outer" *ngIf="selected_loadout?.equipment as vehicle">
    <p-header>
        <div class="loadout-header p-grid">
            <div class="p-col">
                <span *ngIf="selected_loadout.name === vehicle.Name" class="loadout-name">{{ selected_loadout.name }}</span>
                <span *ngIf="selected_loadout.name !== vehicle.Name" class="loadout-name">{{ selected_loadout.name }} [{{vehicle.Name}}]</span>
            </div>

            <div class="p-col-fixed title-controls" style="padding-right: 10px">
                <a (click)="showSaveWindow()">
                    <span style="padding-right: 10px;">Save to Hangar</span>
                    <span class="nf nf-mdi-garage" style="font-size: 2.5em"></span>
                </a>
            </div>

            <div class="p-col-fixed title-controls" style="padding-right: 10px">
                <a (click)="showExportWindow()">
                    <span style="padding-right: 10px;">Import/Export</span>
                    <span class="nf nf-mdi-export" style="font-size: 2.5em"></span>
                </a>
            </div>
        </div>
    </p-header>

    <div class="ui-g-12 slot-entry">
        <div class="ui-g-12">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
                        <div class="ui-g-12 center-col">
                            <span *ngIf="selected_loadout.power_demand >= 1" class="nf nf-fa-warning heat-color"></span>
                            Energy:
                            <span class="stat-primary">
                                {{ selected_loadout.total_power_draw | fmtGeneric:false:true }}
                            </span>
                            <span class="nf nf-weather-lightning power-color"></span>
                            <span class="stat-secondary">/{{ selected_loadout.total_power_avail | fmtGeneric:false:true }}</span>
                        </div>
                        <div class="ui-g-12">
                            <p-progressBar 
                                [value]="(selected_loadout.power_demand * 100).toFixed(2)" 
                                [class]="selected_loadout.power_demand >= 1 ? 'progress-over' : 'progress-norm'">
                            </p-progressBar>
                        </div>
                    </div>
                    <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
                        <div class="ui-g-12 center-col">
                            Heat:
                            <span class="stat-primary">
                                {{ selected_loadout.total_heat_draw | fmtGeneric:false:true }}
                            </span>
                            <span class="nf nf-fa-thermometer_empty heat-color"></span>
                            <span class="stat-secondary">/{{ selected_loadout.total_heat_avail | fmtGeneric:false:true }}</span>
                        </div>
                        <div class="ui-g-12">
                            <p-progressBar 
                                [value]="(selected_loadout.heat_demand * 100).toFixed(2)"
                                [class]="selected_loadout.heat_demand >= 1 ? 'progress-over' : 'progress-norm'">
                            </p-progressBar>
                        </div>
                    </div>
                </div>

                <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
                    <div class="ui-g-12 ui-lg-12 ui-md-6 ui-sm-12">
                        <damage-display [damage]="selected_loadout.total_sustain" [title]="'Damage Breakdown'"
                                        showLegend="true" showValues="true" width="256" height="150">
                        </damage-display>
                    </div>

                    <div class="ui-g-12 ui-lg-12 ui-md-6 ui-sm-12">
                        <damage-display [damage]="selected_loadout.total_missile" [title]="'Missile Damage [' + selected_loadout.total_missile_count + ']'"
                                        showLegend="true" showValues="true" width="256" height="150" unit="Dmg.">
                        </damage-display>
                    </div>
                </div>

                <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
                    <div class="ui-g-12">
                        <div class="ui-g-6 center-col">
                            Shields:
                            <br />
                            <span class="stat-primary">
                                {{selected_loadout.total_shields | fmtGeneric:true:true }} shp
                            </span>
                            <span class="nf nf-mdi-shield_outline"></span>
                        </div>

                        <div class="ui-g-6 center-col">
                            Regen:
                            <br />
                            <span class="stat-primary">
                                {{selected_loadout.total_shield_regen | fmtGeneric:true:true }} shp/s
                            </span>
                            <span class="nf nf-mdi-shield_outline"></span>
                            <span class="nf nf-mdi-arrow_up_bold_hexagon_outline"></span>
                        </div>

                        <div class="ui-g-6 center-col">
                            Hull:
                            <br />
                            <span class="stat-primary">
                                {{selected_loadout.total_hull | fmtGeneric:true:true }} hp
                            </span>
                            <span class="nf nf-mdi-cube_outline"></span>
                        </div>

                        <div class="ui-g-6 center-col">
                            EM:
                            <br />
                            <span class="stat-primary">
                                {{selected_loadout.em_signature | fmtGeneric:true:true }}
                            </span>
                            <span class="nf nf-mdi-magnet_on em-color"></span>
                        </div>

                        <div *ngIf="selected_loadout.total_heat_excess !== 0" class="ui-g-6 center-col">
                            Excess Heat:
                            <br />
                            <span class="stat-primary">
                                +{{ selected_loadout.total_heat_excess/60 | fmtGeneric:true:true }}/s
                            </span>
                            <span class="nf nf-fa-thermometer_empty heat-color"></span>
                        </div>

                        <div *ngIf="selected_loadout.total_heat_excess !== 0" class="ui-g-6 center-col">
                            Overheat Time:
                            <br />
                            <span class="stat-primary">
                                {{ (selected_loadout.total_heat_avail - selected_loadout.total_heat_draw) / (selected_loadout.total_heat_excess / 60) | fmtGeneric }}s
                            </span>
                        </div>

                    </div>

                    <div class="ui-g-12">
                        <div class="ui-g-4">
                            <span class="ui-g-12" style="font-weight: bold">Ship Signature</span>

                            <div class="ui-g-12 center-col">
                                Cross-Section Modifier:
                                <br />
                                <span class="stat-primary">
                                    {{selected_loadout.signalCS | fmtPercent:true }}
                                </span>
                                <span class="nf nf-mdi-cursor_move"></span>
                            </div>

                            <div class="ui-g-12 center-col">
                                EM Modifier:
                                <br />
                                <span class="stat-primary">
                                    {{selected_loadout.signalEM | fmtPercent:true }}
                                </span>
                                <span class="nf nf-mdi-magnet_on em-color"></span>
                            </div>

                            <div class="ui-g-12 center-col">
                                IR Modifier:
                                <br />
                                <span class="stat-primary">
                                    {{selected_loadout.signalIR | fmtPercent:true }}
                                </span>
                                <span class="nf nf-fa-fire heat-color"></span>
                            </div>
                        </div>
                        <div class="ui-g-8">
                            <resist-display [resistance]="selected_loadout.resistance" [title]="'Armor Resistance'"
                                            width="256" height="200">
                            </resist-display>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

</p-panel>

<p-dialog #saveDialog header="Save to Hangar" [(visible)]="displaySave" [modal]="true" [style]="{width: '25vw'}" [responsive]="true" [blockScroll]="true">
    <h3>Save this loadout as?</h3>
    <span>What would you like this loadout to be named in your locally-saved hangar?</span>
    <input type="text" pInputText [(ngModel)]="saveAsName" />
    <p-footer>
        <button type="button" pButton icon="nf nf-mdi-garage" (click)="saveToHangar()" [disabled]="!saveAsName" label="Save" class="icon-fix"></button>
        <button type="button" pButton icon="nf nf-mdi-close" (click)="displaySave=false" label="Close" class="ui-button-secondary icon-fix"></button>
    </p-footer>
</p-dialog>

<p-dialog #exportDialog header="Loadout Export" [(visible)]="displayExport" [modal]="true" [resizable]="false" [responsive]="true" [blockScroll]="true">
    <div>
        <h4 class="first">
            <span>Import/Export</span>
            <a (click)="copyText()" style="margin-left: 10px;"><span class="nf nf-fa-copy"></span></a>
        </h4>
        <textarea #exportTxt rows="20" cols="80" pInputTextarea [(ngModel)]="exportText" class="mono-font" spellcheck="false" editable="false"></textarea>
    </div>
    <p-footer>
        <button type="button" pButton icon="nf nf-mdi-import" (click)="doImport()" [disabled]="!exportText" label="Import" class="icon-fix"></button>
        <button type="button" pButton icon="nf nf-mdi-close" (click)="displayExport=false" label="Close" class="ui-button-secondary icon-fix"></button>
    </p-footer>
</p-dialog>