
.where-am-i-overlay {
    width: 600px;
}

.where-am-i-overlay > table {
    width: 100%;
}

.coordinate-grid {
    font-family: monospace;
}

.coordinate {
    text-align: right;
}

.blank-row {
    height: 20px;
}

.line-row {
    height: 20px;
}

.line-row > td > div {
    height: 10px;
    margin-top: 10px;
    border-top: solid grey 2px;
}