<p-overlayPanel #op (onShow)="panelExpanded($event)">

    <div class="where-am-i-overlay">
        <span *ngIf="!has_coordinate && !has_error">
            No coordinate detected on clipboard!
            <br />
            <br />
            To get your current location type "/showlocation" in gamechat and the coordinates will automatically be copied to your clipboard.
            <br />
            Simply come back here and it will be picked up.
            <br />
            <br />
            NOTE: For maximum accuracy, perform Where-am-I immediately after issuing the command
            <br />
            since coordinates are time-dependent (because planets are rotating.)
        </span>
        <span *ngIf="has_error">
            Error reading clipboard.
            <br />
            <br />
            Please make sure you have allowed your web browser to access the clipboard.
            <br />
            Most browsers will prompt your, or have an icon in the address bar to allow access to the clipboard.
        </span>
        <table *ngIf="has_coordinate && !has_error">
            <thead>
                <tr>
                    <td width="16%"></td>
                    <td class="center-col" width="28%">X</td>
                    <td class="center-col" width="28%">Y</td>
                    <td class="center-col" width="28%">Z</td>
                </tr>
            </thead>
            <tbody class="coordinate-grid">
                <tr>
                    <td>Global</td>
                    <td class="coordinate">{{global_current.X / 1000 | number:'1.2-2'}} km</td>
                    <td class="coordinate">{{global_current.Y / 1000 | number:'1.2-2'}} km</td>
                    <td class="coordinate">{{global_current.Z / 1000 | number:'1.2-2'}} km</td>
                </tr>
                <tr>
                    <td tisTooltip tooltipContent="XYZ coordinates at the server julian time (1/1/2020)">Global [J]</td>
                    <td class="coordinate">{{global_julian.X / 1000 | number:'1.2-2'}} km</td>
                    <td class="coordinate">{{global_julian.Y / 1000 | number:'1.2-2'}} km</td>
                    <td class="coordinate">{{global_julian.Z / 1000 | number:'1.2-2'}} km</td>
                </tr>
                <tr>
                    <td>Local</td>
                    <td class="coordinate">{{local_current.X / 1000 | number:'1.2-2'}} km</td>
                    <td class="coordinate">{{local_current.Y / 1000 | number:'1.2-2'}} km</td>
                    <td class="coordinate">{{local_current.Z / 1000 | number:'1.2-2'}} km</td>
                </tr>
                <tr>
                    <td tisTooltip tooltipContent="XYZ coordinates at the server julian time (1/1/2020)">Local [J]</td>
                    <td class="coordinate">{{local_julian.X / 1000 | number:'1.2-2'}} km</td>
                    <td class="coordinate">{{local_julian.Y / 1000 | number:'1.2-2'}} km</td>
                    <td class="coordinate">{{local_julian.Z / 1000 | number:'1.2-2'}} km</td>
                </tr>
                <tr class="blank-row"></tr>


                <tr *ngIf="local_body" class="line-row"><td colspan="4"><div></div></td></tr>


                <tr *ngIf="local_body">
                    <td>Current Body</td>
                    <td class="coordinate" colspan="1">
                        <a href="#" (click)="setLocation(local_body, $event)" tisTooltip tooltipContent="Set current location.">{{ local_body.Name }}</a>
                    </td>
                </tr>
                <tr *ngIf="local_body">
                    <td></td>
                    <td class="center-col">Latitude</td>
                    <td class="center-col">Longitude</td>
                    <td class="center-col">Altitude</td>
                </tr>
                <tr *ngIf="local_body">
                    <td></td>
                    <td class="coordinate">{{ latitude | number:'1.2-2' }} deg</td>
                    <td class="coordinate">{{ longitude | number:'1.2-2' }} deg</td>
                    <td class="coordinate">{{ altitude / 1000 | number:'1.2-2' }} km</td>
                </tr>
                <tr *ngIf="local_body" class="blank-row"></tr>


                <tr *ngIf="nearest_poi" class="line-row"><td colspan="4"><div></div></td></tr>


                <tr *ngIf="nearest_poi">
                    <td>Nearest POI</td>
                    <td class="center-col" colspan="3">
                        <a href="#" (click)="setLocation(nearest_poi, $event)" tisTooltip tooltipContent="Set current location.">{{ nearest_poi.Name }}</a>
                    </td>
                </tr>
                <tr *ngIf="nearest_poi">
                    <td colspan="1">Distance</td>
                    <td class="coordinate" colspan="1">{{ poi_distance / 1000 | number:'1.2-2'}} km</td>
                </tr>
                <tr *ngIf="nearest_poi" class="blank-row"></tr>
            </tbody>
        </table>
    </div>
    
</p-overlayPanel>

<a href="#" (click)="op.toggle($event);$event.preventDefault();">Where Am I?</a>