﻿@{ 
    var map_key = ViewBag.map_key;
    var body_radius = ViewBag.body_radius;
    var db_version = ViewBag.db_version;
}

<!DOCTYPE html>
<html>
<head>
    <title>Mapproxy Demo Service</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/leaflet.css" />
    <link rel="stylesheet" href="./css/leaflet.zoomdisplay.css" />
    <link rel="stylesheet" href="./css/leaflet.wmslegend.css" />
    <link rel="stylesheet" href="./css/leaflet.fullscreen.css" />
    <link rel="stylesheet" href="./css/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="./css/leaflet.control-credits.css">
    <link rel="stylesheet" href="./css/nerd-fonts-generated.css">
    <link rel="stylesheet" href="./css/leaflet-layer-tree-control.css">
    <link rel="stylesheet" href="./css/leaflet-search.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
            width: 100%;
            background: white;
        }

        .awesome-marker i {
            margin-top: 6px;
            font-size: 24px;
        }

        .leaflet-layer-tree-control-order-toggle-closed {
            display: none;
        }

        .named-cluster {
            background-color: transparent !important;
            width: 300% !important;
            margin-left: -100% !important;
            text-shadow: 0px 0px 10px #ffffff !important;
            font-size: 18px !important;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="./js/leaflet.js"></script>
    <script src="./js/leaflet.coordinates.js"></script>
    <script src="./js/leaflet.graticule.js"></script>
    <script src="./js/leaflet.zoomdisplay.js"></script>
    <script src="./js/leaflet.wmslegend.js"></script>
    <script src="./js/leaflet.fullscreen.js"></script>
    <script src="./js/leaflet-hash.js"></script>
    <script src="./js/leaflet.awesome-markers.js"></script>
    <script src="./js/leaflet.control-credits.js"></script>
    <script src="./js/leaflet-layer-tree-control.js"></script>
    <script src="./js/leaflet-search.min.js"></script>
    <script src="./js/leaflet.PolylineMeasure.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script>

        function cleanText(dirty_name) {
            return dirty_name.split("_").map((word) => {
                return word ? (word[0].toUpperCase() + word.substring(1)) : word;
            }).join(" ");
        }

        function cleanFeatureName(feature) {
            var displayTitle = "";
            var props = feature.properties;

            switch (props.primary_category) {
                case "landingpad":
                case "transit_destination":
                case "destination":
                case "shop_main":
                    displayTitle = cleanText(props.Name);
                    break;

                case "hospital_emergency": displayTitle = "Emergency Hospital Dropoff"; break;
                case "hospital_checkin": displayTitle = "Hospital Check-In"; break;
                case "hospital_insurance": displayTitle = "Hospital Insurance<br\/>+ Spawn Reset"; break;
                case "hospital_bed": displayTitle = "Hospital Bed"; break;
                case "fine_payment": displayTitle = "Fine Payment"; break;
                case "fine_hacking": displayTitle = "Fine Hacking"; break;
                case "ground_claim": displayTitle = "Ground Claim"; break;
                case "ship_claim": displayTitle = "Ships Claim"; break;
                case "locker": displayTitle = "Mission Locker"; break;
                case "transit_stop": displayTitle = "Transit Stop"; break;
                case "shop_screen": displayTitle = "Shop Terminal"; break;

                default: displayTitle = props.Name; break;
            }
            return displayTitle;
        }

        function flatten_children(parent, fnGetChildren, arr) {
            var children = fnGetChildren(parent)
            for (var key in children) {
                arr.push(children[key])

                flatten_children(children[key], fnGetChildren, arr);
            }
        }

        //Calculate the scale of this planet's radius vs. earth (what all map measurements will give)
        //Earths' radius in M
        var scaleFactor = @body_radius / 6371000;

        var default_icon = L.AwesomeMarkers.icon({ prefix: 'nf', markerColor: 'red' });

        var icon_map = {
            "hospital_bed": L.AwesomeMarkers.icon({ icon: 'fa-bed', prefix: 'nf', markerColor: 'red' }),
            "hospital_emergency": L.AwesomeMarkers.icon({ icon: 'fa-warning', prefix: 'nf', markerColor: 'red' }),
            "hospital_checkin": L.AwesomeMarkers.icon({ icon: 'mdi-note_plus', prefix: 'nf', markerColor: 'red' }),
            "hospital_insurance": L.AwesomeMarkers.icon({ icon: 'mdi-hospital', prefix: 'nf', markerColor: 'red' }),



            "fine_hacking": L.AwesomeMarkers.icon({ icon: 'fa-balance_scale', prefix: 'nf', markerColor: 'darkblue' }),
            "fine_payment": L.AwesomeMarkers.icon({ icon: 'fa-balance_scale', prefix: 'nf', markerColor: 'darkblue' }),
            "ground_claim": L.AwesomeMarkers.icon({ icon: 'mdi-car_side', prefix: 'nf', markerColor: 'purple' }),
            "ship_claim": L.AwesomeMarkers.icon({ icon: 'mdi-airplane', prefix: 'nf', markerColor: 'purple' }),

            "landingpad": L.AwesomeMarkers.icon({ icon: 'mdi-airplane_landing', prefix: 'nf', markerColor: 'orange' }),
            "locker": L.AwesomeMarkers.icon({ icon: 'oct-package', prefix: 'nf', markerColor: 'orange' }),

            "transit_stop": L.AwesomeMarkers.icon({ icon: 'mdi-door', prefix: 'nf', markerColor: 'blue' }),
            "transit_destination": L.AwesomeMarkers.icon({ icon: 'mdi-compass_outline', prefix: 'nf', markerColor: 'blue' }),
            "destination": L.AwesomeMarkers.icon({ icon: 'fa-location_arrow', prefix: 'nf', markerColor: 'cadetblue' }),

            "shop_main": L.AwesomeMarkers.icon({ icon: 'mdi-store', prefix: 'nf', markerColor: 'green' }),
            "shop_screen": L.AwesomeMarkers.icon({ icon: 'fa-shopping_basket', prefix: 'nf', markerColor: 'darkgreen' }),
        };
        var layer_names = {
            "hospital_emergency": "Hospital Emergency",
            "hospital_checkin": "Hospital Checkin",
            "hospital_insurance": "Hospital Insurance",
            "hospital_bed": "Hospital Bed",
            "landingpad": "Landingpad",
            "fine_payment": "Fine Payment",
            "fine_hacking": "Fine Hacking",
            "ground_claim": "Ground Vehicle Claim",
            "ship_claim": "Ship Vehicle Claim",
            "locker": "Delivery Locker",
            "transit_stop": "Transit Stop",
            "transit_destination": "Transit Destination",
            "destination": "Named Destination",
            "shop_main": "Shop",
            "shop_screen": "Shop Terminal",
        }
        var icon_layers = {};
        var all_features = [];

        var details_popup = L.popup({ maxWidth: 200 })
            .setContent(function processPopup(layer) {
                if (layer.feature) {
                    var props = layer.feature.properties;

                    var displayTitle = props.clean_name;
                    var tagList = props.Tags.split(",").map((tag) => {
                        return `<li>${cleanText(tag)}<\/li>`;
                    }).join("");

                    return `<h2>${displayTitle}<\/h2><ul>${tagList}<\/ul>`;
                }
                return "Something!";
            });

        var map = L.map('map', {
            crs: L.CRS.Simple,
            center: [180, 0],
            zoom: 2,
            minZoom: 1,
            maxZoom: 20,
            maxBounds: [[-90, 0] , [90, 360]]
        });

        //Add measurement controls
        L.control.polylineMeasure({
            position: 'topleft',
            unit: 'kilometres',
            showUnitControl: false,
            unitScale: scaleFactor,
            showBearings: true,
        }).addTo(map);

        
        var overlay_buildings = L.tileLayer.wms('https://tis-maps.b-cdn.net/mapproxy/@(map_key)/service?', {
            layers: 'Buildings',
            crs: L.CRS.EPSG4326,
            format: 'image/png',
            uppercase: true,
            transparent: true,
            noWrap: true,
            attribution: '<span title="Heightmap is correct, but may not be properly aligned to the structures on the planet/moon itself.">NOTE ON HEIGHTMAP</span>',
            opacity: 1.0,
            maxZoom: 20,
            //maxNativeZoom: 20
        });

        map.addLayer(overlay_buildings);
        L.stamp(overlay_buildings);
        
        var overlay_transit = L.tileLayer.wms('https://tis-maps.b-cdn.net/mapproxy/@(map_key)/service?', {
            layers: 'Transit',
            crs: L.CRS.EPSG4326,
            format: 'image/png',
            uppercase: true,
            transparent: true,
            noWrap: true,
            opacity: 1.0,
            maxZoom: 20,
            //maxNativeZoom: 20
        });

        map.addLayer(overlay_transit);
        L.stamp(overlay_transit);

        var markers = L.markerClusterGroup({
            zoomToBoundsOnClick: false,
            disableClusteringAtZoom: 19,
            spiderfyOnMaxZoom: false,
            spiderfyOnEveryZoom: true,
            continuousWorld: false,
            iconCreateFunction: function (cluster) {
                //Default function, have to specify this or spiderfying stops working for some reason....
                var childCount = cluster.getChildCount();

                var c = ' marker-cluster-';
                if (childCount < 10) {
                    c += 'small';
                } else if (childCount < 100) {
                    c += 'medium';
                } else {
                    c += 'large';
                }

                return new L.DivIcon({ html: '<div><span>' + childCount + '</span></div>', className: 'marker-cluster' + c, iconSize: new L.Point(40, 40) });
            }
        });
        map.addLayer(markers);
        L.stamp(markers);

        L.control.coordinates({
            position: "bottomleft", //optional default "bootomright"
            decimals: 2, //optional default 4
            decimalSeperator: ".", //optional default "."
            labelTemplateLat: "Latitude: {y}", //optional default "Lat: {y}"
            labelTemplateLng: "Longitude: {x}", //optional default "Lng: {x}"
            enableUserInput: false, //optional default true
            useDMS: false, //optional default false
            useLatLngOrder: true, //ordering of labels, default false-> lng-lat
            markerType: L.marker, //optional default L.marker
            markerProps: {}, //optional default {},
            labelFormatterLng: function (lng) { return lng + " lng" }, //optional default none,
            labelFormatterLat: function (lat) { return lat + " lat" }, //optional default none
            customLabelFcn: function (latLonObj, opts) {
                //console.log(latLonObj, opts);
                return "Test";
            } //optional default none
        }).addTo(map);

        L.graticule({ interval: 10, xmin: 0, xmax: 360 }).addTo(map);

        markers.on('animationend', function (e) {
            for (var key in e.target._featureGroup._layers) {
                var entry = e.target._featureGroup._layers[key];
                if (entry.feature === undefined) {
                    //entry is a ClusterGroup
                    var group_markers = entry.getAllChildMarkers();
                    var locationNames = "";
                    var foundCount = 0;

                    //TODO: Better Prioritization
                    //Less efficient, but try for destinations first
                    for (var i in group_markers) {
                        var primary_category = group_markers[i].feature.properties.primary_category
                        if (primary_category == "destination") {
                            if (foundCount < 3) {
                                if (foundCount != 0) locationNames += ", ";
                                locationNames += cleanFeatureName(group_markers[i].feature);
                            }
                            foundCount++;
                        }
                    }
                    for (var i in group_markers) {
                        var primary_category = group_markers[i].feature.properties.primary_category
                        if (primary_category == "transit_destination" || primary_category == "shop_main") {
                            if (foundCount < 3) {
                                if (foundCount != 0) locationNames += ", ";
                                locationNames += cleanFeatureName(group_markers[i].feature);
                            }
                            foundCount++;
                        }
                    }

                    var extras = (foundCount > 3) ? foundCount - 3 : 0;

                    if (locationNames) {
                        if (extras == 0)
                            entry.bindTooltip(locationNames, { direction: 'bottom', offset: [0, 20] })
                        else
                            entry.bindTooltip(`${locationNames} +${extras} more`, { direction: 'bottom', offset: [0, 20] })
                    }

                } else {
                    //Single root-level marker
                    entry.bindTooltip(cleanFeatureName(entry.feature), { direction: 'bottom' })
                }
            }
        });

        for (var tag_search in icon_map) {
            icon_layers[tag_search] = L.featureGroup.subGroup(markers, []);
            map.addLayer(icon_layers[tag_search]);
        }


        var wfsParams = {
            version: '2.0.0',
            request: 'GetFeature',
            outputFormat: 'application/json',
            srsName: 'EPSG:4326',
            typename: 'Annotations'
        };
        
        var finalURL = "https://tis-maps.b-cdn.net/wfs/@(map_key)" + L.Util.getParamString(L.Util.extend(wfsParams));
        $.ajax({
            url: finalURL,
            dataType: "json",
            jsonpCallback: 'getJson',
            success: function (response) {
                var added_features = [];
                all_features = response;

                for (var tag_search in icon_map) {
                    icon_layers[tag_search].clearLayers();
                    var tag_layer = L.geoJson(response, {
                        continuousWorld: false,
                        filter: function (feature) {
                            if (added_features.includes(feature)) return false;
                            if (feature.properties.Tags.includes(tag_search)) {
                                //TODO: Calculate these server-side?
                                feature.properties["primary_category"] = tag_search
                                feature.properties["clean_name"] = cleanFeatureName(feature)
                                added_features.push(feature);
                                return true;
                            }
                            return false;
                        },
                        onEachFeature: function (feature, layer) {
                            layer.setIcon(icon_map[tag_search]);
                            layer.bindTooltip(feature.properties.clean_name, { direction: 'bottom', offset: [0, 0] })
                            layer.bindPopup(details_popup);
                        }
                    });
                    tag_layer.addTo(icon_layers[tag_search]);
                }

                markers._refreshClustersIcons();
            }
        });


        var theTreeControl = new L.Control.LayerTreeControl({
            // layerTree: rootLayerSettings,
            openByDefault: false,
            layerBuilders: {
                LAYER: function (layer_settings) {
                    return layer_settings.params;
                }
            }
        }).addTo(map);

        var rootLayerId = theTreeControl.addLayerDynamically({
            code: "root",
            name: "All the Layers",
            active: true,
            selectedByDefault: false,
            openByDefault: true,
            childLayers: [],
            selectType: "NONE",
            serviceType: null,
            params: {}
        });

        var baseLayerId = theTreeControl.addLayerDynamically({
            code: "base",
            name: "Base layers",
            active: true,
            selectedByDefault: false,
            openByDefault: true,
            childLayers: [],
            selectType: "SINGLE",
            serviceType: null,
            params: {}
        }, rootLayerId);

        var overlaysLayerId = theTreeControl.addLayerDynamically({
            code: "overlays",
            name: "Overlays",
            active: true,
            selectedByDefault: false,
            openByDefault: true,
            childLayers: [],
            selectType: "MULTIPLE",
            serviceType: null,
            params: {}
        }, rootLayerId);

        //Buildings
        var buildingsLayerId = theTreeControl.addLayerDynamically({
            code: "buildings",
            name: "Buildings",
            active: true,
            selectedByDefault: true,
            openByDefault: true,
            childLayers: [],
            selectType: "NONE",
            serviceType: "LAYER",
            params: overlay_buildings
        }, baseLayerId);

        //Transit lines
        theTreeControl.addLayerDynamically({
            code: 'transit',
            name: "Transit Systems",
            active: true,
            selectedByDefault: true,
            openByDefault: true,
            selectType: "SINGLE",
            serviceType: "LAYER",
            params: overlay_transit
        }, overlaysLayerId);

        //Annotations
        var annotationsId = theTreeControl.addLayerDynamically({
            code: "annotations",
            name: "Annotations",
            active: true,
            selectedByDefault: true,
            openByDefault: true,
            selectType: "MULTIPLE",
            serviceType: "LAYER",
            params: markers
        }, overlaysLayerId);
        for (var tag_search in icon_map) {
            theTreeControl.addLayerDynamically({
                code: tag_search,
                name: layer_names[tag_search],
                active: true,
                selectedByDefault: true,
                openByDefault: true,
                selectType: "SINGLE",
                serviceType: "LAYER",
                params: icon_layers[tag_search]
            }, annotationsId);
        }

        //Handles URL links automagically
        var hash = new L.Hash(map);
        var ignoreHash = false;
        //Triggers when the map updates the post-# args
        //Notify the possible parent container that we have changed our internal hash string
        window.onhashchange = function (e) {
            if (this.ignoreHash) return;
            var parts = e.newURL.split("#", 2)
            if (parts.length > 1 && window.parent) {
                window.parent.postMessage(JSON.stringify({
                    type: "hashchange",
                    value: parts[1]
                }));
            }
        };

        window.addEventListener("message", function (e) {
            try {
                const msg = JSON.parse(e.data);
                try {
                    const args = msg.data;
                    console.log(msg, args);
                    switch (msg.type) {
                        case "boundschange":
                            ignoreHash = true;
                            window.location.hash = args;
                            ignoreHash = false;
                            break;
                    }
                } catch (ex) {
                    console.error(ex);
                }
            } catch (ex) {
                //This fails when plugins send non-json data, just let it happen
            }
        });


        var credctrl = L.controlCredits({
            image: "/tradeinspace.png",
            link: "https://tradein.space/",
            text: "Maps provided by TradeIn.Space!<br/>SC Version: @db_version"
        }).addTo(map);


        function localData(text, callResponse) {
            formatted_data = {}
            key_collide = {}

            for (var index in all_features.features) {
                var item = all_features.features[index];
                var key = item.properties.Name

                if (!formatted_data[key])
                    key_collide[key] = 0;

                var name = (key_collide[key] == 0) ? key : `${key} (${key_collide[key]})`
                formatted_data[name] = L.latLng(item.geometry.coordinates[1], item.geometry.coordinates[0]);
                key_collide[key] += 1
            }

            callResponse(formatted_data);

            return {	//called to stop previous requests on map move
                abort: function () {
                    console.log('aborted request:' + text);
                }
            };
        }

        var searchCtrl = new L.Control.Search({
            sourceData: localData,
            formatData: (data) => data,
            zoom: 15,
            initial: false,
            minLength: 3,
            hideMarkerOnCollapse: true,
            position: 'topleft',
        });

        map.addControl(searchCtrl);

        L.control.fullscreen({
            position: 'topright'
        }).addTo(map);

    </script>


</body>
</html>
