<div class='container-fluid ui-fluid'>
    <div class='row'>
        <div class='ui-sm-12'>
            <app-nav-menu #navMenu id="navMenu"></app-nav-menu>
        </div>
        <div class='ui-sm-12 body-content'>
            <p-toolbar #toolbarRoot id="toolbarRoot" [@panelInOut]="toolbar_hidden ? 'hidden' : 'visible'">
                <div class='user-details-container'>
                    <user-details></user-details>
                </div>
                <div class='clearfix'></div>
            </p-toolbar>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div>
    <p-overlayPanel appendTo="body" #global_tooltip [dismissable]="false">
        <div [innerHtml]="globalTooltipContent | safe: 'html'"></div>
    </p-overlayPanel>
</div>
<p-toast position="bottom-right">
</p-toast>
<p-dialog>

</p-dialog>
<!--
<p-blockUI [blocked]="searchBlock">
    <search-overlay></search-overlay>
    <div class="search-float">
        <span class="nf nf-fa-close" (click)="hideSearch($event)"></span>
    </div>
</p-blockUI>
<div class="search-float">
    <span class="nf nf-fa-search" (click)="showSearch($event)"></span>
</div>
-->
