.loop-record th,
.loop-record tr {
    text-align: center;
}


td.loop-record-trade {
    text-align: center;
}

div.trade-container {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

div.trade-container span.nf {
    padding-right: 5px;
    font-size: 24px;
}

div.trade-value {
    text-align: center;
    float: right;
}

div.trade-value > span {
    
}

div.trade-value span.primary-line {
    color: #AAAAAA;
    font-size: 0.9em;
}

div.trade-value span.secondary-line {
    color: #888888;
    font-size: 0.8em;
}

.loop-step-buy {
    color: #c70039;
}

.loop-step-sell {
    color: darkgreen;
}

th.resource-col {
    width: 100px;
}

th.gauge-col {
    width: 80px;
}

td div.gauge-col {
    margin-left: auto;
    margin-right: auto;
}

th.profit-col {
    width: 100px;
}


th.loop-stat {
}