<span class="mobile-only">
    <h3>Routes for: [<span style="font-weight: bold">{{model.title}}</span>]</h3>
</span>
<p-table #recordTable [value]="model.getResources()" class="loop-record" [responsive]="true">
    <ng-template pTemplate="header">
        <ng-container *ngFor="let depth of [1,2]">
            <tr *ngIf="depth == 1">
                <th *ngFor="let step of model.getSteps()" attr.colspan="{{ step.getSubsteps().length }}">{{ step.destination.Name }}</th>
                <th class="resource-col"></th>
                <th class="gauge-col"></th>
                <th class="profit-col"></th>
            </tr>
            <tr *ngIf="depth == 2">
                <ng-container *ngFor="let step of model.getSteps()">
                    <th *ngFor="let substep of step.getSubsteps()">{{ substep.destination | tradeshop }}</th>
                </ng-container>
                <th>Resource</th>
                <th>Demand</th>
                <th>$/SCU (Profit)</th>
            </tr>
        </ng-container>
    </ng-template>
    <ng-template pTemplate="body" let-resource>
        <tr class="mobile-only">
            <span>Resource: [<span style="font-weight: bold">{{resource.item.Name}}</span>]</span>
        </tr>
        <tr>
            <ng-container *ngFor="let step of model.getSteps()">
                <td class="loop-record-trade" *ngFor="let substep of step.getSubsteps()">
                    <span class="ui-column-title inline-title">
                        Location: {{step.destination.Name}}
                        <br />
                        Shop: {{substep.destination | tradeshop}}
                    </span>
                    <div class="trade-container" *ngIf="substep.getEntry(resource.item.ID) as substepTrade">
                        <div class="trade-value" tisTooltip (onShowTooltip)="getLoopResourceStepTooltip($event, substepTrade)">
                            <span *ngIf="substepTrade.trade.Type == TradeType.Buy" class="nf nf-mdi-download loop-step-buy"></span>
                            <span *ngIf="substepTrade.trade.Type == TradeType.Sell" class="nf nf-mdi-upload loop-step-sell"></span>

                            <span class="primary-line">{{(substepTrade.trade.UnitCapacityRate/100) | scaleunit: false:' scu/M':'':1}}</span>
                            <br />
                            <span class="secondary-line">{{(substepTrade.trade.MinUnitPrice*100) | fmtMoney}} - {{(substepTrade.trade.MaxUnitPrice*100) | fmtMoney: false}}</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </td>
            </ng-container>
            <td class="loop-stat">
                <span class="ui-column-title inline-title">Resource: </span>
                <div class="loop-resource-summary">
                    {{resource.item.Name}}
                </div>
            </td>
            <td class="loop-stat">
                <span class="ui-column-title inline-title">Demand Ratio: </span>
                <div class="gauge-col">
                    <gauge [value]="resource.sale_ratio">
                        {{resource.demand_ratio | scaleunit: false:'':'':1}}
                    </gauge>
                </div>
            </td>
            <td class="loop-stat" tisTooltip (onShowTooltip)="getLoopResourceTooltip($event, resource)">
                <span class="ui-column-title inline-title">EST Profit/SCU: </span>
                <div>
                    {{resource.unit_profit_avg * 100 | fmtMoney}} - {{resource.unit_profit_max * 100 | fmtMoney}}
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
    </ng-template>
</p-table>
