<h1 class="header-font" style="text-align: center;">Shield Generators</h1>

<h4 *ngIf="!shieldList">Loading...</h4>

<div *ngIf="shieldList">
    <p-table #dt [value]="shieldList" [responsive]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="price-col" pSortableColumn="CheapestPrice">Price<p-sortIcon field="CheapestPrice"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="Size">Size<p-sortIcon field="Size"></p-sortIcon></th>
                <th style="width: 5%" pSortableColumn="Grade">Grade<p-sortIcon field="Grade"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Class">Class<p-sortIcon field="Class"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Properties.Heat.HeatActive">Active Heat<p-sortIcon field="Properties.Heat.HeatActive"></p-sortIcon></th>
                <th style="width: 15%;" class="center-col" colspan="2">Power</th>

                <th style="width: 10%" pSortableColumn="Properties.Shield.MaxShield">Max Shield<p-sortIcon field="Properties.Shield.MaxShield"></p-sortIcon></th>
                <th style="width: 10%" pSortableColumn="Properties.Shield.MaxRegenRate">Regen Rate<p-sortIcon field="Properties.Shield.MaxRegenRate"></p-sortIcon></th>
                <th style="width: 10%;" class="center-col" colspan="2">Recharge Delay</th>
                <th style="width: 20%;" class="center-col" colspan="3">Hardening<!--heh--></th>
            </tr>
            <tr>
                <th>
                    <p-checkbox label="Buyable" binary="true" (onChange)="UiUtils.buyableFilter(dt, $event)"></p-checkbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'Name', 'contains')">
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentSizes" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Size', 'in')"></p-multiSelect>
                </th>
                <th>
                    <p-multiSelect [options]="ClientData.EquipmentGrades" [filter]="false" defaultLabel="All" (onChange)="dt.filter($event.value, 'Grade', 'in')"></p-multiSelect>
                </th>
                <th></th>

                <th></th>
                <th pSortableColumn="Properties.Energy.PowerBase">Idle<p-sortIcon field="Properties.Energy.PowerBase"></p-sortIcon></th>
                <th pSortableColumn="Properties.Energy.PowerActive">Active<p-sortIcon field="Properties.Energy.PowerActive"></p-sortIcon></th>

                <th></th>
                <th></th>

                <th pSortableColumn="Properties.Shield.DamagedRegenDelay">Damaged<p-sortIcon field="Properties.Shield.DamagedRegenDelay"></p-sortIcon></th>
                <th pSortableColumn="Properties.Shield.DownedRegenDelay">Downed<p-sortIcon field="Properties.Shield.DownedRegenDelay"></p-sortIcon></th>

                <th pSortableColumn="Properties.Shield.HardenFactor">Factor<p-sortIcon field="Properties.Shield.HardenFactor"></p-sortIcon></th>
                <th pSortableColumn="Properties.Shield.HardenDuration">Duration<p-sortIcon field="Properties.Shield.HardenDuration"></p-sortIcon></th>
                <th pSortableColumn="Properties.Shield.HardenCooldown">Coodlown<p-sortIcon field="Properties.Shield.HardenCooldown"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-shield>
            <tr class="ui-selectable-row">
                <td><equipment-price [equipment]="shield"></equipment-price></td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Name: </span>{{shield.Name}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Size: </span>{{shield.Size}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Grade: </span>{{shield.Grade}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Class: </span>{{shield.Class}}
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Heat: </span>
                    {{shield.Properties.Heat.HeatActive | fmtGeneric:false:true}} <span class="nf nf-fa-thermometer_empty heat-color"></span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Idle Power: </span>
                    {{shield.Properties.Energy.PowerBase | fmtGeneric:false:true}} <span class="nf nf-weather-lightning power-color"></span>
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Active Power: </span>
                    {{shield.Properties.Energy.PowerActive | fmtGeneric:false:true}} <span class="nf nf-weather-lightning power-color"></span>
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Shields: </span>
                    {{shield.Properties.Shield.MaxShield | fmtGeneric:true:true:' sHP'}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Regen: </span>
                    {{shield.Properties.Shield.MaxRegenRate | fmtGeneric:true:true:' sHP/s'}}
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Delay: </span>
                    {{shield.Properties.Shield.DamagedRegenDelay | fmtGeneric:false:true:' s'}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Full-Empty Delay: </span>
                    {{shield.Properties.Shield.DownedRegenDelay | fmtGeneric:false:true:' s'}}
                </td>

                <td class="center-col">
                    <span class="ui-column-title inline-title">Hardening Factor: </span>
                    {{shield.Properties.Shield.HardenFactor * 100 | fmtMod}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Harden Duration: </span>
                    {{shield.Properties.Shield.HardenDuration | fmtGeneric:false:true:' s'}}
                </td>
                <td class="center-col">
                    <span class="ui-column-title inline-title">Harden Cooldown: </span>
                    {{shield.Properties.Shield.HardenCooldown | fmtGeneric:false:true:' s'}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>