<p-panel class="entry-outer entry-depth-{{depth}} {{entry.display_params.class}}">
    <p-header>
        <div class="loadout-header slot-details p-grid">
            <div class="p-col-fixed slot-size">
                <span>Size {{(entry.slot.min_size == entry.slot.max_size) ? '' : (entry.slot.min_size + '-')}}{{entry.slot.max_size}}:</span>
            </div>
            <div class="p-col slot-name">
                <span>{{entry.display_name}} </span>
                <ng-container *ngIf="entry.quantity > 1">
                    <span class="slot-count" tisTooltip (onShowTooltip)="getCollapsedIndicators($event)">
                        - {{ entry.quantity }} Slots
                    </span>
                </ng-container>
                <br />
                <span class="slot-types">{{ entry.types.join(", ") }}</span>
            </div>
            <div class="p-col-fixed slot-consumption">

                <span class="power" *ngIf="entry.slot.power_generate > 0">
                    <span class="nf nf-weather-lightning power-color"></span>
                    <span class="power-min">+{{ entry.slot.power_generate * entry.quantity | fmtGeneric }}</span>
                </span>


                <span class="power" *ngIf="entry.slot.power_draw > 0">
                    <span class="nf nf-weather-lightning power-color"></span>
                    <span class="power-min">{{ entry.slot.power_draw * entry.quantity | fmtGeneric }}</span>
                </span>
                <span class="power" *ngIf="entry.slot.generated_em > 0">
                    <span class="nf nf-mdi-magnet_on em-color"></span>
                    <span class="power-min">{{ entry.slot.generated_em * entry.quantity | fmtGeneric }}</span>
                </span>


                <span class="heat" *ngIf="entry.slot.heat_generate > 0">
                    <span class="nf nf-fa-thermometer_empty heat-color"></span>
                    <span class="heat-min">{{ entry.slot.heat_generate * entry.quantity | fmtGeneric }}</span>
                </span>
            </div>
        </div>
    </p-header>

    <div class="ui-g-12 slot-entry">

        <div class="p-grid" style="margin-left: 0">
            <div class="p-col-fixed" style="width: 50px">
                <div class="box">
                    <button pButton type="button"
                            label="x{{ entry.quantity }}" class="ui-button-raised"
                            [disabled]="true || entry.display_params.locked">
                    </button>
                </div>
            </div>
            <div class="p-col">
                <div class="box">
                    <equipment-selector [selectedEquipment]="entry.slot.attached_equipment"
                                        [disabled]="slot_locked"
                                        (onChange)="changeEquipment($event)"
                                        (populateEquipmentList)="populateEquipmentList($event)">
                    </equipment-selector>
                </div>
            </div>
            <div class="p-col-fixed" style="width: 50px" *ngIf="(!entry.display_params.locked) && (!slot_locked) && entry.slot.attached_equipment">
                <div class="box">
                    <button pButton type="button" [label]="" class="ui-button-raised" icon="nf nf-fa-shopping_cart" (click)="purchase()">
                    </button>
                </div>
            </div>
        </div>

        <div class="ui-g-12" *ngIf="entry.slot.attached_equipment; else noEquipment">
            <equipment-details [equipment]="entry.slot.attached_equipment" [quantity]="entry.quantity">
            </equipment-details>
        </div>

        <ng-template #noEquipment>
            <h3>Empty Slot</h3>
        </ng-template>

        <div class="ui-g-12" *ngIf="entry.children">
            <div class="entry-child" *ngFor="let child of entry.children">
                <loadout-entry [entry]="child" [depth]="depth + 1" (equipmentChanged)="equipmentChanged.emit($event)">

                </loadout-entry>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

</p-panel>