.entry-depth-0 {
    background-color: #353535;
}
.entry-depth-1 {
    background-color: #454545;
}
.entry-depth-2 {
    background-color: #555555;
}
.entry-depth-3 {
    background-color: #656565;
}

.slot-size {
    text-align: right;
    width: 60px;
}

.slot-size,
.slot-name,
.slot-types {
    float: left;
}

:host ::ng-deep .entry-outer.weapon .ui-panel-titlebar {
    background-color: #662222;
}
:host ::ng-deep .entry-outer.system .ui-panel-titlebar {
    background-color: #226666;
}
:host ::ng-deep .entry-outer.auxilary .ui-panel-titlebar {
    background-color: #222266;
}
:host ::ng-deep .entry-outer.propulsion .ui-panel-titlebar {
}



.bar-power,
.bar-heat {
    width: 10px;
    display: table-cell;
    position: relative;
}

    .bar-power .mini-bar-value {
        background-color: var(--energy-color)
    }

    .bar-heat .mini-bar-value {
        background-color: var(--heat-color)
    }

.entry-stats {
    width: 75px;
    text-align: center;
    border-right: 2px dashed white;
    display: table-cell;
}

    .slot-types {
        font-size: 0.7em;
    }

.slot-consumption {
    text-align: right;
}

.slot-consumption .nf {
    padding: 1px 4px 1px 8px;
    display: inline-block;
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


:host ::ng-deep .entry-outer > .ui-panel {
    padding: 0;
}

:host ::ng-deep .entry-outer .ui-panel .ui-panel-titlebar div {
    padding: 0.2em 0.1em 0.1em 0.1em;
}

.entry-title {
    padding-bottom: 5px;
}

.entry-slotname {
    font-size: 0.75em;
}

.slot-entry {
    min-height: 140px;
    padding: 0.5em 0 0 0;
}

.equipment-selected {
    font-weight: bold;
}

.equipment-name {
    float: left;
}

.equipment-stats {
    float: right;
}

.entry-equipment {
    font-size: 1.25em;
    line-height: 0;
    font-weight: bold;
    overflow-x: visible;
    text-wrap: normal;
}

.entry-extra {
    width: 50px;
    background-color: #858585;
    display: table-cell;
    text-align: center;
}

.entry-child {
    width: 100%;
    padding-left: 30px;
}

.mini-bar {
    border-radius: 2px;
    overflow: hidden;
    background-color: black;
    position: absolute;
    left: 1px;
    right: 1px;
    height: 100%;
}

.mini-bar-value {
    display: block;
    padding: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.quantity {
    font-size: 1.8em;
    text-decoration: underline;
}