﻿<!--
<p-tree [value]="tree_node" selectionMode="single" [(selection)]="selected_node"
    (onNodeSelect)="nodeSelect($event)" (onNodeExpand)="loadNode($event); updateData()"></p-tree>
<br />
<div *ngIf="selected_node">
    <span>Name: {{selected_node.data.Name}}</span>
    <br />
    <span>X: {{selected_node.data.position.x}}</span>
    <br />
    <span>Y: {{selected_node.data.position.y}}</span>
    <br />
    <span>Z: {{selected_node.data.position.z}}</span>
    <br />
    <span>RX: {{selected_node.data.rotation.x / Math.PI * 180}}</span>
    <br />
    <span>RY: {{selected_node.data.rotation.y / Math.PI * 180}}</span>
    <br />
    <span>RZ: {{selected_node.data.rotation.z / Math.PI * 180}}</span>
    <br />
    <span>SX: {{selected_node.data.scale.x}}</span>
    <br />
    <span>SY: {{selected_node.data.scale.y}}</span>
    <br />
    <span>SZ: {{selected_node.data.scale.z}}</span>
    <br />
</div>
-->
<div style='height: 100%; width: 100%;float: left;'>
    <div #innerContainer id="innerContainer" style="width: 500px; height: 500px;position: relative">
        <!--Fill-->
        <div style='top: 0; left: 0; right: 0; bottom: 0; position: absolute'>
            <canvas #canvas id='canvas' style="width: 100%; height: 100%; outline: none" tabindex="1">
            </canvas>
        </div>
        <!--Top-Right-->
        <div style="top: 0; right: 0; position: absolute">
            <div #stats id='stats' style="float: right">
            </div>
            <br/>
            <div *ngIf="loading" style="float: right">
                <p-progressBar [style]="{'height': '20px'}" [value]="loader_progress * 100" [showValue]="false" styleClass="ui-progressbar-value-instant"></p-progressBar>
                <span>{{ loader_completed }} / {{ loader_total }} Models Downloaded</span>
            </div>
        </div>
        <!--Bottom-Left-->
        <div #loader id="loader" style="bottom: 0.25em; left: 0.25em; position: absolute">
            <div style="float: left">
                <a href="#" (click)="$event.preventDefault(); loadout_visible = !loadout_visible;" style="font-size: 2em; padding: .2em">
                    <span tisTooltip tooltipContent="Loadout Editor" class="nf nf-mdi-wrench"></span>
                </a>
                <br />
                <a href="#" (click)="$event.preventDefault(); goFullscreen();" style="font-size: 2em; padding: .2em">
                    <span tisTooltip tooltipContent="Toggle Fullscreen" class="nf nf-mdi-fullscreen"></span>
                </a>
                <br />
                <a href="#" (click)="$event.preventDefault(); takeScreenshot();" style="font-size: 2em; padding: .2em">
                    <span tisTooltip tooltipContent="Take Screenshot" class="nf nf-mdi-camera"></span>
                </a>
            </div>
        </div>
        <div style="bottom: 0.25em; left: 3em; position: absolute">
            <div>
                <span tisTooltip tooltipContent="Front Left/Port" class="camera-control nf nf-mdi-arrow_bottom_right" (click)="moveCamera('frontleft')"></span>
                <span tisTooltip tooltipContent="Front Center" class="camera-control nf nf-mdi-arrow_down" (click)="moveCamera('front')"></span>
                <span tisTooltip tooltipContent="Front Right/Starboard" class="camera-control nf nf-mdi-arrow_bottom_left" (click)="moveCamera('frontright')"></span>
            </div>
            <div>
                <span tisTooltip tooltipContent="Left/Port" class="camera-control nf nf-mdi-arrow_right" (click)="moveCamera('left')"></span>
                <span tisTooltip tooltipContent="Above" class="camera-control nf nf-mdi-airplane" (click)="moveCamera('top')"></span>
                <span tisTooltip tooltipContent="Right/Starboard" class="camera-control nf nf-mdi-arrow_left" (click)="moveCamera('right')"></span>
            </div>
            <div>
                <span tisTooltip tooltipContent="Rear Left/Port" class="camera-control nf nf-mdi-arrow_top_right" (click)="moveCamera('backleft')"></span>
                <span tisTooltip tooltipContent="Rear Center" class="camera-control nf nf-mdi-arrow_up" (click)="moveCamera('back')"></span>
                <span tisTooltip tooltipContent="Rear Right/Starboard" class="camera-control nf nf-mdi-arrow_top_left" (click)="moveCamera('backright')"></span>
            </div>
        </div>

        <!--Top-Left-->
        <div #shipgui id="shipgui" style="top: 0; left: 0; position: absolute">
        </div>

        <!--Bottom-Right-->
        <div style="bottom: 0; right: 0; position: absolute; width: 50%; max-width: 500px; max-height: 700px; overflow-y: scroll" [ngStyle]="{'display': loadout_visible ? '' : 'none'}">
            <p-treeTable [value]="hierarchy_root" selectionMode="single" [(selection)]="selected_bound" dataKey="id"
                         (onNodeSelect)="boundSelect($event)" (onNodeExpand)="updateData($event)" (onNodeCollapse)="updateData($event)"
                         [loading]="loading">
                <ng-template pTemplate="caption">
                    <span *ngIf="loaded_ship && loaded_ship.bound_loadout_root">
                        Ship Loadout - {{ loaded_ship.bound_loadout_root.name }}
                    </span>
                    <span *ngIf="!(loaded_ship && loaded_ship.bound_loadout_root)">
                        No Ship Loaded.
                    </span>
                    <span style="float: right; margin-top: -7px;">
                        <a href="#" tisTooltip tooltipContent="Close Loadout" (click)="$event.preventDefault(); loadout_visible = false;" style="font-size: 1em; padding: .2em">
                            <span class="nf nf-mdi-close"></span>
                        </a>
                    </span>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th width="50%">Name</th>
                        <th width="50%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                    <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                        <td>
                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                            {{ rowData.name }}
                        </td>
                        <td>
                            <span *ngIf="rowData && rowData.slot.editable">
                                <equipment-selector [selectedEquipment]="rowData.equipment"
                                                    [disabled]="false"
                                                    (onChange)="changeEquipment(rowData, $event)"
                                                    (populateEquipmentList)="populateEquipmentList(rowData, $event)">
                                </equipment-selector>
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>
    </div>
</div>