<h1 class="header-font" style="text-align: center;">Traverse the Verse!</h1>

<p-panel header="Filters" [toggleable]="true">

    <div class="ui-g">


        <div class="ui-g-6 ui-md-6 ui-sm-12">
            <div class="ui-g-12 nopad">
                <span>
                    <span>Required Services:</span>
                </span>
            </div>

            <div class="ui-g-12 nopad" style="padding-left: 2em">
                <p-selectButton class="service-filter" [options]="serviceFilterOptions" [(ngModel)]="selectedFilterOptions" multiple="multiple" (onChange)="refreshFilter()">
                    <ng-template let-item>
                        <div class="service-filter">
                            <span #serviceFilterBtn tisTooltip tooltipContent="{{item.label}}" class="{{item.icon}}"></span>
                        </div>
                    </ng-template>
                </p-selectButton>
            </div>
        </div>


        <div class="ui-g-2 ui-md-2 ui-sm-12">
            <div class="ui-g-12 nopad">
                <span>
                    <span>Any/All:</span>
                </span>
            </div>

            <div class="ui-g-12 nopad">
                <p-toggleButton onLabel="All Selected" onIcon="nf nf-mdi-set_center"
                                offLabel="Any Selected" offIcon="nf nf-mdi-set_all" [(ngModel)]="filterAllServices" (onChange)="refreshFilter()">
                </p-toggleButton>
            </div>
        </div>


        <div class="ui-g-4 ui-md-4 ui-sm-12">
            <div class="ui-g-12 nopad">
                <span class="preference-details">
                    <span>
                        <span>Minimum pad size:</span>
                    </span>
                </span>
            </div>

            <div class="ui-g-12 nopad">
                <p-selectButton #padFilterBtn [(ngModel)]="filterPadSize" [options]="ClientData.SizeFilterOptions" (onChange)="refreshFilter()"></p-selectButton>
            </div>
        </div>
    </div>

</p-panel>




<p-treeTable #locationTree [value]="locations" [columns]="sortColumns"
             sortMode="multiple" [multiSortMeta]="multiSortMeta"
             [(selection)]="selectedLocation" dataKey="ID">
    <ng-template pTemplate="header" let-columns>
        <!--
        <tr>
            <th class="service-column"></th>

            <ng-container *ngFor="let serviceGroup of serviceGroups">
                <th tisTooltip tooltipContent="{{serviceGroup.description}}" class="service-group sc-med-less" colspan="1"><span class="{{serviceGroup.icon}}"></span></th>
            </ng-container>

            <ng-container *ngFor="let serviceGroup of serviceGroups">
                <th attr.colspan="{{serviceGroup.services.length}}" class="sc-lg-plus" style="text-align: center" [style.width.px]="serviceGroup.services.length * 40">{{serviceGroup.header}}</th>
            </ng-container>

            <th colspan="1" style="width: 100px"></th>
            <th class="service-column" colspan="1"></th>
            <th colspan="2" style="width: auto">Details</th>
        </tr>
        -->
        <tr style="border-bottom: 3px solid black;">
            <th tisTooltip tooltipContent="Hidden Location" style="width: 40px"><span class="nf nf-fa-eye_slash"></span></th>

            <ng-container *ngFor="let serviceGroup of serviceGroups">
                <th tisTooltip tooltipContent="{{serviceGroup.description}}" class="service-group sc-med-less" colspan="1">{{serviceGroup.header}}</th>
            </ng-container>

            <ng-container *ngFor="let serviceGroup of serviceGroups">
                <ng-container *ngFor="let serviceCol of serviceGroup.services">
                    <th tisTooltip tooltipContent="{{serviceCol.service | serviceflag}}" class="sc-lg-plus" colspan="1" style="width: 40px">
                        <span class="{{serviceCol.icon}}"></span>
                    </th>
                </ng-container>
            </ng-container>


            <th class="expand-col"></th>

            <th tisTooltip tooltipContent="Location Type" style="width: 40px"></th>
            <th [ttSortableColumn]="'Name'">
                Name
                <p-treeTableSortIcon field="Name"></p-treeTableSortIcon>
            </th>
            <th ttSortableColumn="LocationType" class="sc-lg-plus">
                Location Type
                <p-treeTableSortIcon field="LocationType"></p-treeTableSortIcon>
            </th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr *ngIf="rowData.keep" [ttRow]="rowNode" [ttSelectableRow]="rowNode" [ngClass]="rowData.class">
            <td>
                <span *ngIf="rowData.IsHidden" class="service-column nf nf-fa-eye_slash"></span>
            </td>

            <ng-container *ngFor="let serviceGroup of serviceGroups">
                <td class="service-group sc-med-less">
                    <span tisTooltip (onShowTooltip)="UiUtils.listServicesTooltip(rowData, serviceGroup, $event)" *ngIf="ModelUtils.hasAnyService(rowData.ServiceFlags, serviceGroup.groupServices)" class="service-column {{serviceGroup.icon}}"></span>
                </td>
            </ng-container>

            <ng-container *ngFor="let serviceGroup of serviceGroups">
                <ng-container *ngFor="let serviceCol of serviceGroup.services">
                    <td class="service-column sc-lg-plus">
                        <span tisTooltip (onShowTooltip)="UiUtils.showServiceTooltip(rowData, serviceCol, $event)" *ngIf="ModelUtils.hasServices(rowData.ServiceFlags, serviceCol.service)" class="service-column {{serviceCol.icon}}"></span>
                    </td>
                </ng-container>
            </ng-container>

            <td>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            </td>
            <td>
                <div tisTooltip tooltipContent='{{ rowData.LocationType | locationType }}' [ngSwitch]="rowData.LocationType">
                    <span *ngSwitchCase="LocationType.Planet" class="service-column nf nf-large nf-mdi-earth"></span>
                    <span *ngSwitchCase="LocationType.Star" class="service-column nf nf-large nf-fa-sun_o"></span>
                    <span *ngSwitchCase="LocationType.Moon" class="service-column nf nf-large nf-fa-moon_o"></span>
                    <span *ngSwitchCase="LocationType.AsteroidField" class="service-column nf nf-large nf-weather-stars"></span>
                    <span *ngSwitchCase="LocationType.LandingZone" class="service-column nf nf-large nf-mdi-airplane_landing"></span>
                    <span *ngSwitchCase="LocationType.Outpost" class="service-column nf nf-large nf-mdi-sign_direction"></span>
                    <span *ngSwitchCase="LocationType.Manmade" class="service-column nf nf-large nf-mdi-city"></span>
                    <span *ngSwitchCase="LocationType.Store" class="service-column nf nf-large nf-mdi-store"></span>
                    <span *ngSwitchDefault class="service-column"></span>
                </div>
                <span>

                </span>
            </td>
            <td>
                {{rowData.Name}}
            </td>
            <td class="sc-lg-plus">{{rowData.LocationType | locationType}}</td>

        </tr>
    </ng-template>
</p-treeTable>
