/* Custom styles */

tr th {
    text-align: center;
}

th.service-column {
    width: 40px;
}

tr span.nf {
    line-height: 0.5em;
    position: relative;
}

span.service-column {
    text-align: center;
}

tr th.service-group {
    width: 10%;
    text-align: center;
}

td.service-group {
    text-align: center;
}

div.service-filter {
    width: 38px;
}

.row-depth-0 td {
    background-color: #353535;
}
.row-depth-1 td {
    background-color: #454545;
}
.row-depth-2 td {
    background-color: #555555;
}
.row-depth-3 td {
    background-color: #656565;
}
.row-depth-4 td {
    background-color: #757575;
}
.row-depth-5 td {
    background-color: #858585;
}
.row-depth-5 td {
    background-color: #959595;
}
.row-depth-6 td {
    background-color: #A5A5A5;
}

:host::ng-deep .service-filter .ui-button.ui-button-text-icon-left .ui-button-text
:host::ng-deep .service-filter .ui-button.ui-button-text-icon-right .ui-button-text {
    padding: 0.429em .2em 0.429em .05em;
}

@media screen and (max-width: 40em){
    :host::ng-deep .ui-treetable .ui-treetable-tbody > tr > td a.ui-treetable-toggler {
        margin-left: 0px !important; /* Override the indenting primeng provides */
    }

    th.expand-col {
        width: 40px;
    }
}

@media not screen, (min-width: 40em) {
    th.expand-col {
        width: 100px;
    }
}